/*---------- Reset Styles ----------*/
* {border-radius:0 !important}
body {color:#353535;font-size:13px;line-height:1.6;font-family:'NanumBarunGothic',Dotum,Arial,sans-serif}
p,li,li a {color:#252525;word-break:keep-all}
a {color:#000;text-decoration:none}
a,a:focus,a:hover,a:active {outline:0 !important}
a:focus {color:#1473E6;text-decoration:none}
a:hover {color:#1473E6;text-decoration:none}
hr {display:inherit}
hr.hr-margin-lr {margin-left:-15px;margin-right:-15px}
ul, li {list-style: none;}

/*Headings*/
h1 {font-size:30px}
h2 {font-size:26px}
h3 {font-size:22px}
h4 {font-size:18px}
h5 {font-size:15px}
h6 {font-size:13px}
h1,h2,h3,h4,h5,h6 {color:#252525;line-height:1.2;text-shadow:none;font-family:'NanumBarunGothic',Dotum,Arial,sans-serif}

/*Font Size*/
.font-size-11 {font-size:11px}
.font-size-12 {font-size:12px}
.font-size-13 {font-size:13px}
.font-size-14 {font-size:14px}
.font-size-15 {font-size:15px}
.font-size-16 {font-size:16px}
.font-size-17 {font-size:17px}
.font-size-18 {font-size:18px}
.font-size-19 {font-size:19px}
.font-size-20 {font-size:20px}
.font-size-25 {font-size:25px}
.font-size-30 {font-size:30px}

/*Font Weight*/
.font-bold {font-weight:bold !important}
.font-normal {font-weight:normal !important}

/*Font Style*/
.font-style-normal {font-style:normal !important}

/*Text Ellipsis*/
.ellipsis {display:block;overflow:hidden;white-space:nowrap;word-wrap:normal;text-overflow:ellipsis;-o-text-overflow:ellipsis}

/*Display Block*/
.display-block {display:block}
.display-inline-block {display:inline-block}
.inline-mix .display-inline-block {display:inline-block !important}

/*Position & Overflow*/
.position-relative {position:relative}
.overflow-hidden {overflow:hidden}

/*Outline*/
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, .close:focus, .close:hover, .dropdown-menu>li>a, .form-control:focus, .nav>li>a:focus, a, a:focus, button, input, input[type=radio]:focus, input[type=checkbox]:focus, input[type=file]:focus, textarea {outline:0}

/*Width*/
.width-10 {width:10% !important}
.width-20 {width:20% !important}
.width-30 {width:30% !important}
.width-40 {width:40% !important}
.width-50 {width:50% !important}
.width-60 {width:60% !important}
.width-70 {width:70% !important}
.width-80 {width:80% !important}
.width-90 {width:90% !important}
.width-100 {width:100% !important}
.width-10px {width:10px !important}
.width-20px {width:20px !important}
.width-30px {width:30px !important}
.width-40px {width:40px !important}
.width-50px {width:50px !important}
.width-60px {width:60px !important}
.width-70px {width:70px !important}
.width-80px {width:80px !important}
.width-90px {width:90px !important}
.width-100px {width:100px !important}
.width-120px {width:120px !important}
.width-150px {width:150px !important}
.width-170px {width:170px !important}
.width-200px {width:200px !important}
.width-250px {width:250px !important}
.width-300px {width:300px !important}
.width-350px {width:350px !important}
.width-400px {width:400px !important}
.width-450px {width:450px !important}
.width-500px {width:500px !important}

/*---------- Spaces ----------*/
.margin-0 {margin:0 !important}
.margin-left-0 {margin-left:0}
.margin-right-0 {margin-right:0}
.margin-left-5 {margin-left:5px}
.margin-right-5 {margin-right:5px}
.margin-left-10 {margin-left:10px}
.margin-right-10 {margin-right:10px}
.no-top-space {margin-top:0;padding-top:0}
.no-bottom-space {margin-bottom:0;padding-bottom:0}
.margin-top-0, .margin-top-5,.margin-top-10,.margin-top-15,.margin-top-20,.margin-top-25,.margin-top-30,.margin-top-35,.margin-top-40,.margin-top-45,.margin-top-50,.margin-top-55,.margin-top-60 {clear:both}
.margin-top-0 {margin-top:0 !important}
.margin-top-5 {margin-top:5px}
.margin-top-10 {margin-top:10px}
.margin-top-15 {margin-top:15px}
.margin-top-20 {margin-top:20px}
.margin-top-25 {margin-top:25px}
.margin-top-30 {margin-top:30px}
.margin-top-35 {margin-top:35px}
.margin-top-40 {margin-top:40px}
.margin-top-45 {margin-top:45px}
.margin-top-50 {margin-top:50px}
.margin-top-55 {margin-top:55px}
.margin-top-60 {margin-top:60px}
.margin-bottom-0,.margin-bottom-5,.margin-bottom-10,.margin-bottom-15,.margin-bottom-20,.margin-bottom-25,.margin-bottom-30,.margin-bottom-35,.margin-bottom-40,.margin-bottom-45,.margin-bottom-50,.margin-bottom-55,.margin-bottom-60 {clear:both}
.margin-bottom-0 {margin-bottom:0 !important}
.margin-bottom-5 {margin-bottom:5px}
.margin-bottom-10 {margin-bottom:10px}
.margin-bottom-15 {margin-bottom:15px}
.margin-bottom-20 {margin-bottom:20px}
.margin-bottom-25 {margin-bottom:25px}
.margin-bottom-30 {margin-bottom:30px}
.margin-bottom-35 {margin-bottom:35px}
.margin-bottom-40 {margin-bottom:40px}
.margin-bottom-45 {margin-bottom:45px}
.margin-bottom-50 {margin-bottom:50px}
.margin-bottom-55 {margin-bottom:55px}
.margin-bottom-60 {margin-bottom:60px}
@media (max-width: 768px) {
	.sm-margin-bottom-10 {margin-bottom:10px}
	.sm-margin-bottom-20 {margin-bottom:20px}
	.sm-margin-bottom-30 {margin-bottom:30px}
	.sm-margin-bottom-40 {margin-bottom:40px}
	.sm-margin-bottom-50 {margin-bottom:50px}
	.sm-margin-bottom-60 {margin-bottom:60px}
}
@media (max-width: 992px) {
	.md-margin-bottom-10 {margin-bottom:10px}
	.md-margin-bottom-20 {margin-bottom:20px}
	.md-margin-bottom-30 {margin-bottom:30px}
	.md-margin-bottom-40 {margin-bottom:40px}
	.md-margin-bottom-50 {margin-bottom:50px}
	.md-margin-bottom-60 {margin-bottom:60px}
}
.margin-hr-5 {height:1px;border-top:1px dotted #e5e5e5;margin:5px 0}
.margin-hr-10 {height:1px;border-top:1px dotted #e5e5e5;margin:10px 0}
.margin-hr-15 {height:1px;border-top:1px dotted #e5e5e5;margin:15px 0}
.margin-hr-20 {height:1px;border-top:1px dotted #e5e5e5;margin:20px 0}
.margin-hr-25 {height:1px;border-top:1px dotted #e5e5e5;margin:25px 0}
.margin-hr-30 {height:1px;border-top:1px dotted #e5e5e5;margin:30px 0}
.margin-hr-35 {height:1px;border-top:1px dotted #e5e5e5;margin:25px 0}
.margin-hr-40 {height:1px;border-top:1px dotted #e5e5e5;margin:30px 0}
.padding-0 {padding:0 !important}
.padding-5 {padding:5px !important}
.padding-10 {padding:10px !important}
.padding-15 {padding:15px !important}
.padding-20 {padding:20px !important}
.padding-25 {padding:25px !important}
.padding-30 {padding:30px !important}
.padding-35 {padding:35px !important}
.padding-40 {padding:40px !important}
.padding-45 {padding:45px !important}
.padding-50 {padding:50px !important}
.padding-55 {padding:55px !important}
.padding-60 {padding:60px !important}
.padding-top-5 {padding-top:5px}
.padding-top-10 {padding-top:10px}
.padding-top-15 {padding-top:15px}
.padding-top-20 {padding-top:20px}
.padding-top-25 {padding-top:25px}
.padding-top-30 {padding-top:30px}
.padding-top-35 {padding-top:35px}
.padding-top-40 {padding-top:40px}
.padding-top-45 {padding-top:45px}
.padding-top-50 {padding-top:50px}
.padding-top-55 {padding-top:55px}
.padding-top-60 {padding-top:60px}
.padding-bottom-5 {padding-bottom:5px}
.padding-bottom-10 {padding-bottom:10px}
.padding-bottom-15 {padding-bottom:15px}
.padding-bottom-20 {padding-bottom:20px}
.padding-bottom-25 {padding-bottom:25px}
.padding-bottom-30 {padding-bottom:30px}
.padding-bottom-35 {padding-bottom:35px}
.padding-bottom-40 {padding-bottom:40px}
.padding-bottom-45 {padding-bottom:45px}
.padding-bottom-50 {padding-bottom:50px}
.padding-bottom-55 {padding-bottom:55px}
.padding-bottom-60 {padding-bottom:60px}

/*---------- Rounded and Circle Classes ----------*/
.rounded {border-radius:2px !important}
.rounded-x {border-radius:50% !important}
.rounded-2x {border-radius:5px !important}
.rounded-3x {border-radius:10px !important}
.rounded-4x {border-radius:15px !important}
.rounded-5x {border-radius:20px !important}

/*---------- Typography ----------*/
/*Text Colors*/
.text-white {color:#FFF !important}
.text-black {color:#000 !important}
.color-white {color:#FFF !important}
.color-black {color:#000 !important}
.color-grey {color:#959595}
.color-dark {color:#676769}
.color-red {color:#FF4848}
.color-blue {color:#53A5FA}
.color-green {color:#73B852}
.color-yellow {color:#FDAB29}
.color-purple {color:#907EEC}
.color-brown {color:#8C6E63}
.color-orange {color:#FF6F42}
.color-indigo {color:#6284F3}
.color-teal {color:#14BAA8}
.color-pink {color:#ED407A}
.color-light-grey {color:#d5d5d5}

/*Text Highlights*/
.text-hl {color:#FFF;padding:1px 8px;margin:0 3px;font-size:0.84em;background:#676769}
.text-hl-light {background:#B5B5B5}
.text-hl-dark {background:#4B4B4D}
.text-hl-red {background:#FF4848}
.text-hl-blue {background:#53A5FA}
.text-hl-green {background:#73B852}
.text-hl-yellow {background:#FDAB29}
.text-hl-purple {background:#907EEC}
.text-hl-brown {background:#8C6E63}
.text-hl-orange {background:#FF6F42}
.text-hl-indigo {background:#6284F3}
.text-hl-teal {background:#14BAA8}
.text-hl-pink {background:#ED407A}

/*Text Borders*/
.text-underline-grey {border-bottom:solid 1px #B5B5B5}
.text-underline-dark {border-bottom:solid 1px #676769}
.text-underline-red {border-bottom:solid 1px #FF4848}
.text-underline-blue {border-bottom:solid 1px #53A5FA}
.text-underline-green {border-bottom:solid 1px #73B852}
.text-underline-yellow {border-bottom:solid 1px #FDAB29}
.text-underline-purple {border-bottom:solid 1px #907EEC}
.text-underline-brown {border-bottom:solid 1px #8C6E63}
.text-underline-orange {border-bottom:solid 1px #FF6F42}
.text-underline-indigo {border-bottom:solid 1px #6284F3}
.text-underline-teal {border-bottom:solid 1px #14BAA8}
.text-underline-pink {border-bottom:solid 1px #ED407A}

/*Contextual Backgrounds*/
.cont-text-bg p {padding:10px}
.bg-primary {background-color:#86A0F7;color:#FFF}
.bg-success {background-color:#E8F5E9;color:#205823}
.bg-info {background-color:#E3F2FD;color:#104d92}
.bg-warning {background-color:#FFF3E0;color:#aa3510}
.bg-danger {background-color:#FBE9E7;color:#9c1f1f}
a.bg-primary:hover {background-color:#7391F5;color:#FFF}
a.bg-success:hover {background-color:#d6edd8;color:#205823}
a.bg-info:hover {background-color:#cbe7fb;color:#104d92}
a.bg-warning:hover {background-color:#ffe9c6;color:#aa3510}
a.bg-danger:hover {background-color:#f7d5d1;color:#9c1f1f}

/*Blockquote*/
blockquote {padding:5px 15px;border-left-width:3px}
blockquote p {font-size:13px}
.blockquote-reverse, blockquote.pull-right {border-right-width:3px}

/*Blockquote Styles*/
blockquote.bq-grey {border-color:#B5B5B5}
blockquote.bq-dark {border-color:#676769}
blockquote.bq-red {border-color:#FF4848}
blockquote.bq-blue {border-color:#53A5FA}
blockquote.bq-green {border-color:#73B852}
blockquote.bq-yellow {border-color:#FDAB29}#a19789
blockquote.bq-purple {border-color:#907EEC}
blockquote.bq-brown {border-color:#8C6E63}
blockquote.bq-orange {border-color:#FF6F42}
blockquote.bq-indigo {border-color:#6284F3}
blockquote.bq-teal {border-color:#14BAA8}
blockquote.bq-pink {border-color:#ED407A}

/*Blockquote Hero Styles*/
blockquote.hero {border:none;padding:10px 15px;background:#F8F8F8;border-left:solid 3px #B5B5B5}
blockquote.hero-right {border:none;padding:10px 15px;background:#F8F8F8;border-right:solid 3px #B5B5B5;text-align:right}
blockquote.hero:hover {background:#F5F5F5;border-color:#959595}
blockquote.hero-bg-grey {background:#B5B5B5}
blockquote.hero-bg-dark {background:#4B4B4D}
blockquote.hero-bg-red {background:#FF4848}
blockquote.hero-bg-blue {background:#53A5FA}
blockquote.hero-bg-green {background:#73B852}
blockquote.hero-bg-yellow {background:#FDAB29}
blockquote.hero-bg-purple {background:#907EEC}
blockquote.hero-bg-brown {background:#8C6E63}
blockquote.hero-bg-orange {background:#FF6F42}
blockquote.hero-bg-indigo {background:#6284F3}
blockquote.hero-bg-teal {background:#14BAA8}
blockquote.hero-bg-pink {background:#ED407A}
blockquote[class*=hero-bg] {border:none;padding:10px 15px;color:#FFF;opacity:0.75}
blockquote[class*=hero-bg]:hover {opacity:1}
blockquote[class*=hero-bg] a, blockquote[class*=hero-bg] p, blockquote[class*=hero-bg] li, blockquote[class*=hero-bg] h1, blockquote[class*=hero-bg] h2, blockquote[class*=hero-bg] h3, blockquote[class*=hero-bg] h4, blockquote[class*=hero-bg] h5, blockquote[class*=hero-bg] h6 {color:#FFF}

/*Alert*/
.alert {padding:10px 15px}
.alert h1, .alert h2, .alert h3, .alert h4, .alert h5, .alert h6 {margin-top:0;color:inherit}
.alert-primary {background:#86A0F7;color:#FFF;border-color:#6988EE}
.alert-info {background:#E3F2FD;color:#104D92;border-color:#7AC1F3}
.alert-success {background:#E8F5E9;color:#205823;border-color:#93D398}
.alert-warning {background:#FFF3E0;color:#AA3510;border-color:#ECB45A}
.alert-danger {background:#FBE9E7;color:#9c1F1F;border-color:#F3A198}
.alert-info ul, .alert-info ol, .alert-success ul, .alert-success ol, .alert-warning ul, .alert-warning ol, .alert-danger ul, .alert-danger ol {-webkit-padding-start:20px;margin-bottom:0}
.alert-primary li, .alert-primary p {color:#FFF}
.alert-info li, .alert-info p {color:#104D92}
.alert-success li, .alert-success p {color:#205823}
.alert-warning li, .alert-warning p {color:#AA3510}
.alert-danger li, .alert-danger p {color:#9c1F1F}

/*Tooltip & Popover*/
.tooltip > .tooltip-inner {border-radius:2px !important}
.popover {border-radius:2px !important}

/*Headline*/
.headline {display:block;margin:0 0 15px;border-bottom:1px dotted #ddd}
.headline h1,.headline h2,.headline h3,.headline h4,.headline h5,.headline h6 {margin:0 0 -1px;padding:5px 2px;display:inline-block;border-bottom:1px solid #FF4848}

/*Headline Short*/
.headline-short {position:relative}
.headline-short h1,.headline-short h2,.headline-short h3,.headline-short h4,.headline-short h5,.headline-short h6 {position:relative;margin:0 0 25px}
.headline-short h1:after,.headline-short h2:after,.headline-short h3:after,.headline-short h4:after,.headline-short h5:after,.headline-short h6:after {content:"";display:block;position:absolute;bottom:-10px;left:0;width:15px;height:2px;background:#FF4848}
.headline-short .headline-btn {position:absolute;top:0;right:0}
@media (max-width:500px) {
	.headline-short.headline-btn h1,.headline-short.headline-btn h2,.headline-short.headline-btn h3,.headline-short.headline-btn h4,.headline-short.headline-btn h5,.headline-short.headline-btn h6 {width:200px}
}

/*Heading*/
.heading {text-align:center}
.heading h2,.heading h4 {padding:0 12px;position:relative;display:inline-block;line-height:30px}
.heading h2:before,.heading h2:after,.heading h4:before,.heading h4:after {content:"";width:70%;position:absolute;border-width:1px;border-color:#D5D5D5}
.heading h2:before,.heading h4:before {right:100%}
.heading h2:after,.heading h4:after {left:100%}
@media (max-width: 768px) {
	.heading h2:before,.heading h2:after,.heading h4:before,.heading h4:after {width:20%}
}
.heading-e1 h2:before,.heading-e1 h2:after {top:12px;height:6px;border-top-style:solid;border-bottom-style:solid}
.heading-e1 h4:before,.heading-e1 h4:after {top:12px;height:6px;border-top-style:solid;border-bottom-style:solid}
.heading-e2 h2:before,.heading-e2 h2:after {top:12px;height:6px;border-top-style:dashed;border-bottom-style:dashed}
.heading-e2 h4:before,.heading-e2 h4:after {top:12px;height:6px;border-top-style:dashed;border-bottom-style:dashed}
.heading-e3 h2:before,.heading-e3 h2:after {top:12px;height:6px;border-top-style:dotted;border-bottom-style:dotted}
.heading-e3 h4:before,.heading-e3 h4:after {top:12px;height:6px;border-top-style:dotted;border-bottom-style:dotted}
.heading-e4 h2:before,.heading-e4 h2:after {top:14px;border-bottom-style:solid}
.heading-e4 h4:before,.heading-e4 h4:after {top:14px;border-bottom-style:solid}
.heading-e5 h2:before,.heading-e5 h2:after {top:14px;border-bottom-style:dashed}
.heading-e5 h4:before,.heading-e5 h4:after {top:14px;border-bottom-style:dashed}
.heading-e6 h2:before,.heading-e6 h2:after {top:14px;border-bottom-style:dotted}
.heading-e6 h4:before,.heading-e6 h4:after {top:14px;border-bottom-style:dotted}

/*---------- Background Color ----------*/
.background-white {background:#FFF !important}
.background-black {background:#000 !important}
.bg-white {background-color:#F2F2F2 !important;color:#555555}
a.bg-white:hover {background-color:#E3E3E3 !important}
.bg-white.light {background-color:#F7F7F7 !important}
.bg-white.lighter {background-color:#FFF !important}
.bg-white.dark {background-color:#EBEBEB !important}
.bg-white.darker {background-color:#E3E3E3 !important}
.bg-light {background-color:#B5B5B5 !important;color:#FFF}
a.bg-light:hover {background-color:#949494 !important}
.bg-light.light {background-color:#C4C4C4 !important}
.bg-light.lighter {background-color:#D6D6D6 !important}
.bg-light.dark {background-color:#A6A6A6 !important}
.bg-light.darker {background-color:#959595 !important}
.bg-dark {background-color:#4B4B4D !important;color:#f1f1ff}
a.bg-dark:hover {background-color:#2B2B2E !important}
.bg-dark.light {background-color:#59595B !important}
.bg-dark.lighter {background-color:#676769 !important}
.bg-dark.dark {background-color:#3C3C3E !important}
.bg-dark.darker {background-color:#2B2B2E !important}
.bg-dark .open > a,.bg-dark .open > a:focus,.bg-dark .open > a:hover {color:#FFF}
.bg-red {background-color:#FF4848 !important;color:#ffeef0}
a.bg-red:hover {background-color:#FD1717 !important}
.bg-red.light {background-color:#FF5B5B !important}
.bg-red.lighter {background-color:#FF7070 !important}
.bg-red.dark {background-color:#FC3333 !important}
.bg-red.darker {background-color:#FD1717 !important}
.bg-red .open > a,.bg-red .open > a:focus,.bg-red .open > a:hover {color:#FFF}
.bg-blue {background-color:#53A5FA !important;color:#eaf5ff}
a.bg-blue:hover {background-color:#268DF9 !important}
.bg-blue.light {background-color:#69B0FA !important}
.bg-blue.lighter {background-color:#80BCFA !important}
.bg-blue.dark {background-color:#3D9AFA !important}
.bg-blue.darker {background-color:#268DF9 !important}
.bg-blue .open > a,.bg-blue .open > a:focus,.bg-blue .open > a:hover {color:#FFF}
.bg-green {background-color:#73B852 !important;color:#ecfff6}
a.bg-green:hover {background-color:#57AB2E !important}
.bg-green.light {background-color:#8CC670 !important}
.bg-green.lighter {background-color:#96C77E !important}
.bg-green.dark {background-color:#61AD3D !important}
.bg-green.darker {background-color:#57AB2E !important}
.bg-green .open > a,.bg-green .open > a:focus,.bg-green .open > a:hover {color:#FFF}
.bg-yellow {background-color:#FDAB29 !important;color:#fff7eb}
a.bg-yellow:hover {background-color:#E08900 !important}
.bg-yellow.light {background-color:#FFB644 !important}
.bg-yellow.lighter {background-color:#FFC05C !important}
.bg-yellow.dark {background-color:#FF9D03 !important}
.bg-yellow.darker {background-color:#E08900 !important}
.bg-yellow .open > a,.bg-yellow .open > a:focus,.bg-yellow .open > a:hover {color:#FFF}
.bg-purple {background-color:#907EEC !important;color:#eeebff}
a.bg-purple:hover {background-color:#755CEF !important}
.bg-purple.light {background-color:#A091ED !important}
.bg-purple.lighter {background-color:#B4A8F0 !important}
.bg-purple.dark {background-color:#826DED !important}
.bg-purple.darker {background-color:#755CEF !important}
.bg-purple .open > a,.bg-purple .open > a:focus,.bg-purple .open > a:hover {color:#FFF}
.bg-brown {background-color:#8C6E63 !important;color:#fff3ef}
a.bg-brown:hover {background-color:#4E3E38 !important}
.bg-brown.light {background-color:#A28175 !important}
.bg-brown.lighter {background-color:#B79589 !important}
.bg-brown.dark {background-color:#725A50 !important}
.bg-brown.darker {background-color:#4E3E38 !important}
.bg-brown .open > a,.bg-brown .open > a:focus,.bg-brown .open > a:hover {color:#FFF}
.bg-orange {background-color:#FF6F42 !important;color:#fff0ec}
a.bg-orange:hover {background-color:#FF4B12 !important}
.bg-orange.light {background-color:#FF7D54 !important}
.bg-orange.lighter {background-color:#FF8C67 !important}
.bg-orange.dark {background-color:#FE5F2D !important}
.bg-orange.darker {background-color:#FF4B12 !important}
.bg-orange .open > a,.bg-orange .open > a:focus,.bg-orange .open > a:hover {color:#FFF}
.bg-indigo {background-color:#6284F3 !important;color:#ecf0ff}
a.bg-indigo:hover {background-color:#4069EE !important}
.bg-indigo.light {background-color:#7391F5 !important}
.bg-indigo.lighter {background-color:#86A0F7 !important}
.bg-indigo.dark {background-color:#5176F1 !important}
.bg-indigo.darker {background-color:#4069EE !important}
.bg-indigo .open > a,.bg-indigo .open > a:focus,.bg-indigo .open > a:hover {color:#FFF}
.bg-teal {background-color:#14BAA8 !important;color:#ecfffc}
a.bg-teal:hover {background-color:#009A8A !important}
.bg-teal.light {background-color:#24C1B0 !important}
.bg-teal.lighter {background-color:#35C9B9 !important}
.bg-teal.dark {background-color:#01B3A0 !important}
.bg-teal.darker {background-color:#009A8A !important}
.bg-teal .open > a,.bg-teal .open > a:focus,.bg-teal .open > a:hover {color:#FFF}
.bg-pink {background-color:#ED407A !important;color:#ffecf2}
a.bg-pink:hover {background-color:#EB185F !important}
.bg-pink.light {background-color:#EE5387 !important}
.bg-pink.lighter {background-color:#F06795 !important}
.bg-pink.dark {background-color:#EC2D6D !important}
.bg-pink.darker {background-color:#EB185F !important}
.bg-pink .open > a,.bg-pink .open > a:focus,.bg-pink .open > a:hover {color:#FFF}

/*---------- Button ----------*/
/*Style*/
button {vertical-align:inherit}
.btn {display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;cursor:pointer;background-image:none;white-space:nowrap;padding:4px 12px;font-size:12px;line-height:1;border-radius:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.btn-default {font-size:12px;cursor:pointer;padding:3px 12px}
.btn-primary {font-size:12px;cursor:pointer;padding:3px 12px}
.btn-success {font-size:12px;cursor:pointer;padding:3px 12px}
.btn-info {font-size:12px;cursor:pointer;padding:3px 12px}
.btn-warning {font-size:12px;cursor:pointer;padding:3px 12px}
.btn-danger {font-size:12px;cursor:pointer;padding:3px 12px}
.btn-link {color:#4B4B4D}
.btn-link:hover {color:#000}
.btn-e {display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;cursor:pointer;background-image:none;border:1px solid transparent;border-color:rgba(0, 0, 0, 0);white-space:nowrap;padding:4px 12px;color:#FFF;font-size:12px;line-height:1;border-radius:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.btn-e.active:focus,.btn-e:active:focus,.btn-e:focus {outline:0;outline-offset:-2px}
.btn-e:focus,.btn-e:hover {color:#FFF;text-decoration:none;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}
.btn-e.active,.btn-e:active {outline:0;background-image:none;-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125)}
.btn-e.disabled,.btn-e[disabled],fieldset[disabled] .btn-e {cursor:not-allowed;opacity:0.65;filter: alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none}
.btn-e.btn-e-gradient {border-color:rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.2);-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2);background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.1) 100%);background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.1) 100%);background-repeat:repeat-x;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.35)}
.btn-e-xs,.btn-group-xs > .btn-e {padding:1px 8px;font-size:11px !important;line-height:1}
.btn-e-sm,.btn-group-sm > .btn-e {padding:2px 10px;font-size:11px !important;line-height:1}
.btn-e-lg,.btn-group-lg > .btn-e {padding:6px 15px;font-size:13px !important;line-height:1}
.btn-e-xlg,.btn-group-xlg > .btn-e {padding:9px 20px;font-size:13px !important;line-height:1}
.btn-e.btn-e-rounded {border-radius:12.5px !important}
.btn-e-xs.btn-e-rounded {border-radius:10px !important}
.btn-e-sm.btn-e-rounded {border-radius:12px !important}
.btn-e-lg.btn-e-rounded {border-radius:17px !important}
.btn-e-xlg.btn-e-rounded {border-radius:21px !important}
.btn-e-block {display:block;width:100%;padding-left:0;padding-right:0;text-align:center}
.btn-e-block + .btn-e-block {margin-top:5px}
.btn-e span.badge {position:absolute;top:-10px;right:-10px}

/*Color*/
a.btn-e,a.btn-e:hover,a.btn-e:focus,a.btn-e:active,a.btn-e.active {color:#FFF}
a.btn-e:hover,a.btn-e:focus,a.btn-e:active,a.btn-e.active {color:#FFF !important}
.btn-e {color:#FFF;background-color:#4B4B4D}
.btn-e.active,.btn-e:active,.btn-e:focus,.btn-e:hover,.open > .dropdown-toggle.btn-e {color:#FFF;background-color:#2B2B2E;border-color:rgba(0, 0, 0, 0.1)}
.btn-e.disabled,.btn-e.disabled.active,.btn-e.disabled:active,.btn-e.disabled:focus,.btn-e.disabled:hover,.btn-e[disabled],.btn-e[disabled].active,.btn-e[disabled]:active,.btn-e[disabled]:focus,.btn-e[disabled]:hover,fieldset[disabled] .btn-e,fieldset[disabled] .btn-e.active,fieldset[disabled] .btn-e:active,fieldset[disabled] .btn-e:focus,fieldset[disabled] .btn-e:hover {background-color:#676769;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-default {color:#FFF;background-color:#B5B5B5;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-default.active,.btn-e-default.active:hover,.btn-e-default:active,.btn-e-default:focus,.btn-e-default:hover,.open > .dropdown-toggle.btn-e-default,.open>.dropdown-toggle.btn-e-default:focus, .open>.dropdown-toggle.btn-e-default:hover {color:#FFF;background-color:#949494;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-default.disabled,.btn-e-default.disabled.active,.btn-e-default.disabled:active,.btn-e-default.disabled:focus,.btn-e-default.disabled:hover,.btn-e-default[disabled],.btn-e-default[disabled].active,.btn-e-default[disabled]:active,.btn-e-default[disabled]:focus,.btn-e-default[disabled]:hover,fieldset[disabled] .btn-e-default,fieldset[disabled] .btn-e-default.active,fieldset[disabled] .btn-e-default:active,fieldset[disabled] .btn-e-default:focus,fieldset[disabled] .btn-e-default:hover {color:#FFF;background-color:#D6D6D6;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-dark {color:#FFF;background-color:#4B4B4D}
.btn-e-dark.active,.btn-e-dark:active,.btn-e-dark:focus,.btn-e-dark:hover,.open > .dropdown-toggle.btn-e-dark {color:#FFF;background-color:#2B2B2E;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-dark.disabled,.btn-e-dark.disabled.active,.btn-e-dark.disabled:active,.btn-e-dark.disabled:focus,.btn-e-dark.disabled:hover,.btn-e-dark[disabled],.btn-e-dark[disabled].active,.btn-e-dark[disabled]:active,.btn-e-dark[disabled]:focus,.btn-e-dark[disabled]:hover,fieldset[disabled] .btn-e-dark,fieldset[disabled] .btn-e-dark.active,fieldset[disabled] .btn-e-dark:active,fieldset[disabled] .btn-e-dark:focus,fieldset[disabled] .btn-e-dark:hover {background-color:#676769;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-red {color:#FFF;background-color:#FF4848}
.btn-e-red.active,.btn-e-red:active,.btn-e-red:focus,.btn-e-red:hover,.open > .dropdown-toggle.btn-e-red {color:#FFF;background-color:#FD1717;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-red.disabled,.btn-e-red.disabled.active,.btn-e-red.disabled:active,.btn-e-red.disabled:focus,.btn-e-red.disabled:hover,.btn-e-red[disabled],.btn-e-red[disabled].active,.btn-e-red[disabled]:active,.btn-e-red[disabled]:focus,.btn-e-red[disabled]:hover,fieldset[disabled] .btn-e-red,fieldset[disabled] .btn-e-red.active,fieldset[disabled] .btn-e-red:active,fieldset[disabled] .btn-e-red:focus,fieldset[disabled] .btn-e-red:hover {background-color:#FF7070;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-blue {color:#FFF;background-color:#53A5FA}
.btn-e-blue.active,.btn-e-blue:active,.btn-e-blue:focus,.btn-e-blue:hover,.open > .dropdown-toggle.btn-e-blue {color:#FFF;background-color:#268DF9;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-blue.disabled,.btn-e-blue.disabled.active,.btn-e-blue.disabled:active,.btn-e-blue.disabled:focus,.btn-e-blue.disabled:hover,.btn-e-blue[disabled],.btn-e-blue[disabled].active,.btn-e-blue[disabled]:active,.btn-e-blue[disabled]:focus,.btn-e-blue[disabled]:hover,fieldset[disabled] .btn-e-blue,fieldset[disabled] .btn-e-blue.active,fieldset[disabled] .btn-e-blue:active,fieldset[disabled] .btn-e-blue:focus,fieldset[disabled] .btn-e-blue:hover {background-color:#80BCFA;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-green {color:#FFF;background-color:#73B852}
.btn-e-green.active,.btn-e-green:active,.btn-e-green:focus,.btn-e-green:hover,.open > .dropdown-toggle.btn-e-green {color:#FFF;background-color:#57AB2E;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-green.disabled,.btn-e-green.disabled.active,.btn-e-green.disabled:active,.btn-e-green.disabled:focus,.btn-e-green.disabled:hover,.btn-e-green[disabled],.btn-e-green[disabled].active,.btn-e-green[disabled]:active,.btn-e-green[disabled]:focus,.btn-e-green[disabled]:hover,fieldset[disabled] .btn-e-green,fieldset[disabled] .btn-e-green.active,fieldset[disabled] .btn-e-green:active,fieldset[disabled] .btn-e-green:focus,fieldset[disabled] .btn-e-green:hover {background-color:#96C77E;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-yellow {color:#FFF;background-color:#FDAB29}
.btn-e-yellow.active,.btn-e-yellow:active,.btn-e-yellow:focus,.btn-e-yellow:hover,.open > .dropdown-toggle.btn-e-yellow {color:#FFF;background-color:#E08900;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-yellow.disabled,.btn-e-yellow.disabled.active,.btn-e-yellow.disabled:active,.btn-e-yellow.disabled:focus,.btn-e-yellow.disabled:hover,.btn-e-yellow[disabled],.btn-e-yellow[disabled].active,.btn-e-yellow[disabled]:active,.btn-e-yellow[disabled]:focus,.btn-e-yellow[disabled]:hover,fieldset[disabled] .btn-e-yellow,fieldset[disabled] .btn-e-yellow.active,fieldset[disabled] .btn-e-yellow:active,fieldset[disabled] .btn-e-yellow:focus,fieldset[disabled] .btn-e-yellow:hover {background-color:#FFC05C;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-purple {color:#FFF;background-color:#907EEC}
.btn-e-purple.active,.btn-e-purple:active,.btn-e-purple:focus,.btn-e-purple:hover,.open > .dropdown-toggle.btn-e-purple {color:#FFF;background-color:#755CEF;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-purple.disabled,.btn-e-purple.disabled.active,.btn-e-purple.disabled:active,.btn-e-purple.disabled:focus,.btn-e-purple.disabled:hover,.btn-e-purple[disabled],.btn-e-purple[disabled].active,.btn-e-purple[disabled]:active,.btn-e-purple[disabled]:focus,.btn-e-purple[disabled]:hover,fieldset[disabled] .btn-e-purple,fieldset[disabled] .btn-e-purple.active,fieldset[disabled] .btn-e-purple:active,fieldset[disabled] .btn-e-purple:focus,fieldset[disabled] .btn-e-purple:hover {background-color:#B4A8F0;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-brown {color:#FFF;background-color:#8C6E63}
.btn-e-brown.active,.btn-e-brown:active,.btn-e-brown:focus,.btn-e-brown:hover,.open > .dropdown-toggle.btn-e-brown {color:#FFF;background-color:#4E3E38;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-brown.disabled,.btn-e-brown.disabled.active,.btn-e-brown.disabled:active,.btn-e-brown.disabled:focus,.btn-e-brown.disabled:hover,.btn-e-brown[disabled],.btn-e-brown[disabled].active,.btn-e-brown[disabled]:active,.btn-e-brown[disabled]:focus,.btn-e-brown[disabled]:hover,fieldset[disabled] .btn-e-brown,fieldset[disabled] .btn-e-brown.active,fieldset[disabled] .btn-e-brown:active,fieldset[disabled] .btn-e-brown:focus,fieldset[disabled] .btn-e-brown:hover {background-color:#B79589;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-orange {color:#FFF;background-color:#FF6F42}
.btn-e-orange.active,.btn-e-orange:active,.btn-e-orange:focus,.btn-e-orange:hover,.open > .dropdown-toggle.btn-e-orange {color:#FFF;background-color:#FF4B12;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-orange.disabled,.btn-e-orange.disabled.active,.btn-e-orange.disabled:active,.btn-e-orange.disabled:focus,.btn-e-orange.disabled:hover,.btn-e-orange[disabled],.btn-e-orange[disabled].active,.btn-e-orange[disabled]:active,.btn-e-orange[disabled]:focus,.btn-e-orange[disabled]:hover,fieldset[disabled] .btn-e-orange,fieldset[disabled] .btn-e-orange.active,fieldset[disabled] .btn-e-orange:active,fieldset[disabled] .btn-e-orange:focus,fieldset[disabled] .btn-e-orange:hover {background-color:#FF8C67;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-indigo {color:#FFF;background-color:#6284F3}
.btn-e-indigo.active,.btn-e-indigo:active,.btn-e-indigo:focus,.btn-e-indigo:hover,.open > .dropdown-toggle.btn-e-indigo {color:#FFF;background-color:#4069EE;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-indigo.disabled,.btn-e-indigo.disabled.active,.btn-e-indigo.disabled:active,.btn-e-indigo.disabled:focus,.btn-e-indigo.disabled:hover,.btn-e-indigo[disabled],.btn-e-indigo[disabled].active,.btn-e-indigo[disabled]:active,.btn-e-indigo[disabled]:focus,.btn-e-indigo[disabled]:hover,fieldset[disabled] .btn-e-indigo,fieldset[disabled] .btn-e-indigo.active,fieldset[disabled] .btn-e-indigo:active,fieldset[disabled] .btn-e-indigo:focus,fieldset[disabled] .btn-e-indigo:hover {background-color:#86A0F7;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-teal {color:#FFF;background-color:#14BAA8}
.btn-e-teal.active,.btn-e-teal:active,.btn-e-teal:focus,.btn-e-teal:hover,.open > .dropdown-toggle.btn-e-teal {color:#FFF;background-color:#009A8A;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-teal.disabled,.btn-e-teal.disabled.active,.btn-e-teal.disabled:active,.btn-e-teal.disabled:focus,.btn-e-teal.disabled:hover,.btn-e-teal[disabled],.btn-e-teal[disabled].active,.btn-e-teal[disabled]:active,.btn-e-teal[disabled]:focus,.btn-e-teal[disabled]:hover,fieldset[disabled] .btn-e-teal,fieldset[disabled] .btn-e-teal.active,fieldset[disabled] .btn-e-teal:active,fieldset[disabled] .btn-e-teal:focus,fieldset[disabled] .btn-e-teal:hover {background-color:#35C9B9;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-pink {color:#FFF;background-color:#ED407A}
.btn-e-pink.active,.btn-e-pink:active,.btn-e-pink:focus,.btn-e-pink:hover,.open > .dropdown-toggle.btn-e-pink {color:#FFF;background-color:#EB185F;border-color:rgba(0, 0, 0, 0.1)}
.btn-e-pink.disabled,.btn-e-pink.disabled.active,.btn-e-pink.disabled:active,.btn-e-pink.disabled:focus,.btn-e-pink.disabled:hover,.btn-e-pink[disabled],.btn-e-pink[disabled].active,.btn-e-pink[disabled]:active,.btn-e-pink[disabled]:focus,.btn-e-pink[disabled]:hover,fieldset[disabled] .btn-e-pink,fieldset[disabled] .btn-e-pink.active,fieldset[disabled] .btn-e-pink:active,fieldset[disabled] .btn-e-pink:focus,fieldset[disabled] .btn-e-pink:hover {background-color:#F06795;border-color:rgba(0, 0, 0, 0.1)}

/*Bordered*/
.btn-e.btn-e-brd {color:#676769;background:#FFF;border:solid 1px transparent;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out}
.btn-e.btn-e-brd:hover {background:#FFF;border:solid 1px #eee}
.btn-e.btn-e-brd:focus {background:#FFF;color:inherit}
.btn-e.btn-e-brd {border-color:#D6D6D6}
.btn-e.btn-e-brd:hover {color:#2B2B2E !important;border-color:#959595}
.btn-e.btn-e-brd.btn-brd-hover:hover {background:#959595}
.btn-e.btn-e-brd.btn-e-default {border-color:#D6D6D6}
.btn-e.btn-e-brd.btn-e-default:hover {color:#2B2B2E !important;border-color:#959595}
.btn-e.btn-e-brd.btn-e-default.btn-brd-hover:hover {background:#959595}
.btn-e.btn-e-brd.btn-e-dark {border-color:#676769}
.btn-e.btn-e-brd.btn-e-dark:hover {color:#4B4B4D !important;border-color:#4B4B4D}
.btn-e.btn-e-brd.btn-e-dark.btn-brd-hover:hover {background:#4B4B4D}
.btn-e.btn-e-brd.btn-e-red {border-color:#FF7070}
.btn-e.btn-e-brd.btn-e-red:hover {color:#FF4848 !important;border-color:#FF4848}
.btn-e.btn-e-brd.btn-e-red.btn-brd-hover:hover {background:#FF4848}
.btn-e.btn-e-brd.btn-e-blue {border-color:#80BCFA}
.btn-e.btn-e-brd.btn-e-blue:hover {color:#53A5FA !important;border-color:#53A5FA}
.btn-e.btn-e-brd.btn-e-blue.btn-brd-hover:hover {background:#53A5FA}
.btn-e.btn-e-brd.btn-e-green {border-color:#96C77E}
.btn-e.btn-e-brd.btn-e-green:hover {color:#73B852 !important;border-color:#73B852}
.btn-e.btn-e-brd.btn-e-green.btn-brd-hover:hover {background:#73B852}
.btn-e.btn-e-brd.btn-e-yellow {border-color:#FFC05C}
.btn-e.btn-e-brd.btn-e-yellow:hover {color:#FDAB29 !important;border-color:#FDAB29}
.btn-e.btn-e-brd.btn-e-yellow.btn-brd-hover:hover {background:#FDAB29}
.btn-e.btn-e-brd.btn-e-purple {border-color:#B4A8F0}
.btn-e.btn-e-brd.btn-e-purple:hover {color:#907EEC !important;border-color:#907EEC}
.btn-e.btn-e-brd.btn-e-purple.btn-brd-hover:hover {background:#907EEC}
.btn-e.btn-e-brd.btn-e-brown {border-color:#B79589}
.btn-e.btn-e-brd.btn-e-brown:hover {color:#8C6E63 !important;border-color:#8C6E63}
.btn-e.btn-e-brd.btn-e-brown.btn-brd-hover:hover {background:#8C6E63}
.btn-e.btn-e-brd.btn-e-orange {border-color:#FF8C67}
.btn-e.btn-e-brd.btn-e-orange:hover {color:#FF6F42 !important;border-color:#FF6F42}
.btn-e.btn-e-brd.btn-e-orange.btn-brd-hover:hover {background:#FF6F42}
.btn-e.btn-e-brd.btn-e-indigo {border-color:#86A0F7}
.btn-e.btn-e-brd.btn-e-indigo:hover {color:#6284F3 !important;border-color:#6284F3}
.btn-e.btn-e-brd.btn-e-indigo.btn-brd-hover:hover {background:#6284F3}
.btn-e.btn-e-brd.btn-e-teal {border-color:#35C9B9}
.btn-e.btn-e-brd.btn-e-teal:hover {color:#14BAA8 !important;border-color:#14BAA8}
.btn-e.btn-e-brd.btn-e-teal.btn-brd-hover:hover {background:#14BAA8}
.btn-e.btn-e-brd.btn-e-pink {border-color:#F06795}
.btn-e.btn-e-brd.btn-e-pink:hover {color:#ED407A !important;border-color:#ED407A}
.btn-e.btn-e-brd.btn-e-pink.btn-brd-hover:hover {background:#ED407A}
.btn-e.btn-e-brd.btn-brd-hover:hover {color:#FFF !important}

/*Dropdown Split*/
.btn-e.btn-e-split.dropdown-toggle {border-left:solid 1px #959595}
.btn-e.btn-e-split-default.dropdown-toggle {margin-left:-1px}
.btn-e.btn-e-split-dark.dropdown-toggle {border-left:solid 1px #2B2B2E}
.btn-e.btn-e-split-red.dropdown-toggle {border-left:solid 1px #FD1717}
.btn-e.btn-e-split-blue.dropdown-toggle {border-left:solid 1px #268DF9}
.btn-e.btn-e-split-green.dropdown-toggle {border-left:solid 1px #61AD3D}
.btn-e.btn-e-split-yellow.dropdown-toggle {border-left:solid 1px #FF9D03}
.btn-e.btn-e-split-purple.dropdown-toggle {border-left:solid 1px #755CEF}
.btn-e.btn-e-split-brown.dropdown-toggle {border-left:solid 1px #4E3E38}
.btn-e.btn-e-split-orange.dropdown-toggle {border-left:solid 1px #FF4B12}
.btn-e.btn-e-split-indigo.dropdown-toggle {border-left:solid 1px #4069EE}
.btn-e.btn-e-split-teal.dropdown-toggle {border-left:solid 1px #009A8A}
.btn-e.btn-e-split-pink.dropdown-toggle {border-left:solid 1px #EB185F}
.btn-e-brd.btn-e-split-dark.dropdown-toggle {border-left:solid 1px #4B4B4D}
.btn-e-brd.btn-e-split-red.dropdown-toggle {border-left:solid 1px #FF4848}
.btn-e-brd.btn-e-split-blue.dropdown-toggle {border-left:solid 1px #53A5FA}
.btn-e-brd.btn-e-split-green.dropdown-toggle {border-left:solid 1px #73B852}
.btn-e-brd.btn-e-split-yellow.dropdown-toggle {border-left:solid 1px #FDAB29}
.btn-e-brd.btn-e-split-purple.dropdown-toggle {border-left:solid 1px #907EEC}
.btn-e-brd.btn-e-split-brown.dropdown-toggle {border-left:solid 1px #8C6E63}
.btn-e-brd.btn-e-split-orange.dropdown-toggle {border-left:solid 1px #FF6F42}
.btn-e-brd.btn-e-split-indigo.dropdown-toggle {border-left:solid 1px #6284F3}
.btn-e-brd.btn-e-split-teal.dropdown-toggle {border-left:solid 1px #14BAA8}
.btn-e-brd.btn-e-split-pink.dropdown-toggle {border-left:solid 1px #ED407A}
.open>.dropdown-toggle.btn-e-brd[class*=btn-e-split-]:focus, .open>.dropdown-toggle.btn-e-brd[class*=btn-e-split-]:hover {background-color:#FFF;color:#676769 !important}
.open>.dropdown-toggle.btn-e-brd.btn-e-split-default:focus, .open>.dropdown-toggle.btn-e-brd.btn-e-split-default:hover {border-color:#D6D6D6}
.btn-e-brd[class*=btn-e-split-] {margin-left:-1px;color:#676769 !important}

/*Group & Dropdown*/
.btn-group .dropdown-menu {margin:5px 0 0}
.btn-group.dropup .dropdown-menu {margin:0 0 5px}
.btn-group .dropdown-menu > li > a {padding:3px 13px;font-size:13px}
.btn-group > .btn-e,.btn-group-vertical > .btn-e {float:left;position:relative}
.btn-group > .btn-e:first-child {margin-left:0}
.btn-group > .btn-e:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {border-top-left-radius:0 !important;border-bottom-left-radius:0 !important}
.btn-group>.btn-e:first-child:not(:last-child):not(.dropdown-toggle) {border-top-right-radius:0 !important;border-bottom-right-radius:0 !important}
.dropdown-menu .divider {margin:5px 0}
.btn-group .btn-e-split:hover ~ .btn-e-split-default {border-left-color:#959595}

/*---------- Badges and Labels ----------*/
span.label {font-size:11px;padding:2px 8px;font-weight:normal;color:#FFF;line-height:1}
span.badge {font-size:11px;padding:2px 5px;font-weight:normal;color:#FFF;line-height:1}
span.label-e,span.badge-e {background:#B5B5B5;line-height:1}
span.label-light,span.badge-light {background:#D6D6D6;color:#4B4B4D}
span.label-default,span.badge-default {background:#B5B5B5}
span.label-dark,span.badge-dark {background:#4B4B4D}
span.label-red,span.badge-red {background:#FF4848}
span.label-blue,span.badge-blue {background:#53A5FA}
span.label-green,span.badge-green {background:#73B852}
span.label-yellow,span.badge-yellow {background:#FDAB29}
span.label-purple,span.badge-purple {background:#907EEC}
span.label-brown,span.badge-brown {background:#8C6E63}
span.label-orange,span.badge-orange {background:#FF6F42}
span.label-indigo,span.badge-indigo {background:#6284F3}
span.label-teal,span.badge-teal {background:#14BAA8}
span.label-pink,span.badge-pink {background:#ED407A}

/*---------- Icons ----------*/
/*Social Icons*/
.social-icons {margin:0;padding:0}
.social-icons li {list-style:none;margin-right:3px;margin-bottom:3px;text-indent:-9999px;display:inline-block}
.social-icons li a {width:30px;height:30px;display:block;background-position:0 0;background-repeat:no-repeat;opacity:1}
.social-icons li a:hover {opacity:0.7}
.social_facebook {background:url("../image/social/facebook.png") no-repeat;background-size:30px 30px}
.social_twitter {background:url("../image/social/twitter.png") no-repeat;background-size:30px 30px}
.social_google {background:url("../image/social/google.png") no-repeat;background-size:30px 30px}
.social_youtube {background:url("../image/social/youtube.png") no-repeat;background-size:30px 30px}
.social_kakao {background:url("../image/social/kakao.png") no-repeat;background-size:30px 30px}
.social_kakaostory {background:url("../image/social/kakaostory.png") no-repeat;background-size:30px 30px}
.social_naver {background:url("../image/social/naver.png") no-repeat;background-size:30px 30px}
.social_band {background:url("../image/social/band.png") no-repeat;background-size:30px 30px}
.social_rss {background:url("../image/social/rss.png") no-repeat;background-size:30px 30px}
.social_pinterest {background:url("../image/social/pinterest.png") no-repeat;background-size:30px 30px}
.social_tumblr {background:url("../image/social/tumblr.png") no-repeat;background-size:30px 30px}
.social_instagram {background:url("../image/social/instagram.png") no-repeat;background-size:30px 30px}
.social_behance {background:url("../image/social/behance.png") no-repeat;background-size:30px 30px}

/*---------- Progress Bar ----------*/
.progress {box-shadow:none;margin-bottom:10px}
.progress .progress-bar {box-shadow:none}
.progress-e {box-shadow:none}
.progress-e .progress-bar {box-shadow:none}
.progress-info {font-size:12px}
.progress-info-left {font-size:12px}
.progress-info-right {font-size:12px;float:right}
.progress-vertical {width:40px;min-height:150px;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex;-webkit-align-items:flex-end;align-items:flex-end;margin-right:20px;float:left}
.progress-vertical .progress-bar {width:100%;height:0;font-size:11px}

/*Size*/
.progress-lg {height:25px}
.progress-sm {height:12px}
.progress-xs {height:7px}
.progress-xxs {height:3px}

/*Color*/
.progress {background:#eaecee}
.progress-bar-default {background:#959595}
.progress-bar-dark {background:#4B4B4D}
.progress-bar-red {background:#FF4848}
.progress-bar-blue {background:#53A5FA}
.progress-bar-green {background:#73B852}
.progress-bar-yellow {background:#FDAB29}
.progress-bar-purple {background:#907EEC}
.progress-bar-brown {background:#8C6E63}
.progress-bar-orange {background:#FF6F42}
.progress-bar-indigo {background:#6284F3}
.progress-bar-teal {background:#14BAA8}
.progress-bar-pink {background:#ED407A}

/*---------- Content Box ----------*/
.content-box {position:relative;border:1px solid #d5d5d5;background:#FFF}
.content-box-header {padding:15px;border-bottom:1px solid #E5E5E5;background:#F5F5F5}
.content-box-header h1, .content-box-header h2, .content-box-header h3, .content-box-header h4, .content-box-header h5, .content-box-header h6 {line-height:1;margin:0}
.content-box-body {padding:15px}
.content-box-body p:last-child {margin-bottom:0}
.content-box-footer {padding:10px 15px;border-top:1px solid #E5E5E5;background:#F5F5F5;text-align:right}

/*Dark*/
.content-box.content-box-dark {border:none}
.content-box-dark .content-box-header {padding:15px;border-bottom:1px solid #59595B;background:#3C3C3E}
.content-box-dark .content-box-header h1, .content-box-dark .content-box-header h2, .content-box-dark .content-box-header h3, .content-box-dark .content-box-header h4, .content-box-dark .content-box-header h5, .content-box-dark .content-box-header h6 {color:#C7C8CF}
.content-box-dark .content-box-body {color:#C7C8CF;background:#2B2B2E}
.content-box-dark .content-box-body p, .content-box-dark .content-box-body li {color:#c7c8cf}
.content-box-dark .content-box-body a {color:#FFF}
.content-box-dark .content-box-body a:hover {text-decoration:underline}
.content-box-dark .content-box-footer {color:#C7C8CF;border-top:1px solid #59595B;background:#3C3C3E}

/*------------ Panels (Portlets) ----------*/
.panel {box-shadow:none}
.panel-body p:last-child {margin-bottom:0}
.panel-primary {border-color:#0f70be}
.panel-primary>.panel-heading {background-color:#2196F3;border-color:#0f70be}
.panel-info {border-color:#1E88E5}
.panel-info>.panel-heading {color:#104D92;background-color:#E3F2FD;border-color:#1E88E5}
.panel-success {border-color:#4CAF50}
.panel-success>.panel-heading {color:#205823;background-color:#E8F5E9;border-color:#4CAF50}
.panel-warning {border-color:#FF9800}
.panel-warning>.panel-heading {color:#AA3510;background-color:#FFF3E0;border-color:#FF9800}
.panel-danger {border-color:#FF5722}
.panel-danger>.panel-heading {color:#9c1F1F;background-color:#FBE9E7;border-color:#FF5722}
.panel-default {border:0}
.panel-default>.panel-heading {background-color:#F5F5F5;border:1px solid #D5D5D5}
.panel-dark {border:0}
.panel-dark>.panel-heading {color:#FFF;background-color:#4B4B4D;border:1px solid #4B4B4D}
.panel-red {border:0}
.panel-red>.panel-heading {color:#FFF;background-color:#FF4848;border:1px solid #FF4848}
.panel-blue {border:0}
.panel-blue>.panel-heading {color:#FFF;background-color:#53A5FA;border:1px solid #53A5FA}
.panel-green {border:0}
.panel-green>.panel-heading {color:#FFF;background-color:#73B852;border:1px solid #73B852}
.panel-yellow {border:0}
.panel-yellow>.panel-heading {color:#FFF;background-color:#FDAB29;border:1px solid #FDAB29}
.panel-purple {border:0}
.panel-purple>.panel-heading {color:#FFF;background-color:#907EEC;border:1px solid #907EEC}
.panel-brown {border:0}
.panel-brown>.panel-heading {color:#FFF;background-color:#8C6E63;border:1px solid #8C6E63}
.panel-orange {border:0}
.panel-orange>.panel-heading {color:#FFF;background-color:#FF6F42;border:1px solid #FF6F42}
.panel-indigo {border:0}
.panel-indigo>.panel-heading {color:#FFF;background-color:#6284F3;border:1px solid #6284F3}
.panel-teal {border:0}
.panel-teal>.panel-heading {color:#FFF;background-color:#14BAA8;border:1px solid #14BAA8}
.panel-pink {border:0}
.panel-pink>.panel-heading {color:#FFF;background-color:#ED407A;border:1px solid #ED407A}
.panel-default>.panel-body, .panel-dark>.panel-body, .panel-red>.panel-body, .panel-blue>.panel-body, .panel-green>.panel-body, .panel-yellow>.panel-body, .panel-purple>.panel-body, .panel-brown>.panel-body, .panel-orange>.panel-body, .panel-indigo>.panel-body, .panel-teal>.panel-body, .panel-pink>.panel-body {border:1px solid #D5D5D5;border-top:0}

/*---------- Accordions ----------*/
.accordion-default .panel-heading {background:#FFF;position:relative}
.accordion-default .panel-default>.panel-heading+.panel-collapse>.panel-body {border:1px solid #D5D5D5;border-top:0}
.panel-group-control .panel-title > a:before {font-family:'Font Awesome\ 5 Free';font-size:14px;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-fontsmoothing:grayscale;-webkit-transition:all .3s linear 0s;-o-transition:all .3s linear 0s;transition:all .3s linear 0s;opacity:1}
.panel-group-control .panel-title > a {padding-left:26px;display:inline-block}
.panel-group-control .panel-title > a:before {content:"\f068";font-weight:900;position:absolute;top:50%;margin-top:-8px;left:15px}
.panel-group-control .panel-title > a.collapsed:before {content:"\f067";font-weight:900;-ms-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);-o-transform:rotate(-180deg);transform:rotate(-180deg);opacity:0.35}
.panel-group-control.panel-group-control-right .panel-title > a {padding-left:0;padding-right:26px}
.panel-group-control.panel-group-control-right .panel-title > a:before {left:auto;right:15px}

/*---------- Tabs ----------*/
/*Tabs e1*/
.tab-e1 .nav-tabs {border:none;background:none;border-bottom:solid 1px #74747a}
.tab-e1 .nav-tabs a {font-size:12px;padding:5px 15px}
.tab-e1 .nav-tabs > .active > a,.tab-e1 .nav-tabs > .active > a:hover,.tab-e1 .nav-tabs > .active > a:focus {color:#fff;border:none;background:#74747a}
.tab-e1 .nav-tabs > li > a {border:none}
.tab-e1 .nav-tabs > li > a:hover {color:#fff;background:#34343a}
.tab-e1 .tab-content {padding:10px 0}
.tab-e1 .tab-content img {margin-top:4px;margin-bottom:15px}
.tab-e1 .tab-content img.img-tab-space {margin-top:7px}

/*Tab e2*/
.tab-e2 .nav-tabs {border-bottom:none}
.tab-e2 .nav-tabs li a {font-size:12px;padding:7px 15px;background:none;border:none}
.tab-e2 .nav-tabs li.active a {background:#FFF;padding:6px 13px 7px;border:solid 1px #e5e5e5;border-top:solid 1px #FF4848;border-bottom:none !important;color:#000}
.tab-e2 .tab-content {padding:10px 15px;border:solid 1px #e5e5e5}

/*Tab Background*/
.tab-bg .nav-tabs {border:none;background:none;border-bottom:solid 1px #B5B5B5}
.tab-bg .nav-tabs a {font-size:13px;padding:8px 20px;border-top-left-radius:2px !important;border-top-right-radius:2px !important}
.tab-bg .nav-tabs > .active > a, .tab-bg .nav-tabs > .active > a:hover, .tab-bg .nav-tabs > .active > a:focus {color:#FFF;border:none;background:#B5B5B5}
.tab-bg .nav-tabs > li > a {border:none}
.tab-bg .nav-tabs > li > a:hover {color:#FFF;background:#959595}
.tab-bg .tab-content {padding:15px 0}
.tab-bg-default .nav-tabs {border-bottom:solid 1px #B5B5B5}
.tab-bg-default .nav-tabs > .active > a, .tab-bg-default .nav-tabs > .active > a:hover, .tab-bg-default .nav-tabs > .active > a:focus {background:#B5B5B5}
.tab-bg-default .nav-tabs > li > a:hover {background:#959595}
.tab-bg-dark .nav-tabs {border-bottom:solid 1px #4B4B4D}
.tab-bg-dark .nav-tabs > .active > a, .tab-bg-dark .nav-tabs > .active > a:hover, .tab-bg-dark .nav-tabs > .active > a:focus {background:#4B4B4D}
.tab-bg-dark .nav-tabs > li > a:hover {background:#2B2B2E}
.tab-bg-red .nav-tabs {border-bottom:solid 1px #FF4848}
.tab-bg-red .nav-tabs > .active > a, .tab-bg-red .nav-tabs > .active > a:hover, .tab-bg-red .nav-tabs > .active > a:focus {background:#FF4848}
.tab-bg-red .nav-tabs > li > a:hover {background:#FD1717}
.tab-bg-blue .nav-tabs {border-bottom:solid 1px #53A5FA}
.tab-bg-blue .nav-tabs > .active > a, .tab-bg-blue .nav-tabs > .active > a:hover, .tab-bg-blue .nav-tabs > .active > a:focus {background:#53A5FA}
.tab-bg-blue .nav-tabs > li > a:hover {background:#268DF9}
.tab-bg-green .nav-tabs {border-bottom:solid 1px #73B852}
.tab-bg-green .nav-tabs > .active > a, .tab-bg-green .nav-tabs > .active > a:hover, .tab-bg-green .nav-tabs > .active > a:focus {background:#73B852}
.tab-bg-green .nav-tabs > li > a:hover {background:#57AB2E}
.tab-bg-yellow .nav-tabs {border-bottom:solid 1px #FDAB29}
.tab-bg-yellow .nav-tabs > .active > a, .tab-bg-yellow .nav-tabs > .active > a:hover, .tab-bg-yellow .nav-tabs > .active > a:focus {background:#FDAB29}
.tab-bg-yellow .nav-tabs > li > a:hover {background:#E08900}

/*Tab Bordered*/
.tab-brd .nav-tabs {background:none;/*border-bottom:solid 1px #B5B5B5*/}
.tab-brd .nav-tabs a {font-size:13px;padding:8px 20px;/*border-top-left-radius:2px !important;border-top-right-radius:2px !important*/}
.tab-brd .nav-tabs > .active > a, .tab-brd .nav-tabs > .active > a:hover, .tab-brd .nav-tabs > .active > a:focus {color:#4B4B4D;/*border:1px solid #B5B5B5 !important;*/border-bottom-color:transparent !important}
.tab-brd .nav-tabs > li > a:hover {/*border:1px solid #B5B5B5;*/border-bottom-color:transparent}
.tab-brd .tab-content {padding:15px 0}
.tab-brd-default .nav-tabs {/*border-bottom:solid 1px #B5B5B5*/}
.tab-brd-default .nav-tabs > .active > a, .tab-brd-default .nav-tabs > .active > a:hover, .tab-brd-default .nav-tabs > .active > a:focus {color:#fff;/*border:1px solid #B5B5B5 !important;*/border-bottom-color:transparent !important; background-color: #1473E6;}
.tab-brd-default .nav-tabs > li > a:hover {color:#2B2B2E;/*border:1px solid #B5B5B5;*/border-bottom-color:transparent}
.tab-brd-dark .nav-tabs {border-bottom:solid 1px #4B4B4D}
.tab-brd-dark .nav-tabs > .active > a, .tab-brd-dark .nav-tabs > .active > a:hover, .tab-brd-dark .nav-tabs > .active > a:focus {color:#2B2B2E;border:1px solid #4B4B4D !important;border-bottom-color:transparent !important}
.tab-brd-dark .nav-tabs > li > a:hover {color:#2B2B2E;border:1px solid #4B4B4D;border-bottom-color:transparent}
.tab-brd-red .nav-tabs {border-bottom:solid 1px #FF4848}
.tab-brd-red .nav-tabs > .active > a, .tab-brd-red .nav-tabs > .active > a:hover, .tab-brd-red .nav-tabs > .active > a:focus {color:#FF4848;border:1px solid #FF4848 !important;border-bottom-color:transparent !important}
.tab-brd-red .nav-tabs > li > a:hover {color:#FF4848;border:1px solid #FF4848;border-bottom-color:transparent}
.tab-brd-blue .nav-tabs {border-bottom:solid 1px #53A5FA}
.tab-brd-blue .nav-tabs > .active > a, .tab-brd-blue .nav-tabs > .active > a:hover, .tab-brd-blue .nav-tabs > .active > a:focus {color:#53A5FA;border:1px solid #53A5FA !important;border-bottom-color:transparent !important}
.tab-brd-blue .nav-tabs > li > a:hover {color:#53A5FA;border:1px solid #53A5FA;border-bottom-color:transparent}
.tab-brd-green .nav-tabs {border-bottom:solid 1px #73B852}
.tab-brd-green .nav-tabs > .active > a, .tab-brd-green .nav-tabs > .active > a:hover, .tab-brd-green .nav-tabs > .active > a:focus {color:#73B852;border:1px solid #73B852 !important;border-bottom-color:transparent !important}
.tab-brd-green .nav-tabs > li > a:hover {color:#73B852;border:1px solid #73B852;border-bottom-color:transparent}
.tab-brd-yellow .nav-tabs {border-bottom:solid 1px #FDAB29}
.tab-brd-yellow .nav-tabs > .active > a, .tab-brd-yellow .nav-tabs > .active > a:hover, .tab-brd-yellow .nav-tabs > .active > a:focus {color:#FDAB29;border:1px solid #FDAB29 !important;border-bottom-color:transparent !important}
.tab-brd-yellow .nav-tabs > li > a:hover {color:#FDAB29;border:1px solid #FDAB29;border-bottom-color:transparent}

/*Tab Stacked*/
.tab-std .nav-stacked li a {padding:8px 15px}
.tab-std .nav-stacked li a:hover, .tab-std .nav-stacked li.active a {color:#FFF;background:#B5B5B5}
.tab-std .nav-stacked li i {width:1.25em;margin-right:5px;text-align:center;display:inline-block}
.tab-std .tab-nav-left {border-right:1px solid #B5B5B5}
.tab-std .tab-nav-right {border-left:1px solid #B5B5B5}
.tab-std .tab-nav-left li a {border-top-left-radius:2px !important;border-bottom-left-radius:2px !important}
.tab-std .tab-nav-right li a {border-top-right-radius:2px !important;border-bottom-right-radius:2px !important}
.tab-std .tab-content-left {border-right:1px solid #B5B5B5;margin-right:-1px}
.tab-std .tab-content-right {border-left:1px solid #B5B5B5;margin-left:-1px}
.tab-std .tab-content {padding:0 15px}
.tab-std-default .nav-stacked li a:hover, .tab-std-default .nav-stacked li.active a {background:#B5B5B5}
.tab-std-defaul .tab-nav-left, .tab-std-defaul .tab-nav-right, .tab-std-defaul .tab-content-left, .tab-std-defaul .tab-content-right {border-color:#B5B5B5}
.tab-std-dark .nav-stacked li a:hover, .tab-std-dark .nav-stacked li.active a {background:#4B4B4D}
.tab-std-dark .tab-nav-left, .tab-std-dark .tab-nav-right, .tab-std-dark .tab-content-left, .tab-std-dark .tab-content-right {border-color:#4B4B4D}
.tab-std-red .nav-stacked li a:hover, .tab-std-red .nav-stacked li.active a {background:#FF4848}
.tab-std-red .tab-nav-left, .tab-std-red .tab-nav-right, .tab-std-red .tab-content-left, .tab-std-red .tab-content-right {border-color:#FF4848}
.tab-std-blue .nav-stacked li a:hover, .tab-std-blue .nav-stacked li.active a {background:#53A5FA}
.tab-std-blue .tab-nav-left, .tab-std-blue .tab-nav-right, .tab-std-blue .tab-content-left, .tab-std-blue .tab-content-right {border-color:#53A5FA}
.tab-std-green .nav-stacked li a:hover, .tab-std-green .nav-stacked li.active a {background:#73B852}
.tab-std-green .tab-nav-left, .tab-std-green .tab-nav-right, .tab-std-green .tab-content-left, .tab-std-green .tab-content-right {border-color:#73B852}
.tab-std-yellow .nav-stacked li a:hover, .tab-std-yellow .nav-stacked li.active a {background:#FDAB29}
.tab-std-yellow .tab-nav-left, .tab-std-yellow .tab-nav-right, .tab-std-yellow .tab-content-left, .tab-std-yellow .tab-content-right {border-color:#FDAB29}
@media (min-width:768px) {
	.tab-std [class*=col-]:first-child {padding-right:0}
	.tab-std [class*=col-]:last-child {padding-left:0}
}

/*---------- Tables ----------*/
/*Basic Tables*/
.table thead > tr > th {border-bottom:none}
.table>tbody>tr.active>td {background-color:#F8F8FA}
.table>tbody>tr.active>th {background-color:#F8F8FA}
.table>tbody>tr.success>td {background-color:#E8F5E9}
.table>tbody>tr.success>th {background-color:#E8F5E9}
.table>tbody>tr.info>td {background-color:#E3F2FD}
.table>tbody>tr.info>th {background-color:#E3F2FD}
.table>tbody>tr.warning>td {background-color:#FFF3E0}
.table>tbody>tr.warning>th {background-color:#FFF3E0}
.table>tbody>tr.danger>td {background-color:#FBE9E7}
.table>tbody>tr.danger>th {background-color:#FBE9E7}
@media (max-width: 768px) {
	.table th.hidden-sm,.table td.hidden-sm {display:none !important}
}

/* Table List eb */
.table-list-eb {font-size:13px}
.table-list-eb .table>thead>tr>th, .table-list-eb .table>tbody>tr>th, .table-list-eb .table>tfoot>tr>th, .table-list-eb .table>thead>tr>td, .table>tbody>tr>td, .table-list-eb .table>tfoot>tr>td {padding:8px}
.table-list-eb .table-bordered>thead>tr>th, .table-list-eb .table-bordered>tbody>tr>th, .table-list-eb .table-bordered>tfoot>tr>th, .table-list-eb .table-bordered>thead>tr>td, .table-list-eb .table-bordered>tbody>tr>td, .table-list-eb .table-bordered>tfoot>tr>td {border:1px solid #D5D5D5}
.table-list-eb .table thead>tr>th, .table-list-eb .table thead>tr>td {text-align:center}
.table-list-eb .table-bordered>thead>tr>th, .table-list-eb .table-bordered>thead>tr>td {border-bottom-width:1px;text-align:center}
.table-list-eb .table-bordered>tbody>tr>td {border:1px solid #F0F0F0}
.table-list-eb thead {border-top:2px solid #454545;background:#F2F2F2}
.table-list-eb tbody {border-bottom:1px solid #D5D5D5}
.table-list-eb tfoot {border-bottom:1px solid #D5D5D5;background:#F9F9F9}
.table-list-eb th, .table-list-eb td {vertical-align:middle !important}
.table-list-eb .table-striped>tbody>tr:nth-child(odd)>td, .table-list-eb .table-striped>tbody>tr:nth-child(odd)>th {background-color:#FCFCFC}
.table-list-eb .table-hover>tbody>tr:hover>td, .table-list-eb .table-hover>tbody>tr:hover>th {background-color:#FFF8EC}
.table-list-eb .min-width-50 {min-width:50px}
.table-list-eb .min-width-100 {min-width:100px}
.table-list-eb .btn-e.dropdown-toggle {border-left:none}
.table-list-eb .btn-group .btn-e {top:4px;padding:0 6px;position:relative}
.table-list-eb td a {color:#000}
.table-list-eb td a:hover {text-decoration:underline}
.table-list-eb td p {margin-bottom:0;color:#555555}
.table-list-eb .td-border {border-left:1px solid #F0F0F0;border-right:1px solid #F0F0F0}
.table-list-eb .td-border-left {border-left:1px solid #F0F0F0}
.table-list-eb .td-border-right {border-right:1px solid #F0F0F0}
.table-list-eb .td-width {width:40%}
.table-list-eb .td-width-60 {width:60%}
.table-list-eb .td-width-50 {width:50%}
.table-list-eb .td-width-40 {width:40%}
.table-list-eb .td-width-30 {width:30%}
.table-list-eb .td-width-20 {width:20%}
.table-list-eb .td-width-10 {width:10%}
.table-list-eb .td-bg-grey {background:#FAFAFA}
@media (min-width: 768px){
	.table-list-eb .table-bordered>tbody>tr>td:first-child {border-left:1px solid #D5D5D5}
	.table-list-eb .table-bordered>tbody>tr>td:last-child {border-right:1px solid #D5D5D5}
	.table-list-eb .table-bordered>tbody>tr:last-child>td {border-bottom:1px solid #D5D5D5}
}
@media (max-width: 767px){
	.table-responsive {border-top:0;border-bottom:0}
}

/*---------- Modal ----------*/
.modal-header {position:relative;padding-bottom:0;border-bottom:1px solid transparent}
.modal-header .close {font-weight:200;text-shadow:none;opacity:0.6;filter:alpha(opacity=60)}
.modal-header .close:hover {opacity:1;filter:alpha(opacity=100)}
.modal-content {border:1px solid transparent;-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.175);box-shadow:0 1px 4px rgba(0,0,0,0.175)}
.modal-footer {position:relative;padding-top:0;border-top:1px solid transparent}
.modal-header[class*=bg-] {padding-top:13px !important;padding-bottom:13px !important;color:#FFF}
.modal-header[class*=bg-] h1, .modal-header[class*=bg-] h2, .modal-header[class*=bg-] h3, .modal-header[class*=bg-] h4, .modal-header[class*=bg-] h5, .modal-header[class*=bg-] h6 {color:#FFF}
.modal-header[class*=bg-] .close {color:#FFF;text-shadow:none;opacity:0.6;filter:alpha(opacity=60)}
.modal-header[class*=bg-] .close:hover {opacity:1;filter:alpha(opacity=100)}
@media (min-width:768px) {
	.modal-dialog {width:700px}
	.modal-xs {width:300px}
	.modal-sm {width:500px}
	.modal-default {width:700px}
	.modal-lg {width:1140px}
	.modal-xlg {width:94%;margin-left:3%;margin-right:3%}
}

/*---------- Image & Video ----------*/
/*Thumbnail*/
.thumbnail {-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);box-shadow:0 1px 1px rgba(0,0,0,0.05);border-radius:3px !important}
.thumbnail > a {display:block}
.thumbnail > img,.thumbnail a > img {width:100%}
a.thumbnail.active,a.thumbnail:focus,a.thumbnail:hover {border-color:#DADADA}
.thumbnail .caption {padding:15px}
.thumb {position:relative;display:block}
.thumb img {display:inline-block;width:100%;max-width:100%;height:auto;border-radius:2px !important}
.thumb-rounded {width:60%;margin:20px auto 0}
.caption-overflow {color:#FFF;left:0;height:100%}
.caption-overflow,.caption-overflow span,.zoom-image {position:absolute;width:100%}
.caption-overflow {border-radius:2px !important}
.caption-overflow {top:0;visibility:hidden;opacity:0;filter:alpha(opacity=0);-webkit-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out}
.caption-overflow span {top:50%;margin-top:-17px;text-align:center}
.caption-overflow .btn-e-brd {background:none}
.caption-overflow .btn-e-brd:hover, .caption-overflow .btn-e-brd:focus {background:none}
.thumb:hover > .caption-overflow {background-color:rgba(0,0,0,0.6);visibility:visible;opacity:1;filter:alpha(opacity=100)}

/*Image*/
img.img-bordered {padding:4px;border:solid 1px #DADADA}
img.img-circle {border-radius:50% !important}

/*Responsive Video*/
.responsive-video {height:0;margin:15px 0;padding-top:1px;position:relative;padding-bottom:56.25%; /*16:9*/}
.responsive-video iframe {top:0;left:0;width:100%;height:100%;position:absolute}
.responsive-video embed {top:0;left:0;width:100%;height:100%;position:absolute}

/*---------- Forms ----------*/
.form-control {box-shadow:none}
.form-control:focus {box-shadow:none}
.form-spacing .form-control {margin-bottom:15px}
.input-group-addon {color:#B5B5B5;font-size:14px;background:#FFF}

/*---------- Carousel ----------*/
/*carousel-e1*/
.carousel-e1 .carousel-caption {left:0;right:0;bottom:0;padding:7px 15px;background:rgba(0, 0, 0, 0.7)}
.carousel-e1 .carousel-caption p {color:#FFF;margin-bottom:0}
.carousel-e1 .carousel-arrow a.carousel-control {opacity:1;font-size:16px;height:inherit;width:inherit;background:none;text-shadow:none;position:inherit}
.carousel-e1 .carousel-arrow a i {top:50%;opacity:0.6;background:#000;margin-top:-15px;position:absolute;color:#FFF;padding:7px 12px;text-align:center;margin-left:3px;margin-right:3px}
.carousel-e1 .carousel-arrow a i:hover {opacity:0.8;color:#FF4848}
.carousel-e1 .carousel-arrow a.left i {left:0}
.carousel-e1 .carousel-arrow a.right i {right:0}

/*---------- Navigation ----------*/
/*Pegination*/
.pagination li a {color:#000;padding:5px 10px;font-size:12px;border:1px solid #d5d5d5}
.pagination li a:hover {color:#53A5FA;background:#f8f8f8;border-color:#d5d5d5}
.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus {border-color:#171C29;background-color:#171C29}

/*Pagination Without Space*/
.pagination-no-space .pagination {margin:0}

/*Pager*/
.pager li > a:hover,.pager li > a:focus {color:#FFF;background:#DF2700;border-color:#DF2700}

/*---------- Sidebar Menu ----------*/
/*Sidebar Menu e1*/
.sidebar-nav-e1 li {padding:0;font-size:12px}
.sidebar-nav-e1 li a {display:block;padding:8px 30px 8px 10px}
.sidebar-nav-e1 li a:hover {text-decoration:none}
.sidebar-nav-e1 > li.active,.sidebar-nav-e1 > li.active:hover {background:#f8f8f8;border-color:#BABABB}
.sidebar-nav-e1 > li.active > a {color:#000;font-weight:bold}

/*Sidebar Sub Navigation*/
.sidebar-nav-e1 li ul {padding:0;list-style:none}
.sidebar-nav-e1 li ul,.sidebar-nav-e1 li.active ul a {background:#fafafa}
.sidebar-nav-e1 li ul a {color:#676769;font-size:12px;border-top:solid 1px #e5e5e5;padding:7px 30px 7px 20px}
.sidebar-nav-e1 ul li:hover a,.sidebar-nav-e1 ul li.active a {color:#FF4848}

/*Sidebar Badges*/
.list-group-item li > .badge {float:right}
.sidebar-nav-e1 span.badge {margin-top:8px;margin-right:10px}
.sidebar-nav-e1 .list-toggle > span.badge {margin-right:25px}
.sidebar-nav-e1 ul li span.badge {margin-top:8px;font-size:11px;padding:3px 5px;margin-right:10px}

/*Sidebar List Toggle*/
.list-toggle:after {top:7px;right:10px;color:#75757A;font-size:12px;font-family:'Font Awesome\ 5 Free';content:"\f105";font-weight:900;position:absolute;display:inline-block}
.list-toggle.active:after {color:#FF4848;font-family:'Font Awesome\ 5 Free';content:"\f105";font-weight:900}

/*---------- Count Stars ----------*/
.stars-existing {color:#FF4848;cursor:pointer}
.star-lg {font-size:30px}
.star-sm {font-size:25px}
.star-xs {font-size:20px}
.star-default {font-size:16px}

/*---------- Alarm Marker ----------*/
.alarm-marker {position:relative}
.alarm-marker .alarm-effect {position:absolute;top:-13px;right:-14px;height:26px;width:26px;z-index:10;border:5px solid #FF4848;border-radius:70px !important;animation:alarm-effect 1s infinite;-webkit-animation:alarm-effect 1s infinite;-moz-animation:alarm-effect 1s infinite}
.alarm-marker .alarm-point {width:6px;height:6px;-webkit-border-radius:30px !important;-moz-border-radius:30px !important;border-radius:30px !important;background-color:#FF4848;position:absolute;right:-4px;top:-3px}
@-moz-keyframes alarm-effect {
	0% {-moz-transform:scale(0);opacity:0}
	25% {-moz-transform:scale(.1);opacity:.1}
	50% {-moz-transform:scale(.5);opacity:.3}
	75% {-moz-transform:scale(.8);opacity:.5}
	100% {-moz-transform:scale(1);opacity:0}
}
@-webkit-keyframes alarm-effect {
	0% {-webkit-transform:scale(0);opacity:0}
	25% {-webkit-transform:scale(.1);opacity:.1}
	50% {-webkit-transform:scale(.5);opacity:.3}
	75% {-webkit-transform:scale(.8);opacity:.5}
	100% {-webkit-transform:scale(1);opacity:0}
}
@keyframes alarm-effect {
	0% {transform:scale(0);opacity:0}
	25% {transform:scale(.1);opacity:.1}
	50% {transform:scale(.5);opacity:.3}
	75% {transform:scale(.8);opacity:.5}
	100% {transform:scale(1);opacity:0}
}

/*---------- Fake Loader ----------*/
#fakeloader {position:fixed;width:100%;height:100%;top:0;left:0;background-color:#f4f4f4;z-index:10}
.spinner6 {width:50px;height:30px;text-align:center}
.spinner6 > div {background-color:#4B4B4D;height:100%;width:6px;margin-left:2px;display:inline-block;-webkit-animation:stretchdelay 1.2s infinite ease-in-out;animation:stretchdelay 1.2s infinite ease-in-out}
.spinner6 .rect2 {-webkit-animation-delay:-1.1s;animation-delay:-1.1s}
.spinner6 .rect3 {-webkit-animation-delay:-1.0s;animation-delay:-1.0s}
.spinner6 .rect4 {-webkit-animation-delay:-0.9s;animation-delay:-0.9s}
.spinner6 .rect5 {-webkit-animation-delay:-0.8s;animation-delay:-0.8s}
@-webkit-keyframes stretchdelay {
	0%,100%,40% {-webkit-transform:scaleY(0.4)}
	20% {-webkit-transform:scaleY(1.0)}
}
@keyframes stretchdelay {
	0%,100%,40% {transform:scaleY(0.4);-webkit-transform:scaleY(0.4)}
	20% {transform:scaleY(1.0);-webkit-transform:scaleY(1.0)}
}

/*----- Perfect Scrollbar -----*/
.contentHolder{padding:0;height:320px;margin:0 auto;overflow:hidden;position:relative;background:#fff}
@media (max-width: 767px){
	.contentHolder {height:auto}
}

/*---------- Modal ----------*/
.modal-header, .modal-body, .modal-footer {padding:10px}
.eb-search-modal .modal-body .eyoom-form .input input {background:#fff;color:#555555;border-color:#d5d5d5;height:40px}
.eb-search-modal .modal-body .eyoom-form .input-button .button {background:#f5f5f5;color:#555555;border-left:1px solid #d5d5d5;height:38px;line-height:38px;padding:0 30px}

/*---------- Profile Photo ----------*/
.profile-modal .profile-photo {position:relative;display:block;text-align:center;margin:10px auto 20px;height:80px;width:80px;padding:3px;-webkit-border-radius:50% !important;-moz-border-radius:50% !important;border-radius:50% !important;box-shadow:0 0 0 1px rgba(0, 0, 0, 0.08);background-color:#fff}
.profile-modal .profile-photo i {height:80px;width:80px;color:#fff;font-size:50px;text-align:center;-webkit-border-radius:50% !important;-moz-border-radius:50% !important;border-radius:50% !important;background-color:#abacb5;line-height:74px}
.profile-modal .profile-photo img {height:80px;width:80px;-webkit-border-radius:50% !important;-moz-border-radius:50% !important;border-radius:50% !important;background-color:#fff;background-size:cover}

/*---------- Back To Top ----------*/
.back-to-top {z-index:1003;cursor:pointer;background:rgba(0, 0, 0, 0.9);-webkit-border-radius:50% !important;-moz-border-radius:50% !important;border-radius:50% !important;width:45px;height:45px;line-height:45px;bottom:45px;right:10px;overflow:hidden;position:fixed;display:block;text-align:center;opacity:1;-webkit-transition:all 0.5s ease-in-out 0s;-moz-transition:all 0.5s ease-in-out 0s;transition:all 0.5s ease-in-out 0s;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
.back-to-top.hidden-top {bottom:-100px;opacity:0;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0)}
.back-to-top:hover {background:#86A0F7}
.back-to-top i {font-size:20px;margin:1px 0 0 0 !important;color:#fff;display:inline-block}
@media (max-width:600px) {
	.back-to-top {bottom:10px}
}

/*---------- Member Nameview ----------*/
.sv_wrap *, .sv_wrap *:after, .sv_wrap *:before {-moz-box-sizing:border-box;box-sizing:border-box}
.sv_wrap .sv {z-index:998;border:1px solid #c5c5c5;width:inherit;min-width:140px;padding:7px 0;background:#fff;-webkit-box-shadow:0 4px 10px rgba(0, 0, 0, 0.15);box-shadow:0 4px 10px rgba(0, 0, 0, 0.15)}
.sv_wrap .sv:before {display:none}
.sv_wrap .sv a {background:#fff;color:#000 !important;padding:5px 10px;line-height:1;font-size:12px;border-bottom:0;display:block;width:140px;text-decoration:none !important}
.sv_wrap .sv a:hover {background:#f2f2f2}
.sv_wrap .sv_on {top:inherit;left:inherit}
.sv_wrap .btn-e-block {text-align:left;padding:2px 10px}

/*---------- EXIF INFO ----------*/
.exif_info {position:relative;overflow:hidden;border:1px solid #FF9800;padding:5px 10px;background:#FFF3E0;margin:10px 0 20px}
.exif_info ul {list-style:none;margin-bottom:0;-webkit-padding-start:0}
.exif_info ul li {display:inline-block;padding:0 5px;font-size:11px;color:#AA3510}
.exif_info ul li:before {content:"•";margin-right:3px}

/*---------- Admin Edit Button ----------*/
.adm-edit-btn {position:absolute;left:0;width:100%;text-align:center;z-index:1}
.btn-edit-mode {display:none}
.btn-edit-mode .btn-e-dark {background:RGBA(75, 75, 77, 0.8)}
.btn-edit-mode .btn-e-dark:hover {background:RGBA(75, 75, 77, 1)}
.btn-edit-mode .btn-e-red {background:RGBA(255, 72, 72, 0.8)}
.btn-edit-mode .btn-e-red:hover {background:RGBA(255, 72, 72, 1)}
.btn-edit-mode .btn-e-blue {background:RGBA(83, 165, 250, 0.8)}
.btn-edit-mode .btn-e-blue:hover {background:RGBA(83, 165, 250, 1)}
.btn-edit-mode .btn-e-yellow {background:RGBA(253, 171, 41, 0.8)}
.btn-edit-mode .btn-e-yellow:hover {background:RGBA(253, 171, 41, 1)}

/*---------- Etc ----------*/
.sidebar-nav-e1.list-group {margin:0 0 25px}
.roboto {font-family:'Roboto', sans-serif}
.helvetica-neue {font-family:'Helvetica Neue', sans-serif}
fieldset legend {border-bottom:0}
label, input, button, select {vertical-align:inherit}
input[type=text]:focus,input[type=password]:focus,  textarea:focus,select:focus {border-color:#A0B3F0 !important}
.sch_word {color:#FC3333}