<script type="text/javascript">
    $(function() {

  var UI = {
    init: function() {
      this.quickMenuFn();
      this.topBtn();
    },

    initialize: function() {
      this.id = {
        target: {
          quick: '#quick',
          stickyTop: '#footer'
        },
        topBtnClass: 'btn_top'
      };
      this.init();
    },

    quickMenuFn: function() {
      var quick = $(this.id.target.quick);
      var qTop = parseInt(quick.css('top'));

      $(window).scroll(function() {
        var winTop = $(window).scrollTop();

        quick.stop().animate({
          top: winTop + qTop
        }, 400);

      })
    },

    topBtn: function() {
      var btnLocation = $('.' + this.id.topBtnClass);
      var timerId = 0;

      $(window).on('scroll', function() {
        var winTop = $(window).scrollTop();
        if (winTop > 200) {
          btnLocation.fadeIn();
          clearInterval(timerId);
          timerId = setInterval(btnEffet, 2000);
        } else {
          btnLocation.fadeOut();
          clearInterval(timerId);
        }

      });

      function btnEffet() {
        btnLocation.fadeTo('300', 0.3).fadeTo('300', 1);
      }

      this.scrollTop(btnLocation);
    },

    scrollTop: function(eTarget, speed) {
      var speed = speed || null;
      eTarget.on('click', function() {
        $('html, body').animate({
          scrollTop: $("body").offset().top
        }, speed)
      })
    }

  };

  $(function() {
    UI.initialize();
  })

})
</script>
<p class="btn_top"><a href="#none">TOP</a></p>
<footer class="footer margin-top-50">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <div class="footer-logo"><img src="../img/logo-footer.png" alt="NIER"></div>
            </div>
            <div class="col-xs-6">
                <address class="footer-info">
                    <span>주소 : (22689) 인천 서구 환경로 42(종합환경연구단지)</span>
                    <span class="info-divider">|</span>
                    <span>T. 032-560-7671</span>
                </address>
                <p class="copyright">Copyright &copy; NATIONAL INSTITUTE OF ENVIRONMENTAL RESEARCH. All Rights Reserved.</p>
            </div>
            <div class="col-xs-3">
                <p class="footer-badge"><img src="../img/open-logo.png" alt="공공누리"></p>
            </div>
        </div>
    </div>
    </script>
</footer>