<div class="tab-structure">
    <ul class="nav nav-structure-tabs tab-3">
        <li class="active"><a href="#tab-energy-1" data-toggle="tab">전국 부문별 최종에너지 소비</a></li>
        <li class=""><a href="#tab-energy-2" data-toggle="tab">지역별 최종에너지원별 소비</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="tab-energy-1">
            <div class="row vertical-align-middle">
                <div class="col-xs-8">
                    <h3 class="select-title"><span>산업</span>부문 전국 최종에너지 소비현황 <span class="unit">단위 : 1,000toe</span></h3>
                </div>
                <div class="col-xs-4">
                    <ul class="select_block">
                        <li>
                            <div class="select">
                                <select name="year" id="year">
                                    <option disabled="">부문선택</option>
                                    <option value="산업" selected="">산업</option>
                                    <option value="가정상업">가정상업</option>
                                    <option value="수송">수송</option>
                                    <option value="공공">공공</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <button type="button" class="btn btn-select btn-primary">확인</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="table_block">
                <table class="table-scores w-200">
                    <thead>
                        <tr>
                            <th colspan="2" class="w-200">부문</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="first_col" rowspan="8">산업</td>
                            <td>소계</td>
                        </tr>
                        <tr>
                            <td>석유제품</td>
                        </tr>
                        <tr>
                            <td>무연탄</td>
                        </tr>
                        <tr>
                            <td>유연탄</td>
                        </tr>
                        <tr>
                            <td>전력</td>
                        </tr>
                        <tr>
                            <td>천연가스</td>
                        </tr>
                        <tr>
                            <td>도시가스</td>
                        </tr>
                        <tr>
                            <td>기타</td>
                        </tr>
                    </tbody>
                </table>
                <div class="table-data-wrapper calc-200">
                    <table class="table-data text_table_data">
                        <thead>
                            <tr>
                                <th>2005</th>
                                <th>2006</th>
                                <th>2007</th>
                                <th>2008</th>
                                <th>2009</th>
                                <th>2010</th>
                                <th>2011</th>
                                <th>2012</th>
                                <th>2013</th>
                                <th>2014</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>94,366</td>
                                <td>97,235</td>
                                <td>104,327</td>
                                <td>106,458</td>
                                <td>106,119</td>
                                <td>116,910</td>
                                <td>126,886</td>
                                <td>128,324</td>
                                <td>130,906</td>
                                <td>136,086</td>
                                <td>136,724</td>
                                <td>137,912</td>
                                <td>144,260</td>
                            </tr>
                            <tr>
                                <td>50,905</td>
                                <td>52,474</td>
                                <td>56,150</td>
                                <td>54,745</td>
                                <td>56,391</td>
                                <td>57,351</td>
                                <td>59,635</td>
                                <td>59,748</td>
                                <td>60,114</td>
                                <td>61,188</td>
                                <td>62,186</td>
                                <td>66,820</td>
                                <td>69,833</td>
                            </tr>
                            <tr>
                                <td>2,800</td>
                                <td>3,086</td>
                                <td>3,569</td>
                                <td>3,906</td>
                                <td>4,240</td>
                                <td>4,851</td>
                                <td>5,775</td>
                                <td>4,752</td>
                                <td>5,005</td>
                                <td>3,835</td>
                                <td>4,164</td>
                                <td>3,860</td>
                                <td>3,473</td>
                            </tr>
                            <tr>
                                <td>18,438</td>
                                <td>18,347</td>
                                <td>19,666</td>
                                <td>21,225</td>
                                <td>18,715</td>
                                <td>23,413</td>
                                <td>26,898</td>
                                <td>26,380</td>
                                <td>26,802</td>
                                <td>30,831</td>
                                <td>30,085</td>
                                <td>27,911</td>
                                <td>29,374</td>
                            </tr>
                            <tr>
                                <td>14,346</td>
                                <td>15,021</td>
                                <td>16,018</td>
                                <td>16,738</td>
                                <td>17,006</td>
                                <td>19,193</td>
                                <td>20,830</td>
                                <td>21,426</td>
                                <td>22,088</td>
                                <td>22,757</td>
                                <td>22,844</td>
                                <td>23,218</td>
                                <td>23,794</td>
                            </tr>
                            <tr>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>559</td>
                                <td>801</td>
                                <td>717</td>
                                <td>467</td>
                                <td>354</td>
                                <td>437</td>
                                <td>504</td>
                                <td>795</td>
                            </tr>
                            <tr>
                                <td>4,656</td>
                                <td>4,847</td>
                                <td>5,225</td>
                                <td>5,933</td>
                                <td>5,891</td>
                                <td>7,329</td>
                                <td>8,383</td>
                                <td>9,501</td>
                                <td>9,903</td>
                                <td>9,050</td>
                                <td>7,644</td>
                                <td>7,537</td>
                                <td>8,010</td>
                            </tr>
                            <tr>
                                <td>3,222</td>
                                <td>3,459</td>
                                <td>3,699</td>
                                <td>3,912</td>
                                <td>3,876</td>
                                <td>4,215</td>
                                <td>4,564</td>
                                <td>5,800</td>
                                <td>6,527</td>
                                <td>8,070</td>
                                <td>9,364</td>
                                <td>8,063</td>
                                <td>8,981</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="sub">자료 : 에너지경제연구원 에너지통계연보</p>
            </div>
            <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['연도', '기타', '도시가스', '무연탄', '석유제품', '소계', '유연탄', '전력', '천연가스'],
                    ['2005', 3222, 4656, 2800, 50905, 94366, 18438, 14346, 0],
                    ['2006', 3459, 4847, 3086, 52474, 97235, 18347, 15021, 0],
                    ['2007', 3699, 5225, 3569, 56150, 104327, 19666, 16018, 0],
                    ['2008', 3912, 5933, 3906, 54745, 106458, 21225, 16738, 0],
                    ['2009', 3876, 5891, 4240, 56391, 106119, 18715, 17006, 0],
                    ['2010', 4215, 7329, 4851, 57351, 116910, 23413, 19193, 559],
                    ['2011', 4564, 8383, 5775, 59635, 126886, 26898, 20830, 801],
                    ['2012', 5800, 9501, 4752, 59748, 128324, 26380, 21426, 717],
                    ['2013', 6527, 9903, 5005, 60114, 130906, 26802, 22088, 467],
                    ['2014', 8070, 9050, 3835, 61188, 136086, 30831, 22757, 354],
                    ['2015', 9364, 7644, 4164, 62186, 136724, 30085, 22844, 437],
                    ['2016', 8063, 7537, 3860, 66820, 137912, 27911, 23218, 504],
                    ['2017', 8981, 8010, 3473, 69833, 144260, 29374, 23794, 795],
                ]);

                var options = {
                    isStacked: true,
                    width: '100%',
                    height: '500',
                    legend: {
                        position: 'top',
                        alignment: 'end',
                        orientation: 'vertical',
                    },
                    vAxis: { minValue: 0 },
                    chartArea: { 'width': '85%', 'height': '80%' }
                };

                var chart = new google.visualization.AreaChart(document.getElementById('chart_energy_category'));
                chart.draw(data, options);
            }
            </script>
            <div id="chart_energy_category"></div>
            <hr>
            <div class="row vertical-align-middle">
                <div class="col-xs-8">
                    <h3 class="select-title"><span>2017</span>년 부문별 최종에너지 소비 비율 <span class="unit">단위 : 1,000toe</span></h3>
                </div>
                <div class="col-xs-4">
                    <ul class="select_block">
                        <li>
                            <div class="select">
                                <select name="year" id="year">
                                    <option disabled="">연도선택</option>
                                    <option value="2005">2005</option>
                                    <option value="2006">2006</option>
                                    <option value="2007">2007</option>
                                    <option value="2008">2008</option>
                                    <option value="2009">2009</option>
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017" selected="">2017</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <button type="button" class="btn btn-select btn-primary">확인</button>
                        </li>
                    </ul>
                </div>
            </div>
            <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

                var data = google.visualization.arrayToDataTable([
                    ['부문', '값'],
                    ['가정상업', 79815],
                    ['공공', 13876],
                    ['산업', 288520],
                    ['수송', 85592]
                ]);

                var options = {
                    width: '100%',
                    height: '500',
                    legend: {
                        position: 'right',
                        alignment: 'end',
                        orientation: 'vertical',
                    },
                    vAxis: { minValue: 0 },
                    chartArea: { 'width': '85%', 'height': '80%' }
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                chart.draw(data, options);
            }
            </script>
            <div id="piechart"></div>
        </div>
        <div class="tab-pane fade" id="tab-energy-2">
            <div class="row vertical-align-middle">
                <div class="col-xs-8">
                    <h3 class="select-title"><span>전국</span>최종에너지 원별 소비현황 <span class="unit">단위 : 1,000toe</span></h3>
                </div>
                <div class="col-xs-4">
                    <ul class="select_block">
                        <li>
                            <div class="select">
                                <select name="year" id="city">
                                    <option disabled="">지역선택</option>
                                    <option value="전국" selected="">전국</option>
                                    <optgroup label="수도권">
                                        <option value="수도권">수도권</option>
                                        <option value="서울특별시">서울특별시</option>
                                        <option value="인천광역시">인천광역시</option>
                                        <option value="경기">경기</option>
                                    </optgroup>
                                    <optgroup label="중부권">
                                        <option value="중부권">중부권</option>
                                        <option value="대전광역시">대전광역시</option>
                                        <option value="세종특별자치시">세종특별자치시</option>
                                        <option value="충청북도">충청북도</option>
                                        <option value="충청남도">충청남도</option>
                                        <option value="전라북도">전라북도</option>
                                    </optgroup>
                                    <optgroup label="남부권">
                                        <option value="남부권">남부권</option>
                                        <option value="광주광역시">광주광역시</option>
                                        <option value="전라남도">전라남도</option>
                                    </optgroup>
                                    <optgroup label="동남권">
                                        <option value="동남권">동남권</option>
                                        <option value="부산광역시">부산광역시</option>
                                        <option value="대구광역시">대구광역시</option>
                                        <option value="울산광역시">울산광역시</option>
                                        <option value="경상북도">경상북도</option>
                                        <option value="경상남도">경상남도</option>
                                    </optgroup>
                                </select>
                            </div>
                        </li>
                        <li>
                            <button type="button" class="btn btn-select btn-primary">확인</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="table_block">
                <table class="table-scores">
                    <thead>
                        <tr>
                            <th>부문</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>합계</td>
                        </tr>
                        <tr>
                            <td>석탄</td>
                        </tr>
                        <tr>
                            <td>석유</td>
                        </tr>
                        <tr>
                            <td>도시가스</td>
                        </tr>
                        <tr>
                            <td>전력</td>
                        </tr>
                        <tr>
                            <td>열에너지</td>
                        </tr>
                        <tr>
                            <td>신재생및기타</td>
                        </tr>
                    </tbody>
                </table>
                <div class="table-data-wrapper">
                    <table class="table-data text_table_data">
                        <thead>
                            <tr>
                                <th>2005</th>
                                <th>2006</th>
                                <th>2007</th>
                                <th>2008</th>
                                <th>2009</th>
                                <th>2010</th>
                                <th>2011</th>
                                <th>2012</th>
                                <th>2013</th>
                                <th>2014</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>170,854</td>
                                <td>173,584</td>
                                <td>181,455</td>
                                <td>182,576</td>
                                <td>182,066</td>
                                <td>193,832</td>
                                <td>205,863</td>
                                <td>208,120</td>
                                <td>210,247</td>
                                <td>213,870</td>
                                <td>218,608</td>
                                <td>225,681</td>
                                <td>233,901</td>
                            </tr>
                            <tr>
                                <td>22,311</td>
                                <td>22,660</td>
                                <td>24,249</td>
                                <td>26,219</td>
                                <td>23,895</td>
                                <td>27,968</td>
                                <td>33,544</td>
                                <td>31,964</td>
                                <td>32,679</td>
                                <td>35,412</td>
                                <td>34,921</td>
                                <td>32,840</td>
                                <td>33,360</td>
                            </tr>
                            <tr>
                                <td>96,718</td>
                                <td>97,037</td>
                                <td>100,622</td>
                                <td>97,217</td>
                                <td>98,370</td>
                                <td>100,381</td>
                                <td>101,976</td>
                                <td>101,710</td>
                                <td>101,809</td>
                                <td>102,957</td>
                                <td>107,322</td>
                                <td>114,760</td>
                                <td>117,861</td>
                            </tr>
                            <tr>
                                <td>17,810</td>
                                <td>18,379</td>
                                <td>18,955</td>
                                <td>19,765</td>
                                <td>19,459</td>
                                <td>21,081</td>
                                <td>23,672</td>
                                <td>25,445</td>
                                <td>25,345</td>
                                <td>23,395</td>
                                <td>22,115</td>
                                <td>22,689</td>
                                <td>24,053</td>
                            </tr>
                            <tr>
                                <td>28,587</td>
                                <td>29,989</td>
                                <td>31,700</td>
                                <td>33,116</td>
                                <td>33,925</td>
                                <td>37,338</td>
                                <td>39,136</td>
                                <td>40,127</td>
                                <td>40,837</td>
                                <td>41,073</td>
                                <td>41,594</td>
                                <td>42,745</td>
                                <td>43,666</td>
                            </tr>
                            <tr>
                                <td>1,530</td>
                                <td>1,425</td>
                                <td>1,438</td>
                                <td>1,512</td>
                                <td>1,551</td>
                                <td>1,718</td>
                                <td>1,702</td>
                                <td>1,751</td>
                                <td>1,695</td>
                                <td>1,567</td>
                                <td>1,559</td>
                                <td>1,710</td>
                                <td>2,441</td>
                            </tr>
                            <tr>
                                <td>3,896</td>
                                <td>4,092</td>
                                <td>4,491</td>
                                <td>4,747</td>
                                <td>4,867</td>
                                <td>5,346</td>
                                <td>5,833</td>
                                <td>7,124</td>
                                <td>7,883</td>
                                <td>9,466</td>
                                <td>11,096</td>
                                <td>10,936</td>
                                <td>12,520</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="sub">자료 : KESIS(국가에너지통계종합정보시스템)</p>
            </div>
            <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['연도', '도시가스', '석유', '석탄', '신재생및기타', '열에너지', '전력'],
                    ['2005', 17810, 96718, 22311, 3896, 1530, 28587],
                    ['2006', 18379, 97037, 22660, 4092, 1425, 29989],
                    ['2007', 18955, 100622, 24249, 4491, 1438, 31700],
                    ['2008', 19765, 97217, 26219, 4747, 1512, 33116],
                    ['2009', 19459, 98370, 23895, 4867, 1551, 33925],
                    ['2010', 21081, 100381, 27968, 5346, 1718, 37338],
                    ['2011', 23672, 101976, 33544, 5833, 1702, 39136],
                    ['2012', 25445, 101710, 31964, 7124, 1751, 40127],
                    ['2013', 25345, 101809, 32679, 7883, 1695, 40837],
                    ['2014', 23395, 102957, 35412, 9466, 1567, 41073],
                    ['2015', 22115, 107322, 34921, 11096, 1559, 41594],
                    ['2016', 22689, 114760, 32840, 10936, 1710, 42745],
                    ['2017', 24053, 117861, 33360, 12520, 2441, 43666],
                ]);

                var options = {
                    isStacked: true,
                    width: '100%',
                    height: '500',
                    legend: {
                        position: 'top',
                        alignment: 'end',
                        orientation: 'vertical',
                    },
                    vAxis: { minValue: 0 },
                    chartArea: { 'width': '85%', 'height': '80%' }
                };

                var chart = new google.visualization.AreaChart(document.getElementById('chart_energy_area'));
                chart.draw(data, options);
            }
            </script>
            <div id="chart_energy_area"></div>
        </div>
    </div>
</div>