<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>도로이동오염원 관리 대책</td>
    <td>830</td>
    <td>1. 제작차 배출허용기준 강화</td>
    <td></td>
    <td></td>
    <td>O</td>
    <td><span class="input">입력</span></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>도로이동오염원 관리 대책</td>
    <td>811</td>
    <td>2. 노후 경유차 조기폐차</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td><span class="submit">제출</span></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>도로이동오염원 관리 대책</td>
    <td>840</td>
    <td>3. 중대형차 화물차 조기폐차 확대</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>도로이동오염원 관리 대책</td>
    <td>812</td>
    <td>4. 노후 경유차 운행제한</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>도로이동오염원 관리 대책</td>
    <td>850</td>
    <td>5. 자동차 친환경등급제 도입</td>
    <td></td>
    <td></td>
    <td>O</td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>도로이동오염원 관리 대책</td>
    <td>820</td>
    <td>6. LPG 차량 규제 완화</td>
    <td></td>
    <td></td>
    <td>O</td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>도로이동오염원 관리 대책</td>
    <td>860</td>
    <td>7. 제작차 배출허용기준 추가 강화</td>
    <td></td>
    <td></td>
    <td>O</td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>도로이동오염원 관리 대책</td>
    <td>872</td>
    <td>8. 이륜차 배출허용기준 강화('20년)</td>
    <td></td>
    <td></td>
    <td>O</td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>도로이동오염원 관리 대책</td>
    <td>871</td>
    <td>8. 이륜차 배출허용기준 강화('17년)</td>
    <td></td>
    <td></td>
    <td>O</td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>도로이동오염원 관리 대책</td>
    <td>910</td>
    <td>9. 친환경 자동차 보급 확대</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>도로이동오염원 관리 대책</td>
    <td>920</td>
    <td>10. 공공기관 친환경차 의무구매 비율 상향</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>도로이동오염원 관리 대책</td>
    <td>930</td>
    <td>11. 수소, 전기버스, 전기트럭 보급 확대</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>도로이동오염원 관리 대책</td>
    <td>940</td>
    <td>12. 전기 이륜차 보급</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>도로이동오염원 관리 대책</td>
    <td>1010</td>
    <td>13. 대도시권 노선버스의 CNG버스 교체</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>도로이동오염원 관리 대책</td>
    <td>1020</td>
    <td>14. 어린이 통학차량 LPG차 전환</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>도로이동오염원 관리 대책</td>
    <td>1030</td>
    <td>15. 1톤 화물차 LPG차 교체 지원</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>배출시설 관리 대책</td>
    <td>200</td>
    <td>3. 사업장 배출허용기준 및 NOx 배출 관리 강화</td>
    <td></td>
    <td></td>
    <td>O</td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>비도로이동오염원 관리 대책</td>
    <td>1110</td>
    <td>1. 노후 건설기계 PM·NOx 동시저감장치 부착(덤프트럭, 콘크리트믹서트럭)</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>비도로이동오염원 관리 대책</td>
    <td>1220</td>
    <td>1. 노후 건설기계 PM·NOx 동시저감장치 부착(콘크리트펌프)</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>비도로이동오염원 관리 대책</td>
    <td>1230</td>
    <td>2. 노후 건설기계 DPF 부착(콘크리트펌프)</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>비도로이동오염원 관리 대책</td>
    <td>1120</td>
    <td>2. 노후 건설기계 DPF 부착(덤프트럭, 콘크리트믹서트럭)</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>비도로이동오염원 관리 대책</td>
    <td>1210</td>
    <td>3. 노후 건설기계 엔진교체</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>비도로이동오염원 관리 대책</td>
    <td>1310</td>
    <td>4. 선박 연료유 황함유량 기준 강화</td>
    <td></td>
    <td></td>
    <td>O</td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>비도로이동오염원 관리 대책</td>
    <td>1320</td>
    <td>5. 황산화물 배출규제해역 지정</td>
    <td></td>
    <td></td>
    <td>O</td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>비도로이동오염원 관리 대책</td>
    <td>1330</td>
    <td>6. 선박 육상전원 공급시설 확충</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>비도로이동오염원 관리 대책</td>
    <td>1410</td>
    <td>7. 농기계 조기폐차</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>비도로이동오염원 관리 대책</td>
    <td>1420</td>
    <td>8. 농기계 매연저감장치(DPF) 부착지원</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>생활오염원 관리 대책</td>
    <td>1500</td>
    <td>1. 도로청소차량 보급 확대</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>생활오염원 관리 대책</td>
    <td>1600</td>
    <td>2. 도로설계기준 및 집중관리도로 설정</td>
    <td></td>
    <td></td>
    <td>O</td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>생활오염원 관리 대책</td>
    <td>1700</td>
    <td>3. 건설현장 비산먼지 배출 저감</td>
    <td></td>
    <td></td>
    <td>O</td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>생활오염원 관리 대책</td>
    <td>700</td>
    <td>4. 고기구이 음식점 방지시설 설치</td>
    <td></td>
    <td></td>
    <td>O</td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>생활오염원 관리 대책</td>
    <td>1810</td>
    <td>5. 비산먼지 발생사업 관리대상 확대(대수선공사)</td>
    <td></td>
    <td></td>
    <td>O</td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>생활오염원 관리 대책</td>
    <td>1820</td>
    <td>5. 비산먼지 발생사업 관리대상 확대(농지정리)</td>
    <td></td>
    <td></td>
    <td>O</td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>생활오염원 관리 대책</td>
    <td>620</td>
    <td>6. 생활주변 저 NOx 보일러 설치 지원 및 관리 강화(전망배출량 &amp; 강화율)</td>
    <td></td>
    <td></td>
    <td>O</td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>생활오염원 관리 대책</td>
    <td>610</td>
    <td>6. 생활주변 저 NOx 보일러 설치 지원 및 관리 강화(가정용 저녹스 보일러 교체 지원 대수)</td>
    <td></td>
    <td>O</td>
    <td></td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>생활오염원 관리 대책</td>
    <td>520</td>
    <td>7. 도료 VOCs 함량 제한 및 수성도료 사용 확대</td>
    <td></td>
    <td></td>
    <td>O</td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>생활오염원 관리 대책</td>
    <td>510</td>
    <td>7. 도료 VOCs 함량 제한 및 수성도료 사용 확대(전망배출량 &amp; 강화율)</td>
    <td></td>
    <td></td>
    <td>O</td>
    <td></td>
</tr>
<tr onclick="location.href='evaluation-detail-01.html' ">
    <td>생활오염원 관리 대책</td>
    <td>1900</td>
    <td>8. 주유소 유증기 관리</td>
    <td></td>
    <td></td>
    <td>O</td>
    <td></td>
</tr>