<script type="text/javascript">
    $(function() {

  var UI = {
    init: function() {
      this.quickMenuFn();
      this.topBtn();
    },

    initialize: function() {
      this.id = {
        target: {
          quick: '#quick',
          stickyTop: '#footer'
        },
        topBtnClass: 'btn_top'
      };
      this.init();
    },

    quickMenuFn: function() {
      var quick = $(this.id.target.quick);
      var qTop = parseInt(quick.css('top'));

      $(window).scroll(function() {
        var winTop = $(window).scrollTop();

        quick.stop().animate({
          top: winTop + qTop
        }, 400);

      })
    },

    topBtn: function() {
      var btnLocation = $('.' + this.id.topBtnClass);
      var timerId = 0;

      $(window).on('scroll', function() {
        var winTop = $(window).scrollTop();
        if (winTop > 200) {
          btnLocation.fadeIn();
          clearInterval(timerId);
          timerId = setInterval(btnEffet, 2000);
        } else {
          btnLocation.fadeOut();
          clearInterval(timerId);
        }

      });

      function btnEffet() {
        btnLocation.fadeTo('300', 0.3).fadeTo('300', 1);
      }

      this.scrollTop(btnLocation);
    },

    scrollTop: function(eTarget, speed) {
      var speed = speed || null;
      eTarget.on('click', function() {
        $('html, body').animate({
          scrollTop: $("body").offset().top
        }, speed)
      })
    }

  };

  $(function() {
    UI.initialize();
  })

})
</script>
<p class="btn_top"><a href="#none">TOP</a></p>

<!--<hr class="clear">-->
<!--로고 링크 영역-->
<!--
<div class="container">
    <ul class="related-logo">
        <li><a href="http://www.me.go.kr" target="_blank"><img src="img/main/logo-footer-01.png" alt="환경부"></a></li>
        <li><a href="http://www.nier.go.kr" target="_blank"><img src="img/logo-footer.png" alt="NIER"></a></li>
        <li><a href="http://www.me.go.kr/mamo" target="_blank"><img src="img/main/logo-footer-02.png" alt="수도권대기환경청"></a></li>
        <li><a href="https://www.seoul.go.kr" target="_blank"><img src="img/main/logo-footer-03.png" alt="서울특별시"></a></li>
        <li><a href="https://www.incheon.go.kr" target="_blank"><img src="img/main/logo-footer-04.png" alt="인천광역시"></a></li>
        <li><a href="https://www.gg.go.kr" target="_blank"><img src="img/main/logo-footer-05.png" alt="경기도"></a></li>
    </ul>
</div>
-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <div class="footer-logo"><img src="https://client.roveworks.com/ecocna/smartairscreen/img/logo-footer.png" alt="NIER"></div>
            </div>
            <div class="col-xs-5">
                <ul class="footer-menu list-unstyled list-inline">
                    <li><a href="copyright.html">저작권 정책</a></li>
                    <li><a href="sitemap.html">사이트맵</a></li>
                </ul>
                <address class="footer-info">
                    <span>주소 : (22689) 인천 서구 환경로 42(종합환경연구단지)</span>
                    <span class="info-divider">|</span>
                    <span>T. 032-560-7671</span>
                </address>
                <p class="copyright">Copyright &copy; NATIONAL INSTITUTE OF ENVIRONMENTAL RESEARCH.<br> All Rights Reserved.</p>
            </div>
            <div class="col-xs-2">
                <dl class="family-site">
                    <dt><a href="#" class="hte-font-hover">소속기관 바로가기<i class="fa fa-sort-up"></i></a></dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li><a href="http://me.go.kr" target="_blank">환경부</a></li>
                            <li><a href="http://nier.go.kr" target="_blank">국립환경과학원</a></li>
                            <li><a href="http://me.go.kr/mamo" target="_blank">수도권대기환경청</a></li>
                            <li><a href="http://me.go.kr/gg" target="_blank">금강유역환경청</a></li>
                            <li><a href="http://me.go.kr/ysg" target="_blank">영산강유역환경청</a></li>
                            <li><a href="http://me.go.kr/ndg" target="_blank">낙동강유역환경청</a></li>
                            <li><a href="http://sodac.nier.go.kr" target="_blank">대기배출원관리시스템</a></li>
                            <li><a href="http://air.go.kr" target="_blank">대기오염물질배출원</a></li>
                        </ul>
                    </dd>
                </dl>
            </div>
            <div class="col-xs-2">
                <dl class="family-site2">
                    <dt><a href="#" class="hte-font-hover">지방자치단체 바로가기<i class="fa fa-sort-up"></i></a></dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li><a href="http://www.seoul.go.kr/" target="_blank">서울특별시</a></li>
                            <li><a href="http://www.incheon.go.kr/" target="_blank">인천광역시</a></li>
                            <li><a href="http://www.gg.go.kr/" target="_blank">경기도</a></li>
                            <li><a href="http://www.daejeon.go.kr/" target="_blank">대전광역시</a></li>
                            <li><a href="http://www.sejong.go.kr/" target="_blank">세종특별자치시</a></li>
                            <li><a href="http://www.chungbuk.go.kr/" target="_blank">충청북도</a></li>
                            <li><a href="http://www.chungnam.go.kr/" target="_blank">충청남도</a></li>
                            <li><a href="http://www.jeonbuk.go.kr/" target="_blank">전라북도</a></li>
                            <li><a href="https://www.gwangju.go.kr/intro/index.html" target="_blank">광주광역시</a></li>
                            <li><a href="http://www.jeonnam.go.kr/" target="_blank">전라남도</a></li>
                            <li><a href="http://www.busan.go.kr/" target="_blank">부산광역시</a></li>
                            <li><a href="http://www.daegu.go.kr/" target="_blank">대구광역시</a></li>
                            <li><a href="http://www.ulsan.go.kr/" target="_blank">울산광역시</a></li>
                            <li><a href="http://www.gyeongbuk.go.kr/" target="_blank">경상북도</a></li>
                            <li><a href="http://www.gyeongnam.go.kr/" target="_blank">경상남도</a></li>
                        </ul>
                    </dd>
                </dl>
                <p class="footer-badge"><img src="https://client.roveworks.com/ecocna/smartairscreen/img/open-logo.png" alt="공공누리"></p>
            </div>
        </div>
    </div>
    <div class="sidebar-left-mask sidebar-left-trigger" data-action="toggle" data-side="left"></div>
    <div class="sidebar-right-mask sidebar-right-trigger" data-action="toggle" data-side="right"></div>
    <div class="modal fade search-contents-modal" aria-hidden="true">
        <div class="modal-box modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="member-contents">
                        <div class="member-contnets-mid">
                            <form name="fsearchbox" method="get" action="" onsubmit="return fsearchbox_submit(this);">
                                <input type="hidden" name="sfl" value="wr_subject||wr_content">
                                <input type="hidden" name="sop" value="and">
                                <label for="sch_stx" class="sound_only"><strong>검색어 입력 필수</strong></label>
                                <div class="input input-button">
                                    <input type="text" name="stx" id="head_sch_stx" class="sch_stx" maxlength="20" placeholder="검색어 입력">
                                    <div class="button"><input type="submit"><i class="fa fa-search"></i></div>
                                </div>
                            </form>
                            <script>
                                function fsearchbox_submit(f)
                                {
                                    if (f.stx.value.length < 2) {
                                      alert("검색어는 두글자 이상 입력하십시오.");
                                      f.stx.select();
                                      f.stx.focus();
                                      return false;
                                  }

                            // 검색에 많은 부하가 걸리는 경우 이 주석을 제거하세요.
                            var cnt = 0;
                            for (var i=0; i<f.stx.value.length; i++) {
                              if (f.stx.value.charAt(i) == ' ')
                                cnt++;
                        }

                        if (cnt > 1) {
                          alert("빠른 검색을 위하여 검색어에 공백은 한개만 입력할 수 있습니다.");
                          f.stx.select();
                          f.stx.focus();
                          return false;
                      }

                      return true;
                  }
              </script>
                        </div>
                        <div class="member-contnets-bottom">
                            <button type="button" data-dismiss="modal"><i class="fa fa-close"></i> 닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function() {
        App.init();
    });
    </script>
</footer>