<header id="header">
    <div class="header-top">
        <div class="container clear-after">
            <h1 class="header-logo">
                <a href="main.html">
                    <img src="https://client.roveworks.com/ecocna/smartairscreen/img/site_logo.png" alt="Smart Air Screen"><span class="logo-txt">권역별 대기개선 통합관리시스템</span>
                </a>
            </h1>
            <div class="top-bar clear-after">
                <ul class="top-bar-list list-unstyled">
                    <li><a href="#"><span>(주)에코씨앤에이</span>&nbsp;님</a></li>
                    <li><a href="index.html"><span>로그아웃</span></a></li>
                    <li class="btn-search top-bar-icon"><a href="#" data-toggle="modal" data-target=".search-contents-modal"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--메인 메뉴 -->
    <div class="main-menu">
        <ul class="category">
            <li><a href="about.html">서비스 소개</a></li>
            <li><a href="capital_statistics.html">기초자료</a></li>
            <li><a href="planning/generalplan.html">계획수립</a></li>
            <li><a href="evaluation-list.html">실적평가</a></li>
            <li><a href="#">종합평가</a></li>
            <li><a href="reference-intro.html">자료실</a></li>
            <li><a href="#">이용안내</a></li>
            <div class="submenu">
                <div class="dropdown">
                    <ul>
                        <li>
                            <a href="about.html">개요</a>
                        </li>
                        <li><a href="system.html">시스템 구성 및 사용방법</a></li>
                        <li><a href="territorylaw.html">대기관리권역법 소개</a></li>
                    </ul>
                    <ul>
                        <li><a href="capital_statistics.html">기초자료</a></li>
                        <li><a href="#">모델링</a></li>
                        <li><a href="#">방지시설 정보</a></li>
                    </ul>
                    <ul>
                        <li><a href="planning/generalplan.html">기본계획 수립</a></li>
                        <li><a href="#">시행계획 수립</a></li>
                    </ul>
                    <ul>
                        <li><a href="evaluation-list.html">추진실적 입력</a></li>
                        <li><a href="evaluation-input.html">추진실적 평가</a></li>
                        <li><a href="evaluation-custom.html">추진실적 맞춤형 분석</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">5개년 종합평가</a></li>
                    </ul>
                    <ul>
                        <li><a href="reference-intro.html">권역별 기본계획</a></li>
                        <li><a href="reference-01.html">수도권 기본계획</a></li>
                        <li><a href="library_main.html">대기정책도서관</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">교육영상</a></li>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">문의하기</a></li>
                    </ul>
                </div>
            </div>
        </ul>
    </div>
</header>