<style type="text/css">
#a-seoul {
    bottom: 450px;
    left: 160px;
}

#a-gyeonggi {
    bottom: 470px;
    left: 180px;
}

#a-incheon {
    bottom: 440px;
    left: 130px;
}

#a-chungbuk {
    bottom: 390px;
    left: 220px;
}

#a-chungnam {
    bottom: 370px;
    left: 130px;
}

#a-daejeon {
    bottom: 330px;
    left: 185px;
}

#a-sejong {
    bottom: 350px;
    left: 170px;
}

#a-gangwon {
    bottom: 470px;
    left: 280px;
}

#a-jeonbuk {
    bottom: 280px;
    left: 160px;
}

#a-jeonnam {
    bottom: 225px;
    left: 150px;
}

#a-gwangju {
    bottom: 215px;
    left: 150px;
}

#a-gyeongbuk {
    bottom: 360px;
    left: 300px;
}

#a-gyeongnam {
    bottom: 250px;
    left: 240px;
}

#a-daegu {
    bottom: 285px;
    left: 290px;
}

#a-ulsan {
    bottom: 255px;
    left: 335px;
}

#a-busan {
    bottom: 215px;
    left: 320px;
}

#a-jeju {
    bottom: 50px;
    left: 120px;
}
</style>
<script type="text/javascript">
</script>
<div class="main-map">
    <ul class="value-select">
        <!--<h3>시도 범위</h3>-->
        <li>
            <div class="select">
                <select name="year" id="year">
                    <option selected disabled>오염물질선택</option>
                    <option value="PM2.5" selected="">PM2.5</option>
                    <option value="PM10">PM10</option>
                    <option value="O3">O3</option>
                    <option value="NO2">NO2</option>
                    <option value="SO2">SO2</option>
                </select>
            </div>
        </li>
    </ul>
    <div id="a-seoul" class="map-area">
        <span class="speech-bubble">
            <b>지역 :</b> 서울<br><b>오염물질 :</b> PM2.5<br><b>농도 :</b> 13 ㎍/m3<br><b>등급 :</b> 좋음
        </span>
    </div>
    <div id="a-gyeonggi" class="map-area">
        <span class="speech-bubble">
            <b>지역 :</b> 경기<br><b>오염물질 :</b> PM2.5<br><b>농도 :</b> 12 ㎍/m3<br><b>등급 :</b> 좋음
        </span>
    </div>
    <div id="a-incheon" class="map-area">
        <span class="speech-bubble">
            <b>지역 :</b> 인천<br><b>오염물질 :</b> PM2.5<br><b>농도 :</b> 11 ㎍/m3<br><b>등급 :</b> 좋음
        </span>
    </div>
    <div id="a-chungbuk" class="map-area">
        <span class="speech-bubble">
            <b>지역 :</b> 충북<br><b>오염물질 :</b> PM2.5<br><b>농도 :</b> 15 ㎍/m3<br><b>등급 :</b> 보통
        </span>
    </div>
    <div id="a-chungnam" class="map-area">
        <span class="speech-bubble">
            <b>지역 :</b> 충남<br><b>오염물질 :</b> PM2.5<br><b>농도 :</b> 14 ㎍/m3<br><b>등급 :</b> 좋음
        </span>
    </div>
    <div id="a-daejeon" class="map-area">
        <span class="speech-bubble">
            <b>지역 :</b> 대전<br><b>오염물질 :</b> PM2.5<br><b>농도 :</b> 12 ㎍/m3<br><b>등급 :</b> 좋음
        </span>
    </div>
    <div id="a-sejong" class="map-area">
        <span class="speech-bubble">
            <b>지역 :</b> 세종<br><b>오염물질 :</b> PM2.5<br><b>농도 :</b> 15 ㎍/m3<br><b>등급 :</b> 보통
        </span>
    </div>
    <div id="a-gangwon" class="map-area">
        <span class="speech-bubble">
            <b>지역 :</b> 강원<br><b>오염물질 :</b> PM2.5<br><b>농도 :</b> 11 ㎍/m3<br><b>등급 :</b> 좋음
        </span>
    </div>
    <div id="a-jeonbuk" class="map-area">
        <span class="speech-bubble">
            <b>지역 :</b> 전북<br><b>오염물질 :</b> PM2.5<br><b>농도 :</b> 11 ㎍/m3<br><b>등급 :</b> 좋음
        </span>
    </div>
    <div id="a-jeonnam" class="map-area">
        <span class="speech-bubble">
            <b>지역 :</b> 전남<br><b>오염물질 :</b> PM2.5<br><b>농도 :</b> 10 ㎍/m3<br><b>등급 :</b> 좋음
        </span>
    </div>
    <div id="a-gwangju" class="map-area">
        <span class="speech-bubble">
            <b>지역 :</b> 광주<br><b>오염물질 :</b> PM2.5<br><b>농도 :</b> 12 ㎍/m3<br><b>등급 :</b> 좋음
        </span>
    </div>
    <div id="a-gyeongbuk" class="map-area">
        <span class="speech-bubble">
            <b>지역 :</b> 경북<br><b>오염물질 :</b> PM2.5<br><b>농도 :</b> 14 ㎍/m3<br><b>등급 :</b> 좋음
        </span>
    </div>
    <div id="a-gyeongnam" class="map-area">
        <span class="speech-bubble">
            <b>지역 :</b> 경남<br><b>오염물질 :</b> PM2.5<br><b>농도 :</b> 11 ㎍/m3<br><b>등급 :</b> 좋음
        </span>
    </div>
    <div id="a-daegu" class="map-area">
        <span class="speech-bubble">
            <b>지역 :</b> 대구<br><b>오염물질 :</b> PM2.5<br><b>농도 :</b> 14 ㎍/m3<br><b>등급 :</b> 좋음
        </span>
    </div>
    <div id="a-ulsan" class="map-area">
        <span class="speech-bubble">
            <b>지역 :</b> 울산<br><b>오염물질 :</b> PM2.5<br><b>농도 :</b> 12 ㎍/m3<br><b>등급 :</b> 좋음
        </span>
    </div>
    <div id="a-busan" class="map-area">
        <span class="speech-bubble">
            <b>지역 :</b> 부산<br><b>오염물질 :</b> PM2.5<br><b>농도 :</b> 13 ㎍/m3<br><b>등급 :</b> 좋음
        </span>
    </div>
    <div id="a-jeju" class="map-area">
        <span class="speech-bubble">
            <b>지역 :</b> 제주<br><b>오염물질 :</b> PM2.5<br><b>농도 :</b> 9 ㎍/m3<br><b>등급 :</b> 좋음
        </span>
    </div>
    <svg fill="#777" stroke="#edf1f5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" version="1.2" viewbox="0 0 1000 1064">
        <a href="#" onmouseover="document.getElementById('a-chungbuk').style.display='block';" onmouseout="document.getElementById('a-chungbuk').style.display='none';">
            <path d="M639.7 322.2l-1.9 2.2-2.1 1.3-1.9-0.7-1.5 0.9-3.7 3.9-4 3.4-2.7 2.5-3.2 1.1-2 1.6-1.4 2.5-4.9 3.5-3.4 5-1.7 3.7-2 3.7 1.1 2 2.1 1.9-2.3 7.8-13.3 5.5-5.6-1.8-2.4-4.8-3.7-3.2-2.7-1.9-2-2.3-2.1 2-1.6 2.6-0.8 3.1-1.1 3.3-4.6-0.4-4.9-1.7-2.5-1.7-2.7 1.8-2.6 3.5-3.2 0.2-2.5-1.6-1.9 3.2-2 4.3-1.1 4.1 3.1 3.9 2.3 4.4-11.3-1.7-6-2.7-3.4 5.2-5.6 2.6-4.9 3.3-0.4 2.4 0.1 1.8-0.9 2-3.5 4.8-2.3 2.5-2.3 0.4-2.4 1.1 1.8 4.5 6.2 1.1 7.7 11.3-2.8 2.8-1.6 4.5-0.6 10.7-1 4.7 1 3.4 1.8 3.1-2.3 4.5-3.5 3.1 0.9 9.3 6.4-1.5 3.8 1.3 4.5 3.7 3.1 1.5 8.1-2 3.5 2.7 1.8 10.2-3.3-0.2-3.8-0.7-3.9 3.3 0.9 5.3 0.1 2.6-0.4 3.3-1.5 1.8-1.2 2.2-1.4 5-2.4 4.8-4 1.4-3.8 1.8-2 2.2-2.1 1.8-2.3-1.2-2.3-2.2-5.8 2.6-5.1 3.1-2.6-0.7-1.4-1.8-7.1-2.4-2.4-2.8-2.7-1.6-1 1.4-1.3 0.3-1.5-1.4-1.3-1.6-3.6-5.6-3.3-5.7-1.3-6.8 0.2-6.7-1.6-5.9-4.9-3-4.7-1.5-5.1 1.1-0.4-5.6 0.3-5.4 1.9-7.6 3.5-6.5 1.5-3.3 1.6-2.9 2.6-2 0.6-3.4-2-0.7-2.2-1-2.7 2-2.1 2.8-1.6-5.2-0.3-3.5-1.9-1.1 0.2-2.2-2.2-0.5-1.8 2.6-5.1 1.2-4.8-1.4 0.6-3.4-0.9-2.2-1.4-0.7-1.1-1.2-0.6-1.5 0.4-1.5 0.7-1.9 0.3-2.1-0.3-2-0.5-1.2 0.3-1.5 0.8-1.9 0.1-2.1-12-0.8-11.7 2.4 0.7-6.1 2-5.7-0.3-3.3 3.1-6.7 4.4-6.4 3.3-5.8 1.4-1.4 1.5 0.2 1.4-0.4 0.8-1.5 0.3-1.7 0.4-2.2 0.8-2 0.4-2.3-0.3-2.2-1.1-2-1.3-1.2 0.2-4.1-2.1-1.4-2.7-5.5-2.1-1.3-1.9-1.9-1.3-3 7.1-2 6.8-3.3 5.2-1.8 1.5-5.8 2.5-2.8 4.1-1.7 1.9-2.5 1.3-3.3 2.5-2.6 3.1 0.6 0.9 1.2 3.9-2.8 7.6-14.1 1.7-3.2 2.5-1.9 1.3-1.9 1.1-2.1 16.7-4.6 16.8-2.3-1.4 9.6 4.9-1.2 4.8 0.4 2.7 1.5 1.2-1.1 1.1-1.3 3.2-2.2-0.9-9.7 3-3.7 8.1-2.7 6 6.4 0 4.3 2 2.7 5.2-1.2 5.2-3 3.2-2.4 3.8 0.8 3.1-1.7 3.7-2.8 8.8 3.1 9 1.5 2.9 0.8-1.8 4.2-4.6 3.3-2.7 4.2 1.7 1.9 2.2 1.3 1.5 0 1.4-0.7 4.8-1.6 7.5-0.8 1.6 1.7-0.3 2.8 3.2 3.3 1.1 2.6 2.9-0.2 3.4-0.6 3.8-1.2 3.8-0.1 3.7 2.9 4.2 2.7 4.1 0.8 4.1 0.5 3.2 1.4 3.1 2z" id="KOR2494" name="chungbuk" class="air-lv2">
            </path>
        </a>
        <a href="#" onmouseover="document.getElementById('a-incheon').style.display='block';" onmouseout="document.getElementById('a-incheon').style.display='none';">
            <path d="M311.6,226.7l1,2.4l-0.8,0.4l-1.4,1l-0.5,0.7l-2.8,0.6l-1.2-0.2l-5.4,2.4l-2,1.8l-1.1,2l-6.9,5.2
    l-1.5-0.3h-2.1l-0.7-2.5l-1.2-0.8l-0.6,0.7l-0.8-1.9l-1-0.2l-1.6,1.7l-1.2-0.6l-1.7-0.4l1-1l-0.3-1.1l-1.7-1.6l-0.5-1.1l0.6-1.5
    l1-0.2l1.3,0.6l7.2-5l5.1-0.6l3.5,0.1l3.2-1.7l1.1-4.5l2.2-0.8l1.9,1.9l2.7,1.2l1.8,0.2l1.3,0.7l1.2,1.6L311.6,226.7L311.6,226.7z
     M334.3,251.7l-0.4-1.4l-8.3-1l-3.9,4.9l-4-3l1.6-3.7l2.1-3.1l-1.3-2.3l-5.4-2.9l0.3-3.6l-0.5-2.9l1.6-2.7l4.5-1.3l1.4-0.7l0.3-1.7
    l-2.1-0.6l-0.6,1.8l-3.3,0.3l-0.8-2l-0.4-3.6l0.8-4.9l15.3-0.5l9.4,9l-0.1,4.7l1.7,3.9l2.6,1.7l1.5,2.4l-1.5,5l-2.2,4.3l-3.3,2.4
    L334.3,251.7L334.3,251.7z M245.6,280.6l-0.7,1.2l-2,2.1l-1.4,0.6l-1.9,0.3l-1.6-0.7l-1.4-2.9l-1.5,0.8l-0.7-0.2l0.5-4l0.9-2.7
    l1.1-1.6l1.3,0.9l1.1,1.9l1.2,0.9l3.9,2.1L245.6,280.6L245.6,280.6z M296,278.7l-1.3,1.6l-1.8,0.4l-1.2-0.9l-1.3,0.1l-1.1-0.6
    l-0.3-2.5l0.3-2.6l1.3-1.8l2.8-1.5l3.6,0.3l1.6,1.1l0.6,2.4l-0.7,0.9l-1.7,0.5l-0.6,1.3L296,278.7L296,278.7z M311.2,271.2l0.6,1.6
    l1.9,1.1l3,1.2l0.8,0.9l0.8,2.6l-0.8,1.8l-8.1,6.5l-3.7,0.4l0.1-1l1.7-2.3l0.2-1.4l-0.7-1.1l2-2.4l0.1-2.4l-0.8-2.9l-1.2-2l-1.2-1.4
    l0.4-0.4l2.6,1.3l2.2-2l0.5,0.2L311.2,271.2L311.2,271.2z M278.9,195.5l-3.2,0.2l-10.7-8.4l1.4-1.2l0.6-1.6l0.9-3.8l1.3-2l0.9-0.7
    l0.9-0.3l0.6,0.4l0.6,1.4l0.5,3.7l1,2l1,1.1l4.1,3.4l1.5,1.8l0.3,1.9L278.9,195.5L278.9,195.5z M264.1,164.9l3,1.8l3.1-0.1l2.9,0.5
    l1.5,1.6l-1.1,3.6l-2.8,2.4l-3.4,0.3l-6.6-1.5l-3.3,1.6h-1.5l-0.6-2.2l0.3-0.7l1.8-5.5l2-1.9l2.2-0.6L264.1,164.9L264.1,164.9z
     M304.1,202.2l-1.8,4.2l-1.6,1.4l-1.2,0.2l-0.9-0.5l-1.7-1.8l-1.2-0.7l-0.8,0.3l-1.3,1l-8.3,0.5l-3.1-1.5l-3.3-4.3l4.9-1.3l1.2-0.8
    l1.3-2.1l-0.2-0.9l-0.9-0.6l-0.8-1.1l-5.6-10.8l-0.4-1.7l0.6-2.1l-0.1-9.5l0.6-2.2l1.6-0.5l3.7-4.4l2.9-0.7l2.5,1.8l2.4,2.8l2.4,2.2
    l5.1,2.6l2,2l0.8,3.2l-0.2,1.7l-0.8,2.7l-0.2,1.2l0.4,1.3l1.4,2.7l0.4,1.5l0.5,7.2l-0.5,1.7l0.8,1.1l1.4,3L304.1,202.2L304.1,202.2z
     M16.9,165.2l-1.2,0.7l-1.2-0.1l-1,0.4l-0.8,0.8l-1-1.6l-1.2-1.7l0.5-1.5l2.6-2.2l2.5-2.4l1.2,0.2l1.2,0.6l0.3,1.3l-0.8,1.8l-0.4,2
    C17.6,163.5,16.9,165.2,16.9,165.2z M19.8,131l1.8,2.1l-0.3,3l-2.2,1.6l-3-1.9l-4.1,0.4l-0.8,0.4l0.1,2.1l1.5,0.7l1.8,0.4l0.9,0.7
    l-3.2,2.6l-6.5-0.9L1,138.1l1.6-7.1l4.1,1.4l8.7-3.1L19.8,131L19.8,131z" id="KOR2495" name="incheon" class="air-lv1">
            </path>
        </a>
        <a href="#" onmouseover="document.getElementById('a-gangwon').style.display='block';" onmouseout="document.getElementById('a-gangwon').style.display='none';">
            <path d="M762 402.5l-1.6-0.1-5.3-1.2-5.1 2.3-10.9-4.1 1.7-4.7-0.5-4.4-1.4-4.9-0.4-5.5 2.1-5.3 1.7-4.9-1.2-1.5-1.4-1.3 0.7-4.5-11.6-0.9-3.4-1.9-3.7-1.6-1.5-3.6-1.1-4.2-5.2-2.5-3.3-4.9-0.7-6.5 1.1-4.9 2.7-2 3-1.1 4.6 1.8 3.8-2.8-1.6-4.6-4.9-3-5.4-1.2-4.3 2.2-4.2 1.1-5.8-2.7-6.2-1-2.1 0.8-1.7-0.2-1.4-1.8-1.9-0.8-4.5 3.5-4.7 1.9-0.4-3.5 0.4-3.4-2.8-1.4-3-0.7-2.2-3.9-4.4-0.4-4.3 2.1-2.8 3.5 1 4.9-0.5 4.5-0.9 4.2-4.1-0.3-4.7-1.1-3.9-1.6-4.1-2.2-3.1-2-3.2-1.4-4.1-0.5-4.1-0.8-4.2-2.7-3.7-2.9-3.8 0.1-3.8 1.2-3.4 0.6-2.9 0.2-1.1-2.6-3.2-3.3 0.3-2.8-1.6-1.7-7.5 0.8-4.8 1.6-1.4 0.7-1.5 0-2.2-1.3-1.7-1.9 2.7-4.2 4.6-3.3 1.8-4.2-2.9-0.8-9-1.5-8.8-3.1-3.7 2.8-3.1 1.7-3.8-0.8-3.2 2.4-5.2 3-5.2 1.2-2-2.7 0-4.3-6-6.4-8.1 2.7-3 3.7 0.9 9.7-3.2 2.2-1.1 1.3-1.2 1.1-2.7-1.5-4.8-0.4-4.9 1.2 1.4-9.6-16.8 2.3-16.7 4.6 8.5-15.9 7.1-17.4 9.7-20.8 1.2-4.5-0.9-4.5 2.1-3.6 2.9-3.6 3.2-1.3 1.6-3.5-1.8-3.1-2.3-2-3.8-0.4-3.9-1.5-5.3-0.7-8.9-4.9-4-1.7-4-2.6-4.3-0.7-4.3 1.4-3.5-3 0.3-3.3 1.7-3.4 0.6-3.9 0.1-4.1-4.2 1.4-1.9-2.4 4.6-5.5-0.8-3.6-1.2-3.6 0.9-2.7-0.1-3.3-0.3-3.1 8.1-5.9 3.2-1.1 1.8-2.8 0.8-8.1-3.7-5.8-3.1-0.6-2.9-1.3-2.2-6-3.5-0.1-3.8 0.2-4-3-2-5.3-0.8-9.5-1.5-4.7-1.1-1-1.2 0.3-0.9 0.8-1 0.1-2.7-1.9-6.6 2.3-6.1-1.4-2.4-1.5-2.5-2.3-0.1-3.8 1.2-3.6 1.6-2.6-1.1-0.9-1.3-0.3-1.3 0.2-1.1 0.9-2.1 2.7-2.4 2.4-3.6 0.6-3.1-2.1-0.6-2-0.3-2-1.1-0.7-1.2 1.3-0.4 2-0.1 6.6-2 3.3-5.8-2.8-5.3-4.8-1.9-2-2 0.3-1.7-2.6-1.1-3.3-1.5-1.7-1.7-1.4-1.3-3.2-7.9-5-3.2-1.6 1-1.1 8.6-7.2 10.1-6.3 10.6-4.4 10.2-1.1 5.1 0.6 19.5-1.7 15 4.5 4.8-0.4 9.3-2.8 30.5-2.7 1.3 0.9 2 2.9 1.9 2 2.2 0.5 10.5-2.2 16.6 1 10.8-0.9 10.8-3.8 10.1-6.6 8.4-8.8 3.7-5.3 3.1-5.6 2-6.3 0.7-7.1-1.3-7-0.4-3.5 1-2.6 4.3-3.4 9-4.7 12.1 24 1.5 6.4 3.7 9.7 14 27.7 10.9 29.1 1.8 3.1 5.6 7.1 2.2 5.9 26.4 37.8 10.2 14.9 12.3 13.6 1.7 1.4 8.2 9.7 0.5 4.1 0 4.9 1 4.2 5.6 3.1 1.6 3.4 4.6 15.1 2.1 3.4 2.5 1.5 2 2.2 7.2 14.2 4.4 5.4 1.5 3 0.5 3.2 1.1 3.1 7.7 8.4 2.4 6.9 2.2 15.1 2.9 8.2 8.2 11.4 0.6 2.3-1 2.3-1.4 2.2-1 2.2 0 1.9 1.1 6.2 1.4 17.7 1.5 8.2 5.2 16.6 0.5 8.2-1.7 7.5-3.5 6.9-2.9 8.1z" id="KOR2496" name="gangwon" class="air-lv1">
            </path>
        </a>
        <a href="#" onmouseover="document.getElementById('a-seoul').style.display='block';" onmouseout="document.getElementById('a-seoul').style.display='none';">
            <path d="M398.4 211.4l-1.5 5.7 4.4-0.1 3.7-1.3 3.2-0.1 1.2 2.9-0.4 3-2.2 1.1-2.4 1.6 0 3.6 1.3 1.5-2.7 3.7-1.5 2.6-4.1 2.4-4.5 1.1-4.7 2.3-1.8-4.1-3.9 0.9-4 1.2-2.7 1.6-2.9 0.5-6.8-0.3-4.7-6.1-4.6-1.4-3.1-2-0.8-5.8-3.2-4.4-3.7-4.6 2.3-5.1 4.5 0.2 5 3.1 3.8-1.2 3.4-2.1 0.2-3.4 0.9-3.2 7.1-0.7 3.7-4.6 2.2-4.8 3.2-3.3 4.9-1.2 5.7 0.4 2.7 4.7 1.1 6.4 1.6 4.4 0.1 4.9z" id="KOR2497" name="seoul" class="air-lv1">
            </path>
        </a>
        <a href="#" onmouseover="document.getElementById('a-gyeonggi').style.display='block';" onmouseout="document.getElementById('a-gyeonggi').style.display='none';">
            <path d="M474.7,300.6l-1.1,2.1l-1.3,1.9l-2.5,1.9l-1.7,3.2l-7.6,14.1l-3.9,2.8l-0.9-1.2l-3.1-0.6l-2.5,2.6
    l-1.3,3.3l-1.9,2.5l-4.1,1.7l-2.5,2.8l-1.5,5.8l-5.2,1.8l-6.8,3.3l-7.1,2l-7.4-1l-6.1-5.1l-6.9-3.1l-13.1,5.6H380l-7.5-1.5l2.1-1.6
    l2.4-1.1l1.7-1.9l1-4.8l-0.3-0.9l-1.7-2l0.8-0.8h1.7l2.2-1.3l1.4-0.2l1-0.7l0.5-2.3l-9.5,2.7l-1.4,2l0.5,6.1l-1.2,1.4l-3.7,1.2
    l-5.2-0.7l-6.2-3.6l-5.6-5.6l-2.2-5.3l9.5-1v-1.2l-2.1-1.5l1.7-0.2l1.7,0.1l1.6,0.5l1.3,1.1l-0.6-3.8l-2.2-3.4l-1.6-3.8l1.2-5.3
    l-1.8-0.8l-1.4,1.8l-0.8,3.2L357,315l-0.8,3.5l-1.5,0.8l-1.5-1.5l-3,0.6l-3,0.8l-7.3-2.2v-2.3l-0.7-1.9l0.6-2.7l-0.3-3.4l1.8-3.4
    l2.2-3l2.5-1.2l2.7-1l4-0.1l4.3-1.2l0.9-1.3l0.3-3.7l-1-0.7l-2.2,1.2l-3.3,2.9l-2.1-0.5l-1.5-0.9l-0.8-1.5v-2.4l-3.7,1.9l-3.1,2.2
    l-5.6,6.1l-1.5,1.2l-1.8,0.6h-1.7l-1-1.1V299l1-1.8l2.3-3.3l-4.6,1.1l-1.4-0.5l-0.6-2.7l0.9-2l1.9-1.1l2.2-0.8l1.6-0.9l1.9-2.6
    l-0.5-0.7l-4.2,0.6l-1.4-0.9l-1.1-2.1l-1.1-2.7l-1.2-2.5l0.7-0.2l1.4-1.2l1.2,0.9l1.7-0.1l3.1-0.8l2.5,0.7l2.1,1.3l2.1,0.6l2.4-1.2
    l-0.2,2.3l0.2,2.1l0.8,1.7l1.5,0.7l1.7-0.6l0.7-1.9l0.8-4.3l2.7-4l2.2,0.4l2.5,1.5l3.5-0.6l-0.8-1.6l-1-1.2l-1.2-0.8l-1.5-0.4h-2.2
    l-1-1.5l-2.3-0.4l-1.9,0.6l-1.9-0.1l-3-0.6l-5-1.6l-6.9-5.2l-0.3-2.3l3-4.5l2.1-2.1l5-1.5l3.3-2.4l2.2-4.3l1.5-5l-1.5-2.4l-2.6-1.7
    l-1.7-3.9l0.1-4.7l-9.4-9l-15.3,0.5l-2-4.7l-3-5.1l-1.8-1.8L309,203l-0.6-4l-1.7-6.3l-2.3-16.5l0.6-2.7l2.1-0.4l8.7,3.2l2.8-0.6
    l2.3-1.1l2.1-0.4l2.1,1.4l0.8,2.4l0.3,3.6l-0.2,3.8l-0.9,2.6l-0.1,4.7l4.9,4.1l6.2,2.6l3.8,0.2l-3-3.1l-9.1-6.6l2.6-7.1l0.8-4.2
    l-0.6-3l-1.5-3.1l-0.3-4.1l0.7-4l1.6-3.2l-1.2-1.5l-1.5,0.2l-2.4,1.7l-1.1-17.3l0.8-4.7l1.9-1.4l3-0.4l4-1.5l6.3-5.1l13.6-20.7
    l2.7-2.8l6.1-4.7l2.6-3.1l5.4-13.3l1.9-2.5l3.2,1.6l7.9,5l1.3,3.2l1.7,1.4l1.5,1.7l1.1,3.3l1.7,2.6l2-0.3l1.9,2l5.3,4.8l5.8,2.8
    l2-3.3l0.1-6.6l0.4-2l1.2-1.3l1.1,0.7l0.3,2l0.6,2l3.1,2.1l3.6-0.6l2.4-2.4l2.1-2.7l1.1-0.9l1.3-0.2l1.3,0.3l1.1,0.9l-1.6,2.6
    l-1.2,3.6l0.1,3.8l2.5,2.3l2.4,1.5l6.1,1.4l6.6-2.3l2.7,1.9l1-0.1l0.9-0.8l1.2-0.3l1.1,1l1.5,4.7l0.8,9.5l2,5.3l4,3l3.8-0.2l3.5,0.1
    l2.2,6l2.9,1.3l3.1,0.6l3.7,5.8l-0.8,8.1l-1.8,2.8l-3.2,1.1l-8.1,5.9l0.3,3.1l0.1,3.3l-0.9,2.7l1.2,3.6l0.8,3.6l-4.6,5.5l1.9,2.4
    l4.2-1.4l-0.1,4.1l-0.6,3.9l-1.7,3.4l-0.3,3.3l3.5,3l4.3-1.4l4.3,0.7l4,2.6l4,1.7l8.9,4.9l5.3,0.7l3.9,1.5l3.8,0.4l2.3,2l1.8,3.1
    l-1.6,3.5l-3.2,1.3l-2.9,3.6l-2.1,3.6l0.9,4.5l-1.2,4.5l-9.7,20.8l-7.1,17.4L474.7,300.6L474.7,300.6z M398.4,211.4l-0.1-4.9
    l-1.6-4.4l-1.1-6.4l-2.7-4.7l-5.7-0.4l-4.9,1.2l-3.2,3.3l-2.2,4.8l-3.7,4.6l-7.1,0.7l-0.9,3.2l-0.2,3.4l-3.4,2.1l-3.8,1.2l-5-3.1
    l-4.5-0.2l-2.3,5.1l3.7,4.6l3.2,4.4l0.8,5.8l3.1,2l4.6,1.4l4.7,6.1l6.8,0.3l2.9-0.5l2.7-1.6l4-1.2l3.9-0.9l1.8,4.1l4.7-2.3l4.5-1.1
    l4.1-2.4l1.5-2.6l2.7-3.7l-1.3-1.5v-3.6l2.4-1.6l2.2-1.1l0.4-3l-1.2-2.9l-3.2,0.1l-3.7,1.3l-4.4,0.1L398.4,211.4L398.4,211.4z" id="KOR2498" name="gyeonggi" class="air-lv1">
            </path>
        </a>
        <a href="#" onmouseover="document.getElementById('a-jeonbuk').style.display='block';" onmouseout="document.getElementById('a-jeonbuk').style.display='none';">
            <path d="M269 598.6l0.3 1.1-0.6 1.5-2.9 2.5-1.9 2.2-1.8 1.4-0.9 0.2-0.7-0.7-0.5-1.3 0.3-1.2 1.7-0.9-1-0.8 1.2-1 0.6-0.8 1.5-0.4-0.2-1.1 2.4 0.4 1.8-1.7 0.7 0.6z m207.6-80.7l1.3 1.6 1.5 1.4 1.3-0.3 1-1.4 2.7 1.6 2.4 2.8 7.1 2.4 1.4 1.8 2.6 0.7 5.1-3.1 5.8-2.6 2.3 2.2 2.3 1.2 2.1-1.8 2-2.2 6.5 11.1-0.8 12.5-5.8 6.2-1.5 4.1-7.9 4.2-3.9 1.2-2.1-0.2-1.6 1-3 6.4-3.4 3.6-3.6 3.2-1.8 5.1-0.4 6-2 4.4-2.5 4.6-1.8 5.9-1.4 6-2.2 4.6-0.1 4.9 4 1.7 0.6 2.1 0.3 2.5 1.8 4.6-0.3 4.9 1.6 3.7 2.3 1.5-1 5.4-6.6 7.9-1 5.2-0.3 4.8-3.3 3.4-9-7.3-10.1-3.7-5.8 3.2-4.6 5-4.9 0.7-5.3 0-5.7 0.8-5.9-0.1-2.7-1.6-2.4-1.9-2.7 0.7-3.3 0-4.8 0.8-4.5 2.7-5.9-0.9-3.8-4 0.2-6.4-3.3-3.7-0.9-3.6 1.4-5.6-3.2-4.9-4.7 0.3-1.1 2-1.6 1.5-1 2.6-0.4 2.7-4.8 0.1-7.5-10.1-4.8-4-2.8-1.1-2.8-0.2-2.7 3.1-5.3-0.5-4 3.5 0 2.7 0.1 2.6-1.4 2.2-2 1.5 0.1 2 0.3 2-1.3 2.8-2.1 1.8-2.6 1.3-2.7 0.7-2.3 1.4-2.1 1.6-5.3 0.8-5.1 1.8-4.7 1.2-3.9-1.3 0.2-5.3 1-5.2 0.9-7.1-4.5-1.2-15.4 4.3-3.3 1-2.2-2.5-0.7-2 1.1-4.6 2.7-5.7 4.3-10 3.6-5.3 5.2-1.8 5.9-1.2 5-0.3 2.3-1.9 2.3-3.2 3.1-0.8 2.8 3.2 2.9 3.6 2.1 0.7-2-7.3-1.5-3.3-2.4-1.4-22.4 3.7-7.8-4.9 0.6-7.3 3.7-1.9 3.2-3.2 3-3.4 4.7-2.8 5.9-3.2 4.4-6.2 0.7-5.8 4.2-2.6 1-0.8 5.6-0.6 5.6 0.7 3.5 2.7 2.5 0.6 1.7 3 0.7-1.6 0.5-2.2 0.2-2.3-3.5-2.8-3.1-1.5-3.4-2.3-2.8-2.1-1.4-0.8 0.4-1.7 1.3-1.8 1.3-1.1 1.4-0.3 8.9 0.6 1.9-0.2 1.4-0.7 1-1.8 0.4-1.4 0.7-1 2.2-0.4 0.7-0.6-0.8-1.5-1.7-1.4-1.9-0.7-0.5 0.4-11.6 4.7-3.9 0.2-7.7-0.5-7.5-0.6-0.1-3.4-0.5-4.6-1.5-1.3-4.7-1.6-6.9 1.1-0.7-5.9 14.3-1.6 7.8-1 7.9-0.4 2.6-1.6 2.7 0.8 3.3-1.7 5.8-4.4 7.4-3 3.2-2.2 0.3-2.8-9.3 2.8 7.1-8.8 7.6-0.8 8.9-1.9 16.4-5.2 5.8 1.2-1.4 8.6 3.4 5.3 4.6-0.9 4.5-1.7 8.7-1.7 2.3-0.8 2.2-1 3.3-0.7 2.2-3.3 2.6-2.7 5.1 4.5 7.1 12.8 5.2 2.6 2.1 0.6 0.9 1.9-1.1 2.2 0.6 1.6 9.2 1.2 3.4-0.8 4.7-0.2 4.7-1.3 3.8-3.4 3.8-3.8z" id="KOR2499" name="jeonbuk" class="air-lv1">
            </path>
        </a>
        <a href="#" onmouseover="document.getElementById('a-gwangju').style.display='block';" onmouseout="document.getElementById('a-gwangju').style.display='none';">
            <path d="M368.2 668.9l8.1 3.1 3.2 8.9-6.2 8.3-9.8-1.6-8.6-5.2-4.3-9.5 3.4-3.2 5.7 1.5 4.1-1 4.4-1.3z" id="KOR2500" name="gwangju" class="air-lv1">
            </path>
        </a>
        <a href="#" onmouseover="document.getElementById('a-chungnam').style.display='block';" onmouseout="document.getElementById('a-chungnam').style.display='none';">
            <path d="M284.4 429.5l-0.3 2.2 0.4 1.9 1.2 3.6 2.2 3.3 0.9 3.1-1.6-0.7-7 0.4-2.3-0.4-0.4-2.9 0.8-1 1.2-1.2 0.6-1.7-3.7 2.4-1.8-0.9 0.5-2.9 2.8-4-1-1.2-2.2 2.6-0.7-1.8-1.7 0.9 0.9-4.7-0.6-7.3-0.8-4.3-1.6-5.5 1.4-1.8 2.8-2.6 3-1.1 2.1 3.4 0.3 1.2-0.7 1.5-1.2 0.9 0.1 1.4 2.7 6 0.4 2-0.7 1.6 0.8 1.4 1.8 1.1 1.4 2.4-3.3 0 0 1.2 1.1 0.2 2.2 1.3z m88.1-84l7.5 1.5 6.2 0 13.1-5.6 6.9 3.1 6.1 5.1 7.4 1 1.3 3 1.9 1.9 2.1 1.3 2.7 5.5 2.1 1.4-0.2 4.1 1.3 1.2 1.1 2 0.3 2.2-0.4 2.3-0.8 2-0.4 2.2-0.3 1.7-0.8 1.5-1.4 0.4-1.5-0.2-1.4 1.4-3.3 5.8-4.4 6.4-22.5-9-3.7 10.2 0.5 29.9-2.4 2.3-1.4 4.1 14.4 2.9 10.8-3 8.4 13.3 2.9 5.6 0.8 14.3 3.3 10.7 7.8-2.1 6.9-5.1 2.3-0.8 4.1-3.3 2.3-8.5 2.1-3.4 0.7-4.6 2.1-2.8 2.7-2 2.2 1 2 0.7-0.6 3.4-2.6 2-1.6 2.9-1.5 3.3-3.5 6.5-1.9 7.6-0.3 5.4 0.4 5.6 5.1-1.1 4.7 1.5 4.9 3 1.6 5.9-0.2 6.7 1.3 6.8 3.3 5.7 3.6 5.6-3.8 3.8-3.8 3.4-4.7 1.3-4.7 0.2-3.4 0.8-9.2-1.2-0.6-1.6 1.1-2.2-0.9-1.9-2.1-0.6-5.2-2.6-7.1-12.8-5.1-4.5-2.6 2.7-2.2 3.3-3.3 0.7-2.2 1-2.3 0.8-8.7 1.7-4.5 1.7-4.6 0.9-3.4-5.3 1.4-8.6-5.8-1.2-16.4 5.2-8.9 1.9-7.6 0.8-7.1 8.8-3.3 1-3.2 2.2-2.7 2.6-2.9 1.4-3.5 0.6-3.4 1.5-2.4-1.2-0.8-1.3-0.2-1.8-0.9-2.5-1.3-2.1-2.6-3.5-1.5-2.4 2.2-1.8-1-1.2-4.1-1.6-3.7-6.2-2.7-1.2-2.1 1.2-1 0-0.1-2.2-3.6-2.3-3.1 0.5-0.9 3.7-0.6 1.3-1-1 0.6-5.8 5.4-2.7 4.7-1.5 6.6 1.9-2.3-3.9-1.3-1.5-1.8-1.3-1.1-0.2-1.2 0.7-0.9-0.5-1.2-1.3-1-1.4 3.3-9.1 1.9-4.1 2.4-1.5-1.8-2.2-6.7-2-2.4-1.3 2.4-2.2 7-1.7 1.5-2.1-1.1-2.6-2.5-0.6-5.2-0.1-1-0.7-1.9-2.3-1.3-1.1 0-1.4 2.1 0-2.4-4.4 2.9-1.6 3.2-1 3.1-4.4 6.5-1.8 3.1-1.7-9.3 0-2.2 1.3-3.4 5.1-2.5 0.5-1.6-1.9-1.4-3.7-0.9-3.7 0.1-2.2 3.3-3.9 1.5-2.4-0.5-1.1-3 1.1-1.4-1.2-1.3-0.9-0.7-0.1-0.7-1.8 0.7-1.7-0.2-1.8-0.8-3.4-0.9-1.4-0.1-0.9 2.2-0.1 3.1-1.5 3.3 0.1 0.3-2.4 0.9-2.1-1.3-1.7-1.8-0.4-2.6-2.5 1.6-2.3 2.3-1.8-1.5-2.8-3.8-0.7-0.8-3.3 1.2-2.4 3.7-0.6-2.1-2.4-0.7-1.2-0.5-1.8-1.4 1.2-2.2 2.4-2.5 1.1-0.5 1.4 0.1 1.4 1.1 1.7 0.2 3.3-1.2 3.9 0.7 5.2-1.7 4.4-1.4 1.8-2.9-2.3-3.1-0.1-3-2.1 0.7-10.6 1-3.9-1.8-0.8 0.5-5-1.7-2.1-2.5 0.5-1.5 2.5-0.4 3.2-1.1 2.3-3.6 0.1 1.5 3 2.9 4.6 1 3.3-1.7 1.5 0.2 1.6 2.7 3.6-2.5 0.5-2 1.2-1.7 1.6-1.4 2.1 0-1.5-0.5-2.8-0.6-1.1 2.2-4.8-4.6-7.7 1.4-3.8-1.2-5.4-3 1.7-4.1 5.3-3.1 1.1-1.9 0.4-1.6 0.6-1.6 0.1-1.9-1.1-1.1-2.8-0.3-1.8 0.8-0.8 6.5 0.1 1.7-1.2-0.1-2.9-1.7-3.1-2.4-1.2-2.5-0.8-2.1-1.7-0.8 2.4-0.5 4.9-0.9 2.3-1.8 1.7-0.6-1.6 0.2-5-0.3-4.8 0.4-1.3 4.1-5.2 0.8-1.8 0.6-2.5 0.5 1.9 1.5 3.4 1.1 1.6 0.8-0.8 1.1 0.1 2.5 0.7-1.6-2.4-1.7-3 4.5 1.3 1.9-0.5 1.2-2.3-4.1-0.3-2.5-1.1-0.3-2.5 2.6-4.2-3.5-3 0.2-2.7 2.7-2.3 3.9-1.4-1 4.9 0.4 1.3 2.1 0.5 4-0.1 1-0.7 1.1-1.8 0.2-4.5-0.4-5.9 0.8-4.9 3.7-1.2-0.5 2.8 0.1 4.2 0.7 4.4 2 5.2-1 1.8-1.5 1.7-1 1.7 0 1.8 1 2.9 0.2 0.8-0.9 1-3.4 2.3 0.1 1.7 0.5 1.8 0.9 1.1 1.1-0.5 2.7-2.5 2 0 4.5 3.1-3.3-7.1-1.1-4.4 1.7-2 2.5 3.3 1.6 1 0.7-2.2 0.7-0.6 1.6-0.7 3.2-0.8 0-1.2-1.3-0.2-3-1.3 0-1.2 3.8-0.9 2.2-3.7 0.6-4.4-1.2-3.3-1.4-0.5-4.2-0.1-2-0.8-1.5-1.9-0.5-1.8 0.7-0.6 2.3 1.6 1-3.1-1.1-1.8-2.4-0.7-2.9 0.2 1.2-1.5 1.5-1.1 1.7-0.3 1.6 0.9 1.5 1.1 1.3 0.3 0.6-0.6-0.7-1.5 0-1.5 5.9-0.1 2.8 1 1.1 2.6-0.8 1.6-1.5 1.7-0.9 2.3 1 3.2 1.4-1.4 1.8-1 1.5 0.1 0.7 1.6 0.2 1.4 0.7 1.3 0.2 1.3-1.8 2.3-0.4 1.2 0 8.8 0.5 2.6 1.2 1.8 1.1 0.7 0.6-1 0.6-4.9 2.9-9.5 0.7-4.6 0.8-1.1 1.9 1.3 2.8 3 1.1 2.2 0.8 2 1.2 1.3 2.3 0.1 0-1.3-1.2-1.5-1.3-4-1.3-2-9.7-10.3-0.6-0.5 0.5-2.2 1.3 0.3 1.7 1.5 2.5 3.2 1.3 1.1 1.7 0.8 1.9 0 1.5-0.9 0.1-1.3-1-1.3-2.3-0.6-3-1.4-3.3-3.1-1.4-4.6-0.4-3.1 2.9 0 2.5 1.2 2.3 2 6.2 4.3 1.2 1.3 2.4 1.7 2.3 1.2 1.6 2.7-0.7 2.7-1.6 1.8 0.4 1.5 1.5 3 0.2 1.8-0.6 3.3 1.8-1.2 0.7-1.5 0.4-1.6-0.6-4.9 0.6-1.6 2.5-4.5 2.6-1.2 2.5 0 2.7 0.3 3 1.2 3.9 1 2.7 1.8 3.4 3.4 0.2 4.3-2.5 8.5 1.9-1.2 3-3.9 1.6-0.3 1.1 1.7 0.7 2.9 0.3 5.6-0.1 1.2-0.8 2.7-0.1 1.6 0.3 1.6 1.4 2.4 1.3 6.1-0.4 1.8-2.6 0.8 0.5 1.7 0.6 1.1 0.9 0.8 1.3 0.6 0.9-4.5 1.6-2.6 0.8-2.8-1.3-5 3.2 1 3.3 0.4-5.4-6.1-1.6-3.3 3.2-1.4 2.9-0.5 6.9-2.8 3-2.3z" id="KOR2502" name="chungnam" class="air-lv1">
            </path>
        </a>
        <a href="#" onmouseover="document.getElementById('a-daejeon').style.display='block';" onmouseout="document.getElementById('a-daejeon').style.display='none';">
            <path d="M434.4 429.6l-0.4 1.5 0.6 1.5 1.1 1.2 1.4 0.7 0.9 2.2-0.6 3.4 4.8 1.4 5.1-1.2 1.8-2.6 2.2 0.5-0.2 2.2 1.9 1.1 0.3 3.5 1.6 5.2-0.7 4.6-2.1 3.4-2.3 8.5-4.1 3.3-2.3 0.8-6.9 5.1-7.8 2.1-3.3-10.7-0.8-14.3-2.9-5.6-8.4-13.3 17.5-4.8 3.6 0.3z" id="KOR2503" name="daejeon" class="air-lv1">
            </path>
        </a>
        <a href="#" onmouseover="document.getElementById('a-daegu').style.display='block';" onmouseout="document.getElementById('a-daegu').style.display='none';">
            <path d="M656.6 550.7l-2.5 2.6-1.1-0.4-1.5 0.1 0 1.3-0.2 1.7-1.5 3.9 0 1.2-0.4 1.9-3.6 2.1-9.1-2.4-5.1-0.5-2.3 1.8-2.2 4-1.3 1-1.4-1.2-2-1.3-2.8-2.3-1.8-3.6-2.3-2.3-2.5-0.9-0.9-3.6 2.1-3.1 2.4 0 2.6-0.4 0.6-1.9 0.3-1.9-1.4-0.5-1.5-0.3 1.7-3.8 2.8-3-1-8.9 7.4-6.2 10.1-1.4 8.3-0.5 6.4 4.6 2 3.5-0.1 1.6-0.8 1.3 0.1 4.9 1.3 2 1.7 1.4 0.3 3.1 0.1 3.3-0.9 3.1z" id="KOR2504" name="daegu" class="air-lv1">
            </path>
        </a>
        <a href="#" onmouseover="document.getElementById('a-gyeongnam').style.display='block';" onmouseout="document.getElementById('a-gyeongnam').style.display='none';">
            <path d="M579.8 789.2l0.7 0 3-1.4 0.4 0.4-0.3 1-1.5 1.9-1.7 0.6-1.5-0.3-1.2 0.2-1.7 0.8-0.8 0.8-1 0.2-0.1-0.7 0.5-1.3-0.1-1-0.7-0.7-1.3-0.6 0.5-1.9 0-1 0.7-0.6 1-0.3 5.1 2.7 0 1.2z m17-36.8l1.1 0.6 1.5-0.6 2.4-0.7 2.8-0.1 1.6 1.5 0.4 2.5-0.9 1.5 0.6 0.9-0.7 1.2-1.6-0.6-0.6 0.8 1.3 0.3 1.3 1.1-0.6 1.1-1.6 2-2.6 0.1-1.2-1.5-0.6-1.5-1.3-0.1 0.3-1.2-0.4-1.3-2.1-0.3-0.7-0.6 1.5-1.2 0.3-1.4-1.5-1.3-2.9-0.9-1.8 0.5-1.1 0-0.3-1.3 1.3-1.4 1.8-0.5 2.5 1 1.8 1.4z m-21.7 4.5l-0.5 0.5-2.4-0.8-1.8-1.2-1-1.6 0.2-1 1.1-1.8 2.1-1.6 2 0.5 2.4 2.6 0.9 1.5-0.7 1.1-1.7 0-0.8 0.4 0.2 1.4z m-36.1-13.4l0.8 0.6 0.9-2.1 1.9-3 1.5-0.2 0.5 1.3 1.6 1.3 0.3 2.3 0.9 3.2 1.6 1.8 0.9 1.3-1.7 0.4-7.2-1.9-3.9 1.3-2.3-0.3-2.3-1.4-1.4-2.8 1.1-3 2.1-2.8 1.4-2.6 1.5-1.9 2.5-0.6 0.8 2.1-1.1 3.1-0.6 2.1 0.2 1.8z m-10.1 8.6l1.9 3.4 3.1-0.5 3.9-1.6 3.6-0.7 5.4 0.9 1.1 0.4 0.8 2.2-0.5 1.9-0.9 2-0.4 2.5 0.4 4-0.1 2.3-0.9 1-1.3 0.7 1.4 3.9-0.7 2-2.4 0.4-2.4-1.4-2.5-1.1-2.9 1.4-2.6 0.3-1.5-3.7-1.8-7.8-2.6-1.4-2.1 1.5-1.4 3.2-0.5 4-1 1.7-2.2 0.1-2.4-0.8-1.4-1-1-1.7-0.3-3.1-0.3-2.5-4.4-14.2-0.6-3.5 0.4-3.3 1.9-3.5 1.2-0.9 1.2-0.2 1-0.7 0.7-4.2 0.9-1.3 2.6-2 2.1-1 2.4 0.8 2.1 1.8 1.2 2.5-0.2 2.5-1.4 2.4-3.6 3.8 0.7 1.3 0.7 3.4 0.9 1.7 1.3 1 3.4 1.1z m122.5-25.1l1 1.8 0.7 1.9-0.1 2.6-0.6 2.3-2.5 6.5 3.2-1.1 1.5-1.1 0.5 0.4 0.2 3.3-0.2 2.2-0.7 2.5-1.4 1.3-2.1-0.9 0.8 2.6 2.1 4.4 0.4 2.9-1.2 0.5-2.8-0.9-2.9-1.6-1.8-1.3-0.5 2.7-0.5 1.4-2.8 3.2-0.9 2.6 1.9 1.4 2.6 1.1 1.3 1.5-2.4 2.1-11.5 3.6-3.4 0.2 5.4-3.9-2.3-1.1-0.8-1.7 0.1-2.3 0.8-2.8-4.9 2.5-1.5-1-0.7-2.2 0.1-2.2 1-1 4-0.8 1.1-2.2 0.1-3 0.8-3.4-2.2-1.3-1.6 2-5.7 2.5-2.5 2.1-1.8-2.8-2.2-2.5-1.9-2.8-0.5-3.6 1.1-2.3 2-2 2.4-1.6 2.1-0.9 5.9-1.2 1.7 0 2.6 1.1 2 1.4 2.2 1.1 2.9 0.2 0-1.2-2.9-2-1.7-2.9-0.8-3.3-0.1-3 2.1 0.2 11-6.3-1.9-3.6 0.9-3.5 2.5-1.9 2.8 1.1 0.7 1.6 0 1.8-1 7.2 0.1 1.2 0.7 2.2z m17.1-7.6l-0.8 0.3-0.4-0.8-0.8-3.4-1.2-1.3-0.4-1 0.2-1.3-0.6-1.6-0.8-1.6 0.4-1.4 1.7-0.9 1.8-0.2 1.6 0.5 1.1 2.4-0.1 4.9-0.7 4-1 1.4z m27.9-113.6l0.7 7.7-4 8 2.4 4.8 9.8 1.5 4.1 3.2 6.8 7.8 8.1 4.5 3.7 2.8 1 5.4 3.5 3.4 4.5 1.6 0.6 0.6-0.7 2.6-0.3 3.5-0.9 1.9-1.1 1.6 0.9 2.6 0 1.1-1.7 3.6-2.6 5.4-2.8 3.4-1.8 3.8-0.3-0.7-3.2-3.3-2.8-3.7-3.7-2.9-2.8-4-0.9-4.2-3.1-2-4-0.2-3.7 1.5-3 2.2-2.3 2.8-1.6 11.5-2.3 3.4-2.4 3-1.3 2.4-0.8-0.7-1.4 2.2-4.8 8.5-2.2 0.1-0.2-3.9 0.2-3.7-1.1-0.1-1.3 3-1.2 4.7-3.9-0.5-10.4 0.2-0.6-3.6-1.1-1.9-1.4 5.4-1.6 0.8-3.7-1.7-1.7-3.2-1.9-0.2-2.4 1.8 0-8.4-0.7-0.7-1.3 0.5-1.2 1.8-0.1 3-2.5-2-1.9-2.8-2.2-1.8-3.2 1.3 0.7-2.7-1.3-3.9 0.6-1.5-1.6-5-0.9-0.6-1.8 1.7-2 3.1 0 2.1 2 4.2 1.1 5.1 0.7 1.8 1.3 2.3 2.7 3.6 0.4 1.8-0.8 2.5 1.3 0.2 3 1.2-1.4 0.9-1.3 0.4-3.3 0-1.6-0.4-0.5-1-0.1-1.3-0.5-1.3-1.5-1.6-1.1-0.9-8.6-3-2.4-0.1-5.2 1-1.4 0.7 0.1 1.3 1.8 2.6-2.9 0.6-5.5 2.8-6.2 1.7-0.8 2.4-0.3 2.7-1.7 1.7 0 1.3 15.8-8.4 2.7-0.2 0.5 3.4 1 2.5 0.3 2.3-1.3 2.5-2 1.2-3.1 0.5-3.1-0.2-2-0.8-1.1 1.9 0.7 0.9 1.5 0.8 1 1.7 0.2 2.4-0.2 4.1-1.1 7.9 1.4 1.3 1.4-0.4 1.1-1.6 0.5-1.9 2.1 2.6-2.2 3.9-4 5.2-3.5 1.1-4.8-0.3 0.1-3 3.1 0 1.3-0.3 0.8-1.2-9.9-1.2-2-0.8-2.3-3.1-0.3-1.6 1.6-1 3.7-1.5-3.6-7.2-2.6 2.6-2.6 5-3.7 0.2-3.3-4.5-1.8-1.1-3.6-0.4-1.6 1-0.8 2.3-0.4 3 0.1 2.9-3.3-0.6-7.4 0.3-2.9-1.6-0.3-1-0.1-2.9-0.1-0.7-0.8-0.2-1.7 0.3-2.3-0.5-3.7-0.3-1.3-0.7-0.8-1.6 0.1-1.5 0.7-2.8-0.3-14.3 0.3-2.3 1.2-2.5 0.7-1.8 0.2-2.4-2.5 3-2 3.4-2.5 2.6-3.8 0.3 2.9 6.9-2 1.3-4.3-0.1-4.1 2.6-1.6-4.6-1-1.9-1.8-1.4-0.5 6.2-1.7 5-3.3 2.9-4.2 0.4-3.2-1-1.2 0.1-1 0.9-2.4-1.9-1.6-0.5-0.4-0.8 0-3.6-2.1-5.3-9.9-10.7-1.7-3.6-1.4-4.1-3.5-3.7-3.9-2.8-2.1-3.9-0.7-10.3-1.6-5-3.2-3.8 0.8-4.2 3.3-3.4 0.3-4.8 1-5.2 6.6-7.9 1-5.4-2.3-1.5-1.6-3.7 0.3-4.9-1.8-4.6-0.3-2.5-0.6-2.1-4-1.7 0.1-4.9 2.2-4.6 1.4-6 1.8-5.9 2.5-4.6 2-4.4 0.4-6 1.8-5.1 3.6-3.2 3.4-3.6 3-6.4 1.6-1 2.1 0.2 3.9-1.2 7.9-4.2 1.5-4.1 5.8-6.2 1.3 4.3 3.2 1.9 2.9 2.3 0.2 1.6 0.6 1.6 2.6 1 4.8 0.4 2 1.7 2.6 1.7 4.5 0.4 4.5 0 4.1 1.3 3 3.3 2.1 4 3.5 2.5 0.9 1.8 0.6 1.7 2.4 1.5 2.1 2.5-0.1 4.6-1.9 4.4 2.5 9 9.8 0.4 4.7-0.6 4.6 0.7 4.3 2.1 4 3 4.5 0.9 8.5-4.3 4.3 0.9 3.9-5.6 3.7-2.9 1.3 10.8 4 4.9 4.9 3.1 5.8-0.6 5.9-1.1 5.2 1.6 4.9 2.6 5.9 0.2 5.2-4.1 2.2-0.8 2.3-0.3 2.2-1.9 1.8-2.4 5.7-2.3 6.1 1.5 4.7 2.2 4.4-1.5z" id="KOR2505" name="gyeongnam" class="air-lv1">
            </path>
        </a>
        <a href="#" onmouseover="document.getElementById('a-jeonnam').style.display='block';" onmouseout="document.getElementById('a-jeonnam').style.display='none';">
            <path d="M274.6 918.7l-0.6 0.7 0.3 1-0.7 0.5-1.5 0-0.3 1.3 0 1.2-1.1-0.2-2.4-4 1.9-0.4 1.5 0.5 2.9-0.6z m93.8-3.3l-3.6 0.6-0.4-3 1.3-0.8 1.2 0.2 1.5 3z m59.7-16.2l1 0.5 1-0.1 0.4 2.4 0.7 0.4 0.4 1.3-0.7 0.4-1.9-0.8-0.9-1.4-0.9-1.8 0.2-1.2 0.7 0.3z m-2.7-0.5l0.4 0.8-0.6 1.8 0.3 1.9 2 3.4 0.9 0.8 1.2 0.3 0.4 0.7-0.2 0.9-2.2-1.1-2.2-0.5-0.9-1.9-0.4-1.6-1.1-1-0.3-1.3 0.2-2.5 1.1 0.1 1.4-0.8z m-341.5 1.9l-0.5 0.9-1.8-0.9-3.1-2.8-1.8-1.1-0.4-1.5 0.8-2 1.2-1.1 1.8 0.6 1.4 1.7 2.2 4.7 0.2 1.5z m232.1-9.1l-3.6-0.5 1-1.2-0.5-1.1 0.5-0.5 1.1 0.2 1 1.6 0.5 1.5z m-5.8-13.3l1 0.1 1.3-0.4 1.8 0 2.2 0.9 1.3 1.6-0.3 0.9-1.3-0.7-0.2 0.7-2.1-1-1.5 0-0.8 0.9-0.6 1-1.7 1.2-1.6 1.4-2.4 1.4-3-0.1-1.7-2.2-0.1-2.9 1.4-2.9 2.8-1.9 2.4 0 3.1 2z m15.5 9.5l-1.6 0.4-0.8-0.5-0.3-0.9-1.6-0.8-0.3-2.5 1-4.5 0.3-2.4-1-1-0.3-0.9 1.3-1.2 0.1-0.7 1.3 0 2.7 1.4 0.4 1.9-1.5 1.3-0.3 1.4 1.6 2.4 0.6 0.4 0.6 0.9-1.2 0.7-0.2 1.1 0 2-0.8 1.5z m15.2-12.4l-0.4 1.3-1-1.6-0.9-0.8 0.4-1.5-0.1-1 2.3-1.9 1 2.6-0.2 1.6-1.1 1.3z m25 3.2l-1 1.8-1.8 1-2.4 0.2-1.7-0.9-1.4-1.3-1.1 0.1-0.5 1-0.6-0.4-0.7-2.9 1-2 0.3-1.8 0.6-1.5 1.1-1.1 2.3-1.1 2.7 0.7 1.6 2.3 2.4 2.5-0.4 2.4-0.4 1z m-52.3-2.3l-0.8 0.6-2.4-0.6-1.3-1.2-0.3-0.8-1.4-0.4-0.2-0.6 1.3-3.1-0.1-1.5 0.9-0.7-0.9-1.9 0.5-0.4 2.5 1 3.3 0.6 2.5 1.5 0.7 0.9 0.1 1.7-1.1 0.9-0.5 2.2-2.3 0.1-1.3 0.3 0.8 1.4z m-100.3-12l-1.7 1.8-1.2 0.4-1.4 0 0-0.9 0.6-1.7 0.8-0.7 2.9 1.1z m206.6 4.7l-0.4 1-2.9-0.6-2.8 0.7 1.3-4.1 1.6-1.5 0.5-1 1.6-0.9 0.7 0.1 0.7 1.7-0.2 2.1-0.9 1.6 0.8 0.9z m-102.7-6.5l1.4 0.6 0.8 1.6-0.8-0.1-1.1 1-0.7-0.2-1.7 0.5-1-1.6 1.3-1.2 1.8-0.6z m-88.3-0.6l0.9 0.6 0.6-0.2 0.2 2-1.4 2.9-1.1-0.4-0.9-1-0.8 1.8-0.6-1.4-1.8-0.9 1.1-1 1.4 0.2 1-0.2 1-0.8-0.1-1 0.5-0.6z m-20.4-0.9l0.2 2.4-0.4 0.5-0.6-1.5-1.2 0.4-0.5 1.1-1.7-1.1 1.3-1.7 1.5-0.5 1.4 0.4z m255.3-0.9l-0.7 0.5-1.3-1.4 1.3-0.6 0.7 0.2 0 1.3z m-154-4.1l0.9 0.8-2.1 1.1-1.5-0.3-1.4 0.2 0-1.8 1.5 0.5 2.6-0.5z m132 0.4l-1.5 0.9-0.5-3.1 2.2-0.1-0.2 2.3z m-7.6-2.5l0.6 1.3 1.9-0.8 0.6 0.8-0.7 0.5-0.4 1-2.4 2.5 0.4-5.3z m-208.6-3.6l5.5 1.1 2.3-0.4 1 0.6-0.1 2.1 0.2 1.4-0.7 1.1-1.6 0.2-0.9 0.7-0.6-0.3-0.7-1-0.8 0.9-1 0.2-3.3-1.4-1.1-1.6-0.1-1 0.7-0.9 0-1 1.2-0.7z m150.4 1.4l-1.2 0.5-1.1-0.1-0.5-0.8-0.8-0.5-0.8-0.9 0.1-1.7 0.5-1.2 2.1-1.2 3.9-0.1 2.5 1.3 0.1 1.3-0.8 1.1-3.1 2.3-0.9 0z m-156.2-6.6l2.1 0.9 1.3-0.8 3 0.4 3.2 1.8 0.3 1.1-0.8 0.3-3.7-1-3.2 0.6-2.2-0.5-0.7-2.3 0.7-0.5z m75.7 0.9l-0.7 0.5-0.9-1.2 0.2-1.1 1.6 0.7-0.2 1.1z m58.3-2.5l1.2 0.3 1.3-0.2 1.8 0.2 2.2 0.6 1.4 0.8-0.3 1.4-0.9 1.1-0.4 2-1 1.1-1.3-0.3-1.5 0.3-1.5 1.4-1.4 0.3-0.8-1.1-0.3-1.5-0.9-1.2-1.2-0.5-1.6 0.2-1.9 0.7-1.5 0-1.2-0.7-3.5-1.6-0.2-0.6 1.6-0.2 1.6-0.5 1.2-0.7 1.3 0.2 1.4 0.7 1.8-0.7 2.1-1.8 1.6-0.4 0.9 0.7z m32.1-1.5l1.2 0.6 2.2-0.7 1.6-0.2 0.7 0.7 2.3 3.5-0.9 0.2-1.4-0.7-1.5-0.4-1.2 0.5 1.4 1.1-1.1 1.1-2.8 2.2-1.6 0.7-0.2-1.7 0.8-1.2 1-0.6-0.6-0.8-3.4-0.7 0.4-0.8-0.4-0.9-1-0.7-2.7-0.2-1-0.4-0.1-0.6 1.2-0.3 0.9-0.6 1.5-1.8 1.9-1.6 1.2 1.1 1 1.5 0.6 1.7z m-273.6-5.4l-1.6 0.5-0.6-0.4-1 1-2.1-3.5 1-0.2 1.4 0.5 2.9 2.1z m226.1 11.9l2.9 2.8 0.3 1.2 0.9 2.2-0.6 0.5-1.5-0.4-2.7-1.4-0.6 0.2-0.2 1.1-0.7 0.4-1.4-0.6-2.4-0.6-3-1 0-1.2 1.4-1.2-0.3-1.4-1.4-0.3-1.7 0.4-2-0.6-1.9-1.2-1.1-1.4-0.4-2.1-0.2-2.4 0.1-2.4 0.7-2.4 1.2-1.9 1.7-0.8 3.7-0.5 1.8 0.6 1.7 1.2 1.9 2.2 1.5 3.7 0.4 3 0.5 1.5 0.9 1.1 0.5 1.7z m31.7-15.4l-0.8 3.1-0.6 0.6 0.6 2.1-1.2 1.2-1.3 0-0.7 1.1-1 0.8-1.2 0.5-2-0.6-1.1-0.9-0.8-1.6 0.4-1.9-0.3-0.7-1 0.6-1 1.2-0.7 0.1 0.1-5.1-0.6-0.8 1.1-0.3 1.1 0.8 3.6 0.2 1.3 0.3 1 0.9 1.4 0.4 1.3-0.1 1.1-1.3 0.7-1.8 0.5-0.2 0.1 1.4z m51.3 4.4l-0.6 0.2-2.3-0.7-0.6-0.9 0.2-2.5-1.3-0.7-0.3-1.6 0.5-0.4 0.8 0.2 0.7 1.2 1 0.8 0.4 1.1 1.7 2.7-0.2 0.6z m-64.9-3.4l0.1 1.2-1.1 0.2-3.3-1-1.3 0.3-0.8 1.2-4.2 2-1.5 1.9-0.4 2.1-0.9 0.6-1-1.2 0-2-0.3-1.6-1.5-0.7-0.7-0.7 1.3-2.2 1.1-2.5 2.2-2.9 3.1-1.7 3.3-0.8 2 0.3 0.7 1.2 0.2 1.2-0.9 0.9 0.2 0.4 1.4 0.9 1.2 1.4 1.1 1.5z m-247.4-8.3l-2.2 1.5-0.3-0.8 1.5-2.5 0.8 0.3 0.2 1.5z m276.2-3.1l1.6 0.8 0.5-0.4 1.2 1.3 1.8 4.7-0.7 0.9 0 1.4-0.7 0.7-0.8 0.2-0.7-3.1-1.4 1.5-0.8-0.6-2.7-6.2 0.8-0.8 1.9-0.4z m120.5 9.3l-0.2 0.3-1.9-1.5-0.6-1.2 0.8-0.9-0.8-0.8 0.9-1.6 0.4-1 0-1.3 0.2-1.2 0.8-0.3 0.5 0.9 1.3 1-1 4.5 0 1.8-0.4 1.3z m-50.2-10.3l0.8 0.3 1.4-1.4 1.5-0.1 3.5 3.7 0.7 1.9 0 1.1-1.2 1.3-2.9 1.9-2.5 0.8-0.9-0.5-0.1-1.7-1.1-1.1-1.6-0.5-0.7-1 0.4-0.8-2.7-1.9 0.5-1.4-0.3-1.9 0.7-0.5 2.3 1.2 2.2 0.6z m-43.7 7.6l-6.6 1.2-2.5-0.3-1.8-0.9-3.8-2.6 0-1.4 0.8-1.1 0.2-0.9-0.6-0.8-1.5-1 2.2-1.7 2.5-1 5.2-1 4.9-0.5 2.6 0.2 2.2 1 1.7 3.1-0.5 3.6-2.1 2.9-2.9 1.2z m-182.5-11.7l1.7 0.6-0.4 0.8-1.8 1.3-1.3 1.5-1.1 0.5-0.3-2.3-0.7-1.4 2.1-2.1 0.4-1.2 1.4 0.3 0.9 0.8-0.9 1.2z m279.4 1l-0.9 0.7-1.1 0-0.9-0.4-1.1 0.6 0-1.9 1.1-1.7 1.5-0.7 1.3-0.2 0.4 0.4-0.9 1.1 0.4 0.9 0.2 1.2z m-109.1-6.4l-1.1 1.4-2.1 0.8-0.7-1.1-0.9-0.3-0.1-1.5 1.1 0.1 0.5-1 1.9 1.1 0.4-1.6 1.1 0.4-0.1 1.7z m53.9-0.6l-0.9 1.1 5 1.6 0.8 1.7-0.3 0.6-1.3 0.9-1.5-0.1-3.4 0.9-1.2 0.5-1.9-1.9-0.1-1.2 1.3-0.8 1.2 0.1-1-1.5-0.4-1.5-2.3-0.6 0.7-0.7-0.2-0.8 0.5-1.4 1.3-1.5 2.5-0.2 1.6 1.4-2 1.5 1.1 0.8 0.5 1.1z m48.3 5.3l-1.3 0.1-0.8-1.1-1.5-0.8-2.3-0.8-1.5-1.2-0.7-1.7-0.8-1.1-1.3-0.7-1.1-1.4 0.8-1.6 2.7-1.3 2.9-0.4 2 1.5 2.4 4.7-0.2 2 1.3 0.3 1 0.6 0.7 1.1-0.3 1.2-2 0.6z m-231.6-9.5l1.1 0.8 0.7-0.2 3.6-2.3 0.1 1.7 4.7 7.6 0.3 2.7-0.5 2.9-0.8 2.9-3.1 6.7-1.3 2-1.6 1.1-0.2-0.6-2.7-2.6-1.3-0.8 0 1.2-0.6 3.1-15.1 8.2-1.8 0.7-6.7 0.5-1.8-0.5-0.4-1.6 0.9-1.4 1.2-1.2 0.4-1-0.8-1.2-4.6-2.8 0 4-3.3-3.9 2-6.4 4.5-5.2 4.4-0.3 1.4-4.2 1-1.5 1.4-1.6 1.7-1 1.5-0.2 1.2-0.9 0.4-2.7 1.9 2.3 2.5 0.3 2.2-1.5 1-2.9-1.2-2.4-4.1-3.3 1.1-1.6 2.5-0.1 2.7 1.4 2.2 1.8 1.7 0.9 1.6 3.1z m214-7.2l0.5 0.3 1.9 0 0.5-0.5 1.1 0.4 0.7 1.3-0.6 0.9-0.9 0.4-0.8-1.6-1 1.9-0.9 0.7-2.7 0.4-1.7-2.4-1-0.3 0.8-1.8 0.8-0.8 1.7-0.8 0.7 0.2 0.7 0.7 0.2 1z m-89.2-4.3l-0.9 0.4-1-2.4 1-0.6 1.4 1.3-0.5 1.3z m72-3.6l1 1 0.1 1-1.9 0.5-0.7 1.8-1.1-0.3-0.6-1.3-2.3-0.4-0.4-1.1 0.7-1.4 1.8 0.9 0.6-0.7 1.4-0.5 1.4 0.5z m-237.6 16.2l-1.7 0.2-1.9-0.5-0.5-1 1.9-0.4 1.7-1.5-0.2-0.6-3.5-0.8 0.9-1 2.2-0.4 2.3 0 1.8-1.4 0.7-1.9-0.7-1.9-1.6-2.6-1-3.2 1.2-0.9 1.9 1.5 1.2 1.2 1.9 1.1 0.1 1.7 0.7 1.4-0.2 1.9-0.5 2.2-0.1 1.8-0.9 1-2.6 2.2-3.1 1.9z m-31.7-17.1l0.4 2-0.3 0.8-0.9 0.7-2.4 0.8-1.3-0.1-1.3 0.6-1.1-0.5 0-1.1 1.1-0.2 0-0.5-3-2.5 0.9-0.3 1.3 0.7 1.6 0.3 3.5-2.1 1.1 0 0.4 1.4z m28.6 10l-1.5 0.7-1.3-1.1-0.6-6.7 0.6-3.7 1.3-1.7 2 4.4 1.7 2.5 1.3 2.7-0.4 2.3-1.4 0.4-1.7 0.2z m-9.7-11.5l0 2-1.4-0.6-0.6-1.1-0.6 0.3-1.5-0.3-0.8-1.7 1.9-1.5 1.6 0.3 0.5 1.5 0.5 0.1 0.4 1z m-79.8-2.7l-1.1 1.1-1.6-1.2 0.5-1.1 0.9-0.3 0.3-0.9 2.4-0.1-0.4 1-1 1.5z m108.3-2.8l0.2 0.8 2.5-2 1.8 1.9 0.3 2.6 1.8-0.1 0.3 0.7-3 1.5-0.8 1.1-1.1 0-1.2-0.4-0.9 0.4-0.5 0.7-1.5 0.2-1.8 1-1.1-0.4 0.6-4.9-1.2-0.6-0.9-0.9 0.6-0.7 1.1-0.6 0.6-0.8 3-2.2 0.7-0.1 1.1 0.5 0.1 1.1-0.7 1.2z m-123.6-3l-0.8 1.3-1.4-1.9 1.9-1 1.2 0.8-0.9 0.8z m9.2-4.3l0.5 1.4 1.4 0 1.8-0.5 0.3 0.8-2.1 2.2-0.4 1.1-2.5 2.9-0.5 1.4-1.1 1.7-1.4 1.9-1.6-0.7-1-2.7 0.2-2.6 0.9-2.3 1-2.1 1.2-1.8 1.3-1 1.3-0.3 0.7 0.6z m106.7-1.1l-0.9 0.9-1.3-1.1 0.5-1.2 1.6-0.9 0.1 2.3z m-143.1-2.8l0.4 0.5 1.2-0.4 0 3.1-1 2.2-2.2 1.5 0.5 1.6-1.4 0.7-0.3 1.1-1.1-1.4 0.2-0.9-0.3-1.4 1.1-0.9 0.5 0.3 1.8-3.6 0.1-1.9 0.5-0.5z m410.5 26.2l-1.8 0.1-1.8-0.9-5.6-5.7-0.7-2.3 1-3.5 0.7-0.9 3-2.3 0.5-1.1 1.2-4.9-2.4-2.6 0.3-1.5 1.7-0.8 2-0.3 1.7 0.8 0.4 1.8-0.8 2.1-1.9 1.8 1.6 0.4 1.5 2.3 1.1 2.8 1.3 4.9 0.2 2.8-0.5 2.7-1.2 2.7-1.5 1.6z m-8.8-24.4l-1.6 1.3-1.3-0.7-1.2-1.8 1-1.2 1.2 1.4 1.9 1z m-275.9 5.6l-2.4 3.2-1.1 0.8-2.7 0 0-0.6-2.3-1.4-2.5-1-0.7 0.2-1.4-3.2 1.1-1.5 4.6-1.9 2.9-3.9 1-0.5 0.6 0.4 1.3 2.5 1.9 1.7 0.5 0.8 0.2 1.5-0.3 1.5-0.7 1.4z m18.8-17.9l1.5 0.7 0.9 1 1.4 0.7 1.9 0.2 1.6 0.3 1 1 0.6 1.1 0 2.2 0.6 1.7 0 2.1-0.9 1.8-2 0.2-1.9-1.8-1.4-2.2-1.7 0-1.4 1-1.2 0.1-1.1-0.8-0.3-1.6-1.4-2.7-3.2-3.3-0.6-1.6 1.5 0.4 1.3 0 1.1-0.6 1.7-0.2 2 0.3z m31.8 1.9l-0.6 0.1-1.4-3.8 1.2-0.7 0.6-0.9 0.7 0.3 1.1 1.1-0.9 1.1-0.9 0.5-0.1 0.8 0.4 0.5-0.1 1z m-49.3-4l0.1 4.1-2.6-0.8-0.8-0.5-1.3 1.8-2.2 0-2-0.4-0.8 0.5-0.4 2.6-0.8 2.3-1.4 1.7-1.9 0.8-1.8-0.2-1.4-1.3-0.8-2-0.3-2.6 0.5-2.4 1.2-1.7 1.8-1.1 1.9-0.7 2.2 0.8 2.8-0.6 5.2-2 1.8 0 0.6 0.5 0.4 1.2z m231-3.8l-0.2 2.1-1.7 1.1-0.6 1.3-1-0.3-0.6-0.6 0.7-0.7-0.1-1.2 0.9-0.8 1.4 0.3 1.2-1.2z m-207.1 7l-1.9 0.5-1.8-1-2.1-1.8-2.6-1-2-1.1 1.6-1.4 3.9-0.6 2.3-1 1.2-1 1.5 0.7 1.6 2.3-1.1 1.8 0.4 2.6-1 1z m-2.5-22.1l0.8 0.4 0.7 1.1 0.2 1.2-2.1 1.4 0.7 3-0.3 1.8-1.2 0.7-1.5-0.1-1 1.2 0 2.1-0.5 1.9-1.7 0.9-1.4-0.1-0.3-1.9-2.4-2.7-1.3-1.8-1.1-2.1 0.5-1.5 2.3-1.2 1.9-0.2 1.5 0.9 1.5 0 0.4-1.2-0.3-2.3 1.5-1.4 3.1-0.1z m249.9-3.5l1.3 0.7 1.5-0.2 0.9 0.5-3.5 4.1-1.7 0.3-1.2-0.4-1.5-1.5-0.2-0.8 0.9-1.3 1.7-1.3 1.8-0.1z m-215.5 7.5l0.3 4-3.1 2.9-1.7-0.6 1-1.2 0.5-1.1-0.4-0.7-5.1-2.8-4.7 0.7-2 1.1-2.4 0.3-1.9-0.6-0.9-1.3 0.8-1 2.5-0.1 3.3-1.2 1-1.3 0.2-0.8 2-0.6 0.7-1.2 0.1-1.4-1.3-1.7-0.5-1.9 1.7-0.9 2.8 0.6 2.8 1.5 2 2-0.2 1.1-1.4 0.2-2.4 1.6-0.3 0.9 0.3 2 1 0.4 2.3 0 3 1.1z m-42.8-10.2l0.4 2.8-0.5 2.6-1.2 2.4-1.9 1.6-2.3 0.6-1.3-0.5-1-0.9-1.4-0.4-5.1 1.1-2 0.1 0-1.2 1.6-1.4 2.8-4.6 2.2-2 2.5 0.5 1.3 0 0.6-1.2 0.7-2.5 1.6-0.4 1.7 1.2 1.3 2.2z m24.9-1l-1.4 0.6-2 0-0.8-1.8 0.4-1.8 1.2-0.7 2.7 0 0.9 0.4 0.1 0.8-0.5 2-0.6 0.5z m4.7-10.2l0.6 0.8 1.3 0.7 1.9 4.5-0.6 1.1-2.5-0.9-0.6-2-1.4-2.6-1-1.3 2.3-0.3z m-9.9 0.6l-0.3 2.5-0.8-0.5-1.2-2.7 0.7-1.7 2.1-1.4 0.2 0.8-0.7 3z m7.4-2l-0.9 0.8-1-1.5 0.2-1.1-0.1-2.4-1-1.2 0.7-0.5 1 0.3 1.3 1.1 1.3 1.7 0.1 2.7-1.6 0.1z m-14.2-4.5l1.1 0.6 0.3 0.9-0.3 2.7-2 1.6-3 0.7-0.3 1.2 0.3 1.2-0.2 0.5-2.9 0.7 0.3-1.2 1.1-2.6 0.4-4.1 1.7-0.7-0.1-1.1-0.9 0.3-4.3 0.2-1.6-0.1-1.1-0.5-0.1-0.9 1.7-0.9 0.8-1.2 1.5-0.9 0.7-0.8 1.1-0.4 2.8 0.6 1.4 1.4 0.4 2.1 1.2 0.7z m-4.3-11.2l1.4 0.6 2-0.1 1.4 0.4 1.1 1.7 0.1 2.9-1.4 1.1-0.9-0.4-1.4-1.5-0.7-0.5-1.6 0.4-0.2-0.9-1.4-0.2-0.2-0.5 1.1-0.8-1.8-0.4 0.3-0.9 1.2-0.8 1-0.1z m-18.7-6.9l0 3.4-1.6-1.1-0.9-1.4 0.1-1.6 1.7-0.6 0.7 1.3z m25.9-1.7l1.5 0.9 1.3-0.4 1.6-0.8 0.9 0.5 0.4 0.8 1.7-0.3 0.4 1.3-1.1 1.1-1.4 0.1-0.6 0.7 0 1 1.7 1.8 1.5 0.7 1.6 0.1 0.9 1.3 0.5 1.7 0.8 1.1 0.3 1.5-0.6 1.9-2.9-0.5-1.4-2.2 0-1.7 0.3-0.9-1-0.3-4.1-0.7-0.9-0.8-2.1-0.3-1.6-1.1-0.8-1-1.7-4 1-1.6 2-0.6 1.8 0.7z m-11.8 8.3l-0.6 1.5-0.9 0.3-4.2-1.2-1.5 0.3-1.4-1.2-0.7-0.1 1.3-6.2 0.8-1.8 1.1-0.6 1.9-0.6 1.7-0.9 0.8-1.2 1.2-2.7 2.9-1.8 3.2-0.8 2.4 0.7-4.8 2.8-1.1 1.6-0.1 1.9 0.7 2 2.1 3.5-1.7 0.7-1.8 1.7-1.3 2.1z m5.5-41.7l-1.4 1.1-1.6-3.1 0-0.6 1.2-1.9 1 0.5 0.8 0.9 0.3 1.8 0.5 0.9-0.8 0.4z m-17.8-14.5l0.4 1.2-1.5 1.4-2.6 0.7 0.4-1-1.5-1.4 1.7-1-1.3-1 2-1.6 1 0.9 0.3 0.7 0.8 0.3 0.3 0.8z m250.1 14.1l-0.8 4.2 3.2 3.8 1.6 5 0.7 10.3 2.1 3.9 3.9 2.8 3.5 3.7 1.4 4.1 1.7 3.6 9.9 10.7 2.1 5.3 0 3.6 0.4 0.8-1-0.3-6.5 0.1-2.1-0.4-0.8-1-0.4-1.4-1-1.9-1.8-1.4-0.4 1.4 0.3 2.4 0.3 1-1.1 3.5-0.7 1.3-1.4 1.7-6 4.7-3.3 1.5-2.4-2-3-6.1-2.5-1-1.7 2.5-0.9 3.8 0.2 3.3 1.5 3.4 2.4 4.4 2.8 3.8 2.6 1.7 1.7 2.3 1.7 0.8 2-1.3 4.9-4.6 3.4-0.5 2.9 0.6 2.7 0.2 2.9-1.6-0.1 3.8-0.5 2.7-1.6 5.5-1.8 9.6-1.3 2.2-5.6 1.9-4.4-2.2-3.5-0.8-2.9 6.4-1-0.6-1.2 0.6 1.2 2.5 1 2.7 1.1 8.6-0.7 1.6-1.6-0.9-2.6-2.7-3.8-0.5-2.8-1.5-1.9-2.9-0.7-4.3 0.9-4.1 2.1-4 1.5-3.8-0.7-3.2-1.3-1.8-2.5-5.5-0.7-0.4-1.8-0.2-0.8-0.8 0-1 0.7-1.9-2.4-5-0.4-1.9 0.1-1.2 0.7-1.9 0.2-0.9-0.4-1.1-0.7-0.9-0.7-0.2-0.9 1.2-2.7 6.9-1.1 1.5-6.7 2.3-3.2 0.4-6.8-0.1-2.6 0.7 2.1 1.7 4.1 1.8 3.3 1 0 1.2-6.7 2.2-3.4 1.9-0.6 2.6 1.4 1.1 3-1.2 1.6 0.7 1.1 1.9-0.4 0.6-1.2 0.8 2.2 7.6 4.5 4.1 5 3.2 3.4 4.9-1.7-0.3-2.7 0-1.2 0.3 6.8 2.6 0.8 2.1 0.5 4.1-3.1 2.8-3.1-0.2-1.9 0.5-7.2-4.5-2.3-0.7-2.1 0.4-2.5 1.2-2.2 1.5-0.9 1.5 2.2 4.6 2.3 0.5 1.3 0.9 6-1.6 3.3 2.8-7.5 6.9-2.7 3.8-2.9-1.3-4.5 3.4 0.5 3.4 2 2.2-4.4 0-6.5-8.6-2.2-4.5-5.9-6.5-1.8 0.4-6.3 3.3 0.6 2 0.5 0.8-2.6-0.9-2.5-0.5-2.1-1.1-1.5-2.8-0.2-2.8 1-1.7 3.5-2.1 1.2-1 3.2-4.2 1.9-4.2 1.2-1.4 2.3-1.1-0.2 3.2-0.8 3.1-2.3 5.6 4.7-0.3 3.8-1.4 2.4-3.2-0.1-5.7-0.9-2.2-1.2-1.3-1-1.5-0.1-2.9 0.8-1.5 4.6-5.1 1.6 0.9 1.1 1.2 0.3 1.5-0.9 1.8 1 2.5 1.4 1.8 1.8 0.6 2.4-0.9 1-1.4 2.2-4.6 1.2-2-2.2-3.3-0.8-3.4-1.1-1.6-3 2.3-3.5 1.5-2.8-2.4-3.9-6.3-2.3 3.5-3.2 8.3-2.2 2.7-2.3 0.9-1.9-0.1-4-0.8-1.8 0.6-1.8 1.6-2.8 3.8-1.3 1.1-5.8 3.4-3.1 2.4-2 1.2-2 0.5-1.2 0.6-0.2 1.6 0 2.1-0.3 2.2-1 1.6-1.5 1.7-0.7 2.1 1.2 2.5-8.7 8.6 0.2 7.9-1.4 1.4-4.3-2.1-1.3 1.6-0.7 1.9 0.1 2.1 0.9 2.2-2.1-0.6-4.4-3.2-6.1-1.8-1.4-0.8-1.2-3.7 0.6-9.7-0.6-3.8 0.9-2.4-0.2-3-1-2.6-1.8-1.3-1.7 0.5-1.8 1.6-1.3 2.1-0.5 1.8 0.6 2.7 1 2.3 0.1 1.6-4.9 1.7 0.6 2.3 3.6 4.5-6.1 3.5-2.3 2.1 2.4 1 0.5 0.4 0 1.9-0.5 0.4-1-0.2-1.5-0.9-0.7-0.2-2.1 0.3-0.4 0.9-0.1 1.4-0.8 1.9-1.2 0.9-4.7 1.2-1.8 1.4-0.6 1.3-3.8 12.9-0.4 1.9 0 2.2-3.8-0.8-7.3 2.4-1.8-0.4-0.3-2.2 1.5-4.7-0.3-2.1-1.4-1.3-2-0.4-4.1 0.2 0-1.2 1.1-1.8 0.3-3 1.2 0.1 0.7-0.5 2.3-4.1 0.4-1.9-0.6-2-0.8-0.6-1.2-0.4-2.3-0.3-1.7-0.5-0.3-1 0.9-1.2 0-2.5 0.6-2.4-0.3-1.2-2.5 0.8 0.7-4.6 3.1-2.3 4.3-0.9 3.9 0-0.7-1.5-1-1.2-1.2-0.8-1.5-0.5 2.5-1.7 1.5-2.1 0.1-1.8-2-1.1-0.7 0.3-1.4 1.8-1 0.7-1.3 0-2.1-1.3-1 0-1 0.8-0.7 1.4-0.5 1.7-1.4 0.3-2.9-0.3-3.4 0.1-1.8 0.3-2.4 0.9-0.3-3-1.3-1.8-3.8-1.9 0.1-0.6-0.8-1.5-1-1-0.9 2-1.1 0.7-1.3 0.2-1-0.4-3.3-3.1-0.4-0.2-0.5-1.9 0.9-0.9 0.6-1 0.6 0.9 1.6 0 1.1-0.9-0.6-2-4.2-2.1-3.3-2.4-0.3-5.5 1.4-6.2 1.6-4.3 0.2-1.5-0.1-1.7 0.2-1.5 1.3-0.7 2.4 0.5 0.9 0.6 1.1 2.3 4.8 7.3-1.5 2-0.5 1.9 0.3 2 0.5 2.1 3.3 9.2 2 1.2 7.8 1.3 3.4 2.3 1.8-0.2 1.3-3.3-1.8 0.3-0.9-0.5-3.3-0.7-1.5-2.4-2-2 0.5-4.5-2.1 0.4-1 2.7-1.6 0.2-1-3.6-0.5-4.8 1.2-2.8-0.9-3.3 4.3-0.4 6.6 1.4 0.9 1.5-0.4 2.5 0 1.6 0.3 1.1 1.7 1.1 0.9 1.3 2.1 1.3 2.8 1.2 1.8 1.6 3.8 2.7 0.7-0.8-3.3-4.4 2-0.4 6.7 3.7 4.5 1.5 3.4-0.9-3.4-0.5-2.7-1.8-4.7-4.1 1.1-1.5-3.4-2.5-5.2-6.6-2.9-1.4-3.9-0.8-4.7 0.3-3.2-2.1-4 1.1-3.6-1.2-0.5-1.8 2.2-2.9 2.3-0.9 4.7 0.7 6-2.6 7.2 5.3 2.5-0.5 1.4 1.2 0.7 0.3-0.7-3.7 0.3-3.4 1.9-2.5 3.9-1 7.3 2.2 3.7 0.3-1.2-2.5 2.5-1.2 1.3-0.3 1.6 0.1-2.3-2.7-3.6-0.7-8.2 0.8 0.6-1.9-0.6-2.6 0-2 0.6-1.3 1.5-2.1 0-2-1.2-2.9-2.2-0.6-2.4 1.1-1.7 2.4-0.2 1.6 1.1 3.2 0.2 1.8-0.3 0.3-1.9 3.8-1.8 6.5-1.6 2.3-3.1 0.3 0-0.5-1-0.7 0.6-1.1 0.9-2 0.6-1-2.1-1.1-1.5 0.6-1.4 1.3-2.1 0.6-4.2-0.9-1.3 0.6-0.3 2-2.1 0-3.5 1.1-1.6-0.9-0.6-2 1.2-1.9 3.2-3.2 1.2-1.8 0.6-1.4 0.4-2.8-0.5-2.9 0.6-1.4 2-1.8-1.9-1.6-1.8-3.2-0.9-3.8 0.3-3.2 2.2-2 3-2.1 0.9-1.7-3.9-0.9-1.8 0.3-1.9 1.9-2.8 1.2 0.3 1.9 0.7 2.2 0.1 1.8-2.2 2.1-2.9 0.2-2.8-0.9-1.9-1.4 2.1-1.3-1.4-1-1.2-1.2-0.9-1.4-0.8-1.8 1.8-0.9 1.8 0.1 3.9 0.8-0.4-4.1 4.4-4.4-1.2-4.1-4.5-6.2-2.8-2.6-3-1 1.2 4.3-1.1 2.5-2.2 0.1-2.2-3 1.4-2-4-5.4-0.6-3.2 2.3-2.7 3.2-0.4 2.9 1.4 1.3 3.1 2-1.3 1.1-2.2 1.3-4.4 1.1 2.2 0.2 1.8-0.4 3.6-0.8 1.8-0.1 1.1 0.3 1.2 1.3-0.3 0.5 0.3 0.8 3.7 0.6 0.6 1.9 1.1 1.5 0.6 2.7 0.1 1.2 0.7-0.9 2.2 0.2 2.1 1.1 2 1.7 1.7 4-9 0.4-3.1 0-3.5-0.8-1.2-3-0.8-1.2-0.7-1.1-1-1.6-4.4-5.2-6.1-1.2-2.7 0.3-1 1.5-1.8 0.4-1.8-1.7-1.2-0.8-1.6 0.3-2.6-2 0.8-2.1 0.3-4.5 0.1 1.7-2.2 2.9-0.7 3.3-0.2 2.9-0.7-1-0.3-1-0.9-1.3-0.2 0.8-1.8 3-2.9 0.5-1.5-1-3.8 0.5-3 1.4-3 3.5-5.3 0.9 0.9 2.3 3 2.8 0.9 1.4-0.1-0.4-1.4-3-3.5 3.3-1 15.4-4.3 4.5 1.2-0.9 7.1-1 5.2-0.2 5.3 3.9 1.3 4.7-1.2 5.1-1.8 5.3-0.8 2.1-1.6 2.3-1.4 2.7-0.7 2.6-1.3 2.1-1.8 1.3-2.8-0.3-2-0.1-2 2-1.5 1.4-2.2-0.1-2.6 0-2.7 4-3.5 5.3 0.5 2.7-3.1 2.8 0.2 2.8 1.1 4.8 4 7.5 10.1 4.8-0.1 0.4-2.7 1-2.6 1.6-1.5 1.1-2 4.7-0.3 3.2 4.9-1.4 5.6 0.9 3.6 3.3 3.7-0.2 6.4 3.8 4 5.9 0.9 4.5-2.7 4.8-0.8 3.3 0 2.7-0.7 2.4 1.9 2.7 1.6 5.9 0.1 5.7-0.8 5.3 0 4.9-0.7 4.6-5 5.8-3.2 10.1 3.7 9 7.3z m-108.1 4.2l-4.4 1.3-4.1 1-5.7-1.5-3.4 3.2 4.3 9.5 8.6 5.2 9.8 1.6 6.2-8.3-3.2-8.9-8.1-3.1z" id="KOR2506" name="jeonnam" class="air-lv1">
            </path>
        </a>
        <a href="#" onmouseover="document.getElementById('a-busan').style.display='block';" onmouseout="document.getElementById('a-busan').style.display='none';">
            <path d="M710.4 706.9l-1.3 1.6-1-0.8-1.1-1.4-3-1.7-1.5-1.7 0.1-2.4 1.2-1.2 1.6 0.1 1.5 2.1 1.4 1.5 1.1 0.6-1 0.8-0.2 1.4 2.2 1.1z m16.2-20.3l-0.8 1.5-4.2-0.1-2.2 0.4-1.7-0.1-1.7 0.8-1.9 0.2-0.1 2.7 1.2 1.9 0.2 2.3-0.8 2.5-3.5 1.7-4.6-4-1.3-1.5-4.2 4.4-1.9 3.6-0.6 3.7-1.2 0.9-0.8-1.9-1.9-2 0.5 5.7-1.2 0-0.5-1.3-0.7-0.3-3.1 2.1-1.1-1.3-1.3-4.4 0.6-3.9 1.2-5 0.2-2.8 1.3-2.4 2.4-3 2.3-3.4 1.6-11.5 2.3-2.8 3-2.2 3.7-1.5 4 0.2 3.1 2 0.9 4.2 2.8 4 3.7 2.9 2.8 3.7 3.2 3.3 0.3 0.7z" id="KOR2507" name="busan" class="air-lv1">
            </path>
        </a>
        <a href="#" onmouseover="document.getElementById('a-ulsan').style.display='block';" onmouseout="document.getElementById('a-ulsan').style.display='none';">
            <path d="M767.7 599.7l1.3 2.2-0.6 4.2-0.3 5-1.1 7.6-1.6 3.2-2.6 3.5-2.4 1.3-1-3.4-1-4.5-2-3.3-2.2-0.6-1.3 3.8 2.1 0.5 1.3 1.6 0.6 2.4 0.2 2.8-0.7 2.6-1.6 0.6-1.8 0.2-1.3 1.2 0.2 1.4 0.2 3.6 0.7 3.8-2.8 4.8 1.3 1.8 1 1.1-0.2 2.6-3.2 1.1-3.1 1.8-4.4 4.4-3.7-0.1-0.1 0.2-0.6-0.6-4.5-1.6-3.5-3.4-1-5.4-3.7-2.8-8.1-4.5-6.8-7.8-4.1-3.2-9.8-1.5-2.4-4.8 4-8-0.7-7.7 3.8-3.1 4.1-2.4 2.4 0 1-2-1.5-2.5-0.8-2.7 5.3-4.1 6.7-2.4 5.5-0.8 5.3 1.1 5.6 2.4 1.4 2.4 0.1 2.9 0.4 2.6 2 1.4 2.6 0.7 14.8-2.6 12.5 3 0.1 0z" id="KOR2508" name="ulsan" class="air-lv1">
            </path>
        </a>
        <a href="#" onmouseover="document.getElementById('a-gyeongbuk').style.display='block';" onmouseout="document.getElementById('a-gyeongbuk').style.display='none';">
            <path d="M762,402.5l0.8,8.1l2.2,8.1l0.8,8.1l-0.9,16.8l-1,3.6l-4.9,6l-1.9,3.3l-0.8,3.9l-0.7,23.7l0.5,3.2
        l1,1.8l1,0.7l0.9,1l0.9,6.7l1.2,5.1l1.3,0.9l0.8,1.1l-0.6,3.1l-1.3,1.7l-1.6,0.8l-1.6,0.5l-2.6,2.2l-0.2,2.7l3.4,3.1l2.4,2.7
        l2.5,3.1l3.2,0.5l4.1-3.2l10-11l2-3.3l2.6,2.1l0.6,3.4l1.1,3.5l0.8,3.9l-2.5,3.9l-5.7,11.3l-0.4,5.1l-1.7,13.4l-4.1,11.6l0.2,7.3
        l-4.2,12.6l-3.1,6.1l-1.3,3.1l1.3,3.4l1.2,1.5h-0.1l-12.5-3l-14.8,2.6l-2.6-0.7l-2-1.4l-0.4-2.6l-0.1-2.9l-1.4-2.4l-5.6-2.4
        l-5.3-1.1l-5.5,0.8l-6.7,2.4l-5.3,4.1l0.8,2.7l1.5,2.5l-1,2h-2.4l-4.1,2.4l-3.8,3.1l-4.4,1.5l-4.7-2.2l-6.1-1.5l-5.7,2.3l-1.8,2.4
        l-2.2,1.9l-2.3,0.3l-2.2,0.8l-5.2,4.1l-5.9-0.2l-4.9-2.6l-5.2-1.6l-5.9,1.1l-5.8,0.6l-4.9-3.1l-4-4.9l-1.3-10.8l-3.7,2.9l-3.9,5.6
        l-4.3-0.9l-8.5,4.3l-4.5-0.9l-4-3l-4.3-2.1l-4.6-0.7l-4.7,0.6l-9.8-0.4l-2.5-9l1.9-4.4l0.1-4.6l-2.1-2.5l-2.4-1.5l-0.6-1.7l-0.9-1.8
        l-3.5-2.5l-2.1-4l-3-3.3l-4.1-1.3h-4.5l-4.5-0.4l-2.6-1.7l-2-1.7l-4.8-0.4l-2.6-1l-0.6-1.6l-0.2-1.6l-2.9-2.3l-3.2-1.9l-1.3-4.3
        l0.8-12.5l-6.5-11.1l3.8-1.8l4-1.4l2.4-4.8l1.4-5l1.2-2.2l1.5-1.8l0.4-3.3l-0.1-2.6l-0.9-5.3l3.9-3.3l3.8,0.7l3.3,0.2l-1.8-10.2
        l-3.5-2.7l-8.1,2l-3.1-1.5l-4.5-3.7l-3.8-1.3l-6.4,1.5l-0.9-9.3l3.5-3.1l2.3-4.5l-1.8-3.1l-1-3.4l1-4.7l0.6-10.7l1.6-4.5l2.8-2.8
        l-7.7-11.3l-6.2-1.1l-1.8-4.5l2.4-1.1l2.3-0.4l2.3-2.5l3.5-4.8l0.9-2l-0.1-1.8l0.4-2.4l4.9-3.3l5.6-2.6l3.4-5.2l6,2.7l11.3,1.7
        l-2.3-4.4l-3.1-3.9l1.1-4.1l2-4.3l1.9-3.2l2.5,1.6l3.2-0.2l2.6-3.5l2.7-1.8l2.5,1.7l4.9,1.7l4.6,0.4l1.1-3.3l0.8-3.1l1.6-2.6l2.1-2
        l2,2.3l2.7,1.9l3.7,3.2l2.4,4.8l5.6,1.8l13.3-5.5l2.3-7.8l-2.1-1.9l-1.1-2l2-3.7l1.7-3.7l3.4-5l4.9-3.5l1.4-2.5l2-1.6l3.2-1.1
        l2.7-2.5l4-3.4l3.7-3.9l1.5-0.9l1.9,0.7l2.1-1.3l1.9-2.2l4.1,2.2l3.9,1.6l4.7,1.1l4.1,0.3l0.9-4.2l0.5-4.5l-1-4.9l2.8-3.5l4.3-2.1
        l4.4,0.4l2.2,3.9l3,0.7l2.8,1.4L676,318l0.4,3.5l4.7-1.9l4.5-3.5l1.9,0.8l1.4,1.8l1.7,0.2l2.1-0.8l6.2,1l5.8,2.7l4.2-1.1l4.3-2.2
        l5.4,1.2l4.9,3l1.6,4.6l-3.8,2.8l-4.6-1.8l-3,1.1l-2.7,2l-1.1,4.9l0.7,6.5l3.3,4.9l5.2,2.5l1.1,4.2l1.5,3.6l3.7,1.6l3.4,1.9
        l11.6,0.9l-0.7,4.5l1.4,1.3l1.2,1.5l-1.7,4.9l-2.1,5.3l0.4,5.5l1.4,4.9l0.5,4.4l-1.7,4.7l10.9,4.1l5.1-2.3l5.3,1.2L762,402.5
        L762,402.5z M656.6,550.7l0.9-3.1l-0.1-3.3l-0.3-3.1l-1.7-1.4l-1.3-2l-0.1-4.9l0.8-1.3l0.1-1.6l-2-3.5l-6.4-4.6l-8.3,0.5l-10.1,1.4
        l-7.4,6.2l1,8.9l-2.8,3l-1.7,3.8l1.5,0.3l1.4,0.5l-0.3,1.9l-0.6,1.9l-2.6,0.4h-2.4l-2.1,3.1l0.9,3.6l2.5,0.9l2.3,2.3l1.8,3.6
        l2.8,2.3l2,1.3l1.4,1.2l1.3-1l2.2-4l2.3-1.8l5.1,0.5l9.1,2.4l3.6-2.1l0.4-1.9v-1.2l1.5-3.9l0.2-1.7V553l1.5-0.1l1.1,0.4L656.6,550.7
        L656.6,550.7z M975.2,234.5l-3,1.6l-4-0.8l-3.9-2.4l-2.6-3.1l-0.9-4.1l1.4-3l2.8-1.9l5.6-1l3.8-1.4l1.9-0.4l2.7,2.1l-0.2,5l-1.7,5.7
        L975.2,234.5L975.2,234.5z M998.6,245.2l-1.1,0.6l-1.5-0.3l-1.4-0.9l-1-1.2l-0.3-1.5l0.5-1.1l1-0.7l2.1-0.4l1.4-0.5l0.7-0.1l1,0.8
        l-0.1,1.9l-0.6,2.1L998.6,245.2L998.6,245.2z" id="KOR2509" name="gyeongbuk" class="air-lv1">
            </path>
        </a>
        <a href="#" onmouseover="document.getElementById('a-jeju').style.display='block';" onmouseout="document.getElementById('a-jeju').style.display='none';">
            <path d="M350.7 994.4l1.8 2.8 2.4 1.8 7.6 3.1 2.3 2.3 1.6 5.7 1.5 2.2 1.8-1.7 0.4-0.8 1.2 2.5-0.8 0.8-1.5 0.5-1.1 1.3 0.1 1.1 1 1.8 0 1-0.5 1-1.7 2.3-2.8 3.4-5.4 4.3-1.7 3.5-2.3 4.2-0.2 1.7-1 2.5-3.9 0.4-1.5 0.8-4.2-0.3-6 4.8-16 2.9-5.4 4.6-6.5 1.4-7.1-0.7-8 1.5-6.6-2-15.1 0.2-4.7 2.2-2.7 5-2.6 0.5-2.5-1.2-3.6-5.9-4.8-1.6-4.7-4.9-1.6-5.9 2.8-7.8 2.7-4.7 1.6-1.7 5.5-3.3 4.7-8.2 4.3-1.1 2-4.3 7.4-2.6 16.2-4.6 4-3.5 15.4-1.6 10.5-4.6 2.6 0.7 12.7-2 7.5-0.7 4.9 0.9z" id="KOR2510" name="jeju" class="air-lv1">
            </path>
        </a>
        <a href="#" onmouseover="document.getElementById('a-sejong').style.display='block';" onmouseout="document.getElementById('a-sejong').style.display='none';">
            <path d="M417.6 396.7l-3.1 6.7 0.3 3.3-2 5.7-0.7 6.1 11.7-2.4 12 0.8-0.1 2.1-0.8 1.9-0.3 1.5 0.5 1.2 0.3 2-0.3 2.1-0.7 1.9-3.6-0.3-17.5 4.8-10.8 3-14.4-2.9 1.4-4.1 2.4-2.3-0.5-29.9 3.7-10.2 22.5 9z" id="KOR5129" name="sejong" class="air-lv2">
            </path>
        </a>
    </svg>
</div>
<div class="air-grade">
    <ul>
        <li class="air-lv1">좋음 (~15)</li>
        <li class="air-lv2">보통 (~35)</li>
        <li class="air-lv3">나쁨 (~75)</li>
        <li class="air-lv4">매우나쁨 (76~)</li>
    </ul>
    <p><small>PM2.5 농도기준 (㎍/m3)</small></p>
</div>