<div class="basic-body-sub">
			
<script src="https://kofoti.synology.me/texmap/js/viewimageresize.js"></script>

<!-- 게시물 읽기 시작 { -->

<article id="bo_v" style="width:100%">
    <header>
        <h2 id="bo_v_title">
                        <span class="bo_v_tit">
            테스트 게시글 입니다.</span>
        </h2>
    </header>

    <section id="bo_v_info">
        <h2>페이지 정보</h2>
        <span class="sound_only">작성자</span> <strong><span class="sv_member">섬산협</span>&nbsp;(115.21.246.34)</strong>
        <span class="sound_only">댓글</span><strong><a href="#bo_vc"> <i class="fa fa-commenting-o" aria-hidden="true"></i> 0건</a></strong>
        <span class="sound_only">조회</span><strong><i class="fa fa-eye" aria-hidden="true"></i> 0회</strong>
        <strong class="if_date"><span class="sound_only">작성일</span><i class="fa fa-clock-o" aria-hidden="true"></i> 21-06-02 07:44</strong>
    </section>
    
    
        <!-- 첨부파일 시작 { -->
    <section id="bo_v_file">
        <h2><i class="fa fa-download" aria-hidden="true"></i> 첨부파일</h2>
        <ul>
                    <li>
                <a href="https://kofoti.synology.me/texmap/bbs/download.php?bo_table=test&amp;wr_id=1&amp;no=0" class="view_file_download">
                    <strong>개인정보처리방침_작성예시민간용.hwp</strong>
                </a>
                 (53.5K)
                <span class="bo_v_file_cnt">0회 다운로드 | DATE : 2021-06-02 07:44:40</span>
            </li>
                    <li>
                <a href="https://kofoti.synology.me/texmap/bbs/download.php?bo_table=test&amp;wr_id=1&amp;no=1" class="view_file_download">
                    <strong>알기쉬운통신약관보도자료12.23.hwp</strong>
                </a>
                 (1.2M)
                <span class="bo_v_file_cnt">0회 다운로드 | DATE : 2021-06-02 07:44:40</span>
            </li>
                </ul>
    </section>
    <!-- } 첨부파일 끝 -->
    
    
    <section id="bo_v_atc" class="margin-top-20">
        <h2 id="bo_v_atc_title">본문</h2>

        <div id="bo_v_img">
</div>

        <!-- 본문 내용 시작 { -->
        <div id="bo_v_con">테스트 게시글 입니다.</div>
                <!-- } 본문 내용 끝 -->

        

        <!--  추천 비추천 시작 { -->
                <!-- }  추천 비추천 끝 -->
    </section>

    <div id="bo_v_share">
        <a href="https://kofoti.synology.me/texmap/bbs/scrap_popin.php?bo_table=test&amp;wr_id=1" target="_blank" class="btn btn_b03" onclick="win_scrap(this.href); return false;"><i class="fa fa-thumb-tack" aria-hidden="true"></i> 스크랩</a>
            </div>

    <!-- 게시물 상단 버튼 시작 { -->
    <div id="bo_v_top">
        
        <ul class="bo_v_left">
            <li><a href="https://kofoti.synology.me/texmap/bbs/write.php?w=u&amp;bo_table=test&amp;wr_id=1&amp;page=" class="btn-e btn-e-dark">수정</a></li>            <li><a href="https://kofoti.synology.me/texmap/bbs/delete.php?bo_table=test&amp;wr_id=1&amp;token=162258748060b6b858578a5&amp;page=" class="btn-e btn-e-dark" onclick="del(this.href); return false;">삭제</a></li>            <li><a href="https://kofoti.synology.me/texmap/bbs/move.php?sw=copy&amp;bo_table=test&amp;wr_id=1&amp;page=" class="btn-e btn-e-default" onclick="board_move(this.href); return false;">복사</a></li>            <li><a href="https://kofoti.synology.me/texmap/bbs/move.php?sw=move&amp;bo_table=test&amp;wr_id=1&amp;page=" class="btn-e btn-e-default" onclick="board_move(this.href); return false;">이동</a></li>                    </ul>

        <ul class="bo_v_com">
           <li><a href="https://kofoti.synology.me/texmap/bbs/board.php?bo_table=test" class="btn-e btn-e-dark">목록</a></li>
            <li><a href="https://kofoti.synology.me/texmap/bbs/write.php?w=r&amp;bo_table=test&amp;wr_id=1" class="btn-e btn-e-dark">답변</a></li>            <li><a href="https://kofoti.synology.me/texmap/bbs/write.php?bo_table=test" class="btn-e btn-e-red">글쓰기</a></li>        </ul>

                    </div>
    <!-- } 게시물 상단 버튼 끝 -->

    <div class="view-area-divider"><span class="divider-circle"></span></div>

    
<script>
// 글자수 제한
var char_min = parseInt(0); // 최소
var char_max = parseInt(0); // 최대
</script>
<button type="button" class="cmt_btn">댓글목록</button>
<!-- 댓글 시작 { -->
<section id="bo_vc">
    <h2>댓글목록</h2>
        <p id="bo_vc_empty">등록된 댓글이 없습니다.</p>
</section>
<!-- } 댓글 끝 -->

<!-- 댓글 쓰기 시작 { -->
<aside id="bo_vc_w" class="bo_vc_w">
    <h2>댓글쓰기</h2>
    
<form name="fviewcomment" id="fviewcomment" action="https://kofoti.synology.me/texmap/bbs/write_comment_update.php" onsubmit="return fviewcomment_submit(this);" method="post" autocomplete="off">
    <input type="hidden" name="w" value="c" id="w">
    <input type="hidden" name="bo_table" value="test">
    <input type="hidden" name="wr_id" value="1">
    <input type="hidden" name="comment_id" value="" id="comment_id">
    <input type="hidden" name="sca" value="">
    <input type="hidden" name="sfl" value="">
    <input type="hidden" name="stx" value="">
    <input type="hidden" name="spt" value="">
    <input type="hidden" name="page" value="">
    <input type="hidden" name="is_good" value="">

    <div class="secret-check">
        <input type="checkbox" name="wr_secret" value="secret" id="wr_secret">
        <label for="wr_secret">비밀글사용</label>
    </div>

    <span class="sound_only">내용</span>
        <textarea id="wr_content" name="wr_content" maxlength="10000" required="" class="required" title="내용" placeholder="댓글내용을 입력해주세요"></textarea>
        <script>
    $(document).on("keyup change", "textarea#wr_content[maxlength]", function() {
        var str = $(this).val()
        var mx = parseInt($(this).attr("maxlength"))
        if (str.length > mx) {
            $(this).val(str.substr(0, mx));
            return false;
        }
    });
    </script>
    <div class="bo_vc_w_wr">
        <div class="bo_vc_w_info">
                                            </div>
        <div class="btn_confirm">
            <input type="submit" id="btn_submit" class="btn-e btn-e-xlg btn-e-red" value="댓글등록">
        </div>
    </div>
    </form></aside>

<div class="view-area-divider"><span class="divider-circle"></span></div>

<script>
var save_before = '';
var save_html = document.getElementById('bo_vc_w').innerHTML;

function good_and_write()
{
    var f = document.fviewcomment;
    if (fviewcomment_submit(f)) {
        f.is_good.value = 1;
        f.submit();
    } else {
        f.is_good.value = 0;
    }
}

function fviewcomment_submit(f)
{
    var pattern = /(^\s*)|(\s*$)/g; // \s 공백 문자

    f.is_good.value = 0;

    var subject = "";
    var content = "";
    $.ajax({
        url: g5_bbs_url+"/ajax.filter.php",
        type: "POST",
        data: {
            "subject": "",
            "content": f.wr_content.value
        },
        dataType: "json",
        async: false,
        cache: false,
        success: function(data, textStatus) {
            subject = data.subject;
            content = data.content;
        }
    });

    if (content) {
        alert("내용에 금지단어('"+content+"')가 포함되어있습니다");
        f.wr_content.focus();
        return false;
    }

    // 양쪽 공백 없애기
    var pattern = /(^\s*)|(\s*$)/g; // \s 공백 문자
    document.getElementById('wr_content').value = document.getElementById('wr_content').value.replace(pattern, "");
    if (char_min > 0 || char_max > 0)
    {
        check_byte('wr_content', 'char_count');
        var cnt = parseInt(document.getElementById('char_count').innerHTML);
        if (char_min > 0 && char_min > cnt)
        {
            alert("댓글은 "+char_min+"글자 이상 쓰셔야 합니다.");
            return false;
        } else if (char_max > 0 && char_max < cnt)
        {
            alert("댓글은 "+char_max+"글자 이하로 쓰셔야 합니다.");
            return false;
        }
    }
    else if (!document.getElementById('wr_content').value)
    {
        alert("댓글을 입력하여 주십시오.");
        return false;
    }

    if (typeof(f.wr_name) != 'undefined')
    {
        f.wr_name.value = f.wr_name.value.replace(pattern, "");
        if (f.wr_name.value == '')
        {
            alert('이름이 입력되지 않았습니다.');
            f.wr_name.focus();
            return false;
        }
    }

    if (typeof(f.wr_password) != 'undefined')
    {
        f.wr_password.value = f.wr_password.value.replace(pattern, "");
        if (f.wr_password.value == '')
        {
            alert('비밀번호가 입력되지 않았습니다.');
            f.wr_password.focus();
            return false;
        }
    }

    
    set_comment_token(f);

    document.getElementById("btn_submit").disabled = "disabled";

    return true;
}

function comment_box(comment_id, work)
{
    var el_id,
        form_el = 'fviewcomment',
        respond = document.getElementById(form_el);

    // 댓글 아이디가 넘어오면 답변, 수정
    if (comment_id)
    {
        if (work == 'c')
            el_id = 'reply_' + comment_id;
        else
            el_id = 'edit_' + comment_id;
    }
    else
        el_id = 'bo_vc_w';

    if (save_before != el_id)
    {
        if (save_before)
        {
            document.getElementById(save_before).style.display = 'none';
        }

        document.getElementById(el_id).style.display = '';
        document.getElementById(el_id).appendChild(respond);
        //입력값 초기화
        document.getElementById('wr_content').value = '';

        // 댓글 수정
        if (work == 'cu')
        {
            document.getElementById('wr_content').value = document.getElementById('save_comment_' + comment_id).value;
            if (typeof char_count != 'undefined')
                check_byte('wr_content', 'char_count');
            if (document.getElementById('secret_comment_'+comment_id).value)
                document.getElementById('wr_secret').checked = true;
            else
                document.getElementById('wr_secret').checked = false;
        }

        document.getElementById('comment_id').value = comment_id;
        document.getElementById('w').value = work;

        if(save_before)
            $("#captcha_reload").trigger("click");

        save_before = el_id;
    }
}

function comment_delete()
{
    return confirm("이 댓글을 삭제하시겠습니까?");
}

comment_box('', 'c'); // 댓글 입력폼이 보이도록 처리하기위해서 추가 (root님)

$(function() {
    //댓글열기
    $(".cmt_btn").click(function(){
        $(this).toggleClass("cmt_btn_op");
        $("#bo_vc").toggle();
    });
});
</script>
<!-- } 댓글 쓰기 끝 -->
</article>
<!-- } 게시판 읽기 끝 -->

<script>

function board_move(href)
{
    window.open(href, "boardmove", "left=50, top=50, width=500, height=550, scrollbars=1");
}
</script>

<script>
$(function() {
    $("a.view_image").click(function() {
        window.open(this.href, "large_image", "location=yes,links=no,toolbar=no,top=10,left=10,width=10,height=10,resizable=yes,scrollbars=no,status=no");
        return false;
    });

    // 추천, 비추천
    $("#good_button, #nogood_button").click(function() {
        var $tx;
        if(this.id == "good_button")
            $tx = $("#bo_v_act_good");
        else
            $tx = $("#bo_v_act_nogood");

        excute_good(this.href, $(this), $tx);
        return false;
    });

    // 이미지 리사이즈
    $("#bo_v_atc").viewimageresize();

    //sns공유
    $(".btn_share").click(function(){
        $("#bo_v_sns").fadeIn();
   
    });

    $(document).mouseup(function (e) {
        var container = $("#bo_v_sns");
        if (!container.is(e.target) && container.has(e.target).length === 0){
        container.css("display","none");
        }	
    });
});

function excute_good(href, $el, $tx)
{
    $.post(
        href,
        { js: "on" },
        function(data) {
            if(data.error) {
                alert(data.error);
                return false;
            }

            if(data.count) {
                $el.find("strong").text(number_format(String(data.count)));
                if($tx.attr("id").search("nogood") > -1) {
                    $tx.text("이 글을 비추천하셨습니다.");
                    $tx.fadeIn(200).delay(2500).fadeOut(200);
                } else {
                    $tx.text("이 글을 추천하셨습니다.");
                    $tx.fadeIn(200).delay(2500).fadeOut(200);
                }
            }
        }, "json"
    );
}
</script>
<!-- } 게시글 읽기 끝 -->    </div>