<div class="tab-structure">
    <ul class="nav nav-structure-tabs tab-4">
        <li class="active"><a href="#tab-population-1" data-toggle="tab">전국 일반현황</a></li>
        <li class=""><a href="#tab-population-2" data-toggle="tab">전국 인구 증가 추이</a></li>
        <li class=""><a href="#tab-population-3" data-toggle="tab">전국 인구 및 주거특성</a></li>
        <li class=""><a href="#tab-population-4" data-toggle="tab">전국 도시화 추세 및 도시인구밀도</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="tab-population-1">
            <div class="row vertical-align-middle">
                <div class="col-xs-6">
                    <h3 class="select-title"><span>2018</span>년 <span>전국</span> 일반현황</h3>
                </div>
                <div class="col-xs-6">
                    <ul class="select_block">
                        <li>
                            <div class="select">
                                <select name="year" id="year">
                                    <option disabled="">연도선택</option>
                                    <option value="2005">2005</option>
                                    <option value="2006">2006</option>
                                    <option value="2007">2007</option>
                                    <option value="2008">2008</option>
                                    <option value="2009">2009</option>
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018" selected="">2018</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <button type="button" class="btn btn-select btn-primary">확인</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="table_block">
                <table class="text_table_data">
                    <thead>
                        <tr>
                            <th rowspan="2">년도</th>
                            <th rowspan="2">구 분</th>
                            <th rowspan="2">단 위</th>
                            <th rowspan="2">전 국</th>
                            <th colspan="4" width="291">수도권</th>
                        </tr>
                        <tr>
                            <th>총계</th>
                            <th>서울</th>
                            <th>인천</th>
                            <th>경기</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="8">2018</td>
                            <td>면적</td>
                            <td>㎢</td>
                            <td>100,377.7</td>
                            <td>11,856</td>
                            <td>605.2</td>
                            <td>1,063.3</td>
                            <td>10,187.8</td>
                        </tr>
                        <tr>
                            <td>인구</td>
                            <td>천명</td>
                            <td>51,607</td>
                            <td>25,675</td>
                            <td>9,705</td>
                            <td>2,939</td>
                            <td>13,031</td>
                        </tr>
                        <tr>
                            <td>인구밀도</td>
                            <td>명/㎢</td>
                            <td>514</td>
                            <td>2,165</td>
                            <td>16,034</td>
                            <td>2,764</td>
                            <td>1,279</td>
                        </tr>
                        <tr>
                            <td>지역내총생산</td>
                            <td>-</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>총사업체수</td>
                            <td>-</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>종사자수</td>
                            <td>-</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>제조업체수</td>
                            <td>-</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>자동차대수</td>
                            <td>만대</td>
                            <td>2,320</td>
                            <td>1,033</td>
                            <td>313</td>
                            <td>158</td>
                            <td>562</td>
                        </tr>
                    </tbody>
                </table>
                <p class="sub">
                    자료: KOSIS(국가통계포털)-지역내총생산, 사업체수, 종사자수 제조업체수<br> e나라지표-행정구역상 면적, 인구수, 지역내총생산
                </p>
            </div>
        </div>
        <div class="tab-pane fade" id="tab-population-2">
            <div class="row vertical-align-middle">
                <div class="col-xs-12">
                    <h3 class="select-title"><span>2000 - 2018</span>년 <span>수도권</span> 인구 증가 추이</h3>
                </div>
            </div>
            <div class="table_block margin-bottom-50">
                <table class="table-scores">
                    <thead>
                        <tr>
                            <th>지역</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>전국</td>
                        </tr>
                        <tr>
                            <td>수도권</td>
                        </tr>
                        <tr>
                            <td>서울</td>
                        </tr>
                        <tr>
                            <td>인천</td>
                        </tr>
                        <tr>
                            <td>경기</td>
                        </tr>
                    </tbody>
                </table>
                <div class="table-data-wrapper">
                    <table class="table-data text_table_data">
                        <thead>
                            <tr>
                                <th>2000</th>
                                <th>2001</th>
                                <th>2002</th>
                                <th>2003</th>
                                <th>2004</th>
                                <th>2005</th>
                                <th>2006</th>
                                <th>2007</th>
                                <th>2008</th>
                                <th>2009</th>
                                <th>2010</th>
                                <th>2011</th>
                                <th>2012</th>
                                <th>2013</th>
                                <th>2014</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>47,008</td>
                                <td>47,357</td>
                                <td>47,622</td>
                                <td>47,859</td>
                                <td>48,039</td>
                                <td>48,138</td>
                                <td>48,372</td>
                                <td>48,598</td>
                                <td>48,949</td>
                                <td>49,182</td>
                                <td>49,410</td>
                                <td>49,779</td>
                                <td>50,004</td>
                                <td>50,220</td>
                                <td>50,424</td>
                                <td>51,015</td>
                                <td>51,218</td>
                                <td>51,362</td>
                                <td>51,607</td>
                            </tr>
                            <tr>
                                <td>21,746</td>
                                <td>22,085</td>
                                <td>22,422</td>
                                <td>22,744</td>
                                <td>23,010</td>
                                <td>23,201</td>
                                <td>23,471</td>
                                <td>23,711</td>
                                <td>23,998</td>
                                <td>24,171</td>
                                <td>24,340</td>
                                <td>24,592</td>
                                <td>24,734</td>
                                <td>24,889</td>
                                <td>25,030</td>
                                <td>25,247</td>
                                <td>25,350</td>
                                <td>25,476</td>
                                <td>25,675</td>
                            </tr>
                            <tr>
                                <td>10,078</td>
                                <td>10,087</td>
                                <td>10,042</td>
                                <td>10,030</td>
                                <td>10,036</td>
                                <td>10,011</td>
                                <td>10,035</td>
                                <td>10,042</td>
                                <td>10,081</td>
                                <td>10,104</td>
                                <td>10,051</td>
                                <td>10,042</td>
                                <td>9,983</td>
                                <td>9,926</td>
                                <td>9,891</td>
                                <td>9,941</td>
                                <td>9,843</td>
                                <td>9,766</td>
                                <td>9,705</td>
                            </tr>
                            <tr>
                                <td>2,522</td>
                                <td>2,550</td>
                                <td>2,571</td>
                                <td>2,572</td>
                                <td>2,569</td>
                                <td>2,578</td>
                                <td>2,602</td>
                                <td>2,637</td>
                                <td>2,682</td>
                                <td>2,691</td>
                                <td>2,713</td>
                                <td>2,745</td>
                                <td>2,786</td>
                                <td>2,826</td>
                                <td>2,858</td>
                                <td>2,883</td>
                                <td>2,907</td>
                                <td>2,924</td>
                                <td>2,939</td>
                            </tr>
                            <tr>
                                <td>9,146</td>
                                <td>9,448</td>
                                <td>9,809</td>
                                <td>10,142</td>
                                <td>10,405</td>
                                <td>10,612</td>
                                <td>10,834</td>
                                <td>11,032</td>
                                <td>11,235</td>
                                <td>11,376</td>
                                <td>11,576</td>
                                <td>11,805</td>
                                <td>11,965</td>
                                <td>12,137</td>
                                <td>12,281</td>
                                <td>12,423</td>
                                <td>12,600</td>
                                <td>12,786</td>
                                <td>13,031</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>자료 : 국가통계포털 – 주민등록인구현황, 행정구역별 총인구</p>
            </div>
            <script type="text/javascript">
            google.load("visualization", "1", { packages: ["corechart"] });
            google.setOnLoadCallback(drawChart1);

            function drawChart1() {
                // Some raw data (not necessarily accurate)
                var data = google.visualization.arrayToDataTable([
                    ['지역', '경기', '서울', '인천', '수도권'],
                    ['2000', 9146, 10078, 2522, 21746],
                    ['2001', 9448, 10087, 2550, 22085],
                    ['2002', 9809, 10042, 2571, 22422],
                    ['2003', 10142, 10030, 2572, 22744],
                    ['2004', 10405, 10036, 2569, 23010],
                    ['2005', 10612, 10011, 2578, 23201],
                    ['2006', 10834, 10035, 2602, 23471],
                    ['2007', 11032, 10042, 2637, 23711],
                    ['2008', 11235, 10081, 2682, 23998],
                    ['2009', 11376, 10104, 2691, 24171],
                    ['2010', 11576, 10051, 2713, 24340],
                    ['2011', 11805, 10042, 2745, 24592],
                    ['2012', 11965, 9983, 2786, 24734],
                    ['2013', 12137, 9926, 2826, 24889],
                    ['2014', 12281, 9891, 2858, 25030],
                    ['2015', 12423, 9941, 2883, 25247],
                    ['2016', 12600, 9843, 2907, 25350],
                    ['2017', 12786, 9766, 2924, 25476],
                    ['2018', 13031, 9705, 2939, 25675],
                ]);

                var options = {
                    width: '100%',
                    height: '500',
                    legend: {
                        position: 'top',
                        alignment: 'end',
                        orientation: 'vertical',
                    },
                    titleTextStyle: {
                        fontSize: 18, // 12, 18 whatever you want (don't specify px)
                        bold: true, // true or false
                    },
                    /*
                    vAxis: { title: '인구 증가수' },
                    hAxis: { title: '연도' },
                    */
                    chartArea: { 'width': '87%', 'height': '80%' },
                    seriesType: 'bars',
                    series: { 3: { type: 'line' } }
                };

                var chart = new google.visualization.ComboChart(document.getElementById('chart_population'));
                chart.draw(data, options);
            }
            </script>
            <!--<h3 class="select-title">2000 - 2018년 수도권 인구 증가 추이</h3>-->
            <div id="chart_population"></div>
        </div>
        <div class="tab-pane fade" id="tab-population-3">
            <div class="row vertical-align-middle">
                <div class="col-xs-6">
                    <h3 class="select-title"><span>2015</span>년 <span>서울특별시</span> 인구 및 주거특성</h3>
                </div>
                <div class="col-xs-6">
                    <ul class="select_block">
                        <li>
                            <div class="select">
                                <select name="year" id="city">
                                    <option disabled="">지역선택</option>
                                    <option value="전국" selected="">전국</option>
                                    <optgroup label="수도권">
                                        <option value="수도권">수도권</option>
                                        <option value="서울특별시">서울특별시</option>
                                        <option value="인천광역시">인천광역시</option>
                                        <option value="경기">경기</option>
                                    </optgroup>
                                    <optgroup label="중부권">
                                        <option value="중부권">중부권</option>
                                        <option value="대전광역시">대전광역시</option>
                                        <option value="세종특별자치시">세종특별자치시</option>
                                        <option value="충청북도">충청북도</option>
                                        <option value="충청남도">충청남도</option>
                                        <option value="전라북도">전라북도</option>
                                    </optgroup>
                                    <optgroup label="남부권">
                                        <option value="남부권">남부권</option>
                                        <option value="광주광역시">광주광역시</option>
                                        <option value="전라남도">전라남도</option>
                                    </optgroup>
                                    <optgroup label="동남권">
                                        <option value="동남권">동남권</option>
                                        <option value="부산광역시">부산광역시</option>
                                        <option value="대구광역시">대구광역시</option>
                                        <option value="울산광역시">울산광역시</option>
                                        <option value="경상북도">경상북도</option>
                                        <option value="경상남도">경상남도</option>
                                    </optgroup>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="select">
                                <select name="year" id="year">
                                    <option disabled="">연도선택</option>
                                    <option value="2005">2000</option>
                                    <option value="2006">2005</option>
                                    <option value="2007">2010</option>
                                    <option value="2008" selected="">2015</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <button type="button" class="btn btn-select btn-primary">확인</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="table_block table_fixed">
                <table class="text_table_data">
                    <thead>
                        <tr>
                            <th class="fixedHeader">지역</th>
                            <th class="fixedHeader">총인구(명)</th>
                            <th class="fixedHeader">가구(가구)</th>
                            <th class="fixedHeader">주택(호)</th>
                            <th class="fixedHeader">아파트(호)</th>
                            <th class="fixedHeader">인구밀도(명/㎢)</th>
                            <th class="fixedHeader">면적(㎢)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>전국</td>
                            <td>51,069,375</td>
                            <td>19,560,603</td>
                            <td>16,367,006</td>
                            <td>9,806,062</td>
                            <td>509.19</td>
                            <td>100,295</td>
                        </tr>
                        <tr>
                            <td>서울특별시</td>
                            <td>9,904,312</td>
                            <td>3,914,820</td>
                            <td>2,793,244</td>
                            <td>1,636,896</td>
                            <td>16,370.76</td>
                            <td>605</td>
                        </tr>
                        <tr>
                            <td>강남구</td>
                            <td>541,688</td>
                            <td>214,911</td>
                            <td>176,654</td>
                            <td>133,127</td>
                            <td>13,542.2</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <td>강동구</td>
                            <td>444,385</td>
                            <td>167,009</td>
                            <td>119,824</td>
                            <td>78,697</td>
                            <td>17,775.4</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td>강북구</td>
                            <td>319,992</td>
                            <td>127,462</td>
                            <td>91,806</td>
                            <td>32,651</td>
                            <td>13,333</td>
                            <td>24</td>
                        </tr>
                        <tr>
                            <td>강서구</td>
                            <td>570,507</td>
                            <td>220,598</td>
                            <td>179,045</td>
                            <td>107,304</td>
                            <td>13,914.8</td>
                            <td>41</td>
                        </tr>
                        <tr>
                            <td>관악구</td>
                            <td>519,622</td>
                            <td>238,744</td>
                            <td>121,277</td>
                            <td>53,262</td>
                            <td>17,320.73</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>광진구</td>
                            <td>368,199</td>
                            <td>155,242</td>
                            <td>79,393</td>
                            <td>29,880</td>
                            <td>21,658.76</td>
                            <td>17</td>
                        </tr>
                        <tr>
                            <td>구로구</td>
                            <td>444,832</td>
                            <td>170,651</td>
                            <td>118,047</td>
                            <td>74,594</td>
                            <td>22,241.6</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>금천구</td>
                            <td>250,690</td>
                            <td>103,086</td>
                            <td>57,096</td>
                            <td>27,342</td>
                            <td>19,283.85</td>
                            <td>13</td>
                        </tr>
                        <tr>
                            <td>노원구</td>
                            <td>562,996</td>
                            <td>206,092</td>
                            <td>186,626</td>
                            <td>160,725</td>
                            <td>16,085.6</td>
                            <td>35</td>
                        </tr>
                        <tr>
                            <td>도봉구</td>
                            <td>340,095</td>
                            <td>125,952</td>
                            <td>102,443</td>
                            <td>64,082</td>
                            <td>16,195</td>
                            <td>21</td>
                        </tr>
                        <tr>
                            <td>동대문구</td>
                            <td>364,787</td>
                            <td>153,362</td>
                            <td>98,203</td>
                            <td>59,534</td>
                            <td>26,056.21</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <td>동작구</td>
                            <td>407,894</td>
                            <td>166,706</td>
                            <td>109,362</td>
                            <td>56,969</td>
                            <td>25,493.38</td>
                            <td>16</td>
                        </tr>
                        <tr>
                            <td>마포구</td>
                            <td>381,330</td>
                            <td>159,636</td>
                            <td>116,135</td>
                            <td>63,071</td>
                            <td>15,888.75</td>
                            <td>24</td>
                        </tr>
                        <tr>
                            <td>서대문구</td>
                            <td>308,768</td>
                            <td>125,149</td>
                            <td>92,885</td>
                            <td>45,340</td>
                            <td>17,153.78</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <td>서초구</td>
                            <td>420,804</td>
                            <td>156,703</td>
                            <td>125,403</td>
                            <td>90,084</td>
                            <td>8,953.28</td>
                            <td>47</td>
                        </tr>
                        <tr>
                            <td>성동구</td>
                            <td>295,006</td>
                            <td>118,900</td>
                            <td>82,331</td>
                            <td>59,331</td>
                            <td>17,353.29</td>
                            <td>17</td>
                        </tr>
                        <tr>
                            <td>성북구</td>
                            <td>456,844</td>
                            <td>178,717</td>
                            <td>128,046</td>
                            <td>69,725</td>
                            <td>18,273.76</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td>송파구</td>
                            <td>634,941</td>
                            <td>235,101</td>
                            <td>187,030</td>
                            <td>111,685</td>
                            <td>18,674.74</td>
                            <td>34</td>
                        </tr>
                        <tr>
                            <td>양천구</td>
                            <td>465,512</td>
                            <td>166,139</td>
                            <td>134,097</td>
                            <td>83,827</td>
                            <td>27,383.06</td>
                            <td>17</td>
                        </tr>
                        <tr>
                            <td>영등포구</td>
                            <td>406,528</td>
                            <td>162,570</td>
                            <td>96,195</td>
                            <td>65,088</td>
                            <td>16,261.12</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td>용산구</td>
                            <td>227,282</td>
                            <td>96,385</td>
                            <td>70,723</td>
                            <td>35,343</td>
                            <td>10,331</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>은평구</td>
                            <td>478,374</td>
                            <td>181,725</td>
                            <td>140,330</td>
                            <td>50,419</td>
                            <td>15,945.8</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>종로구</td>
                            <td>161,521</td>
                            <td>68,429</td>
                            <td>43,550</td>
                            <td>12,552</td>
                            <td>6,730.04</td>
                            <td>24</td>
                        </tr>
                        <tr>
                            <td>중구</td>
                            <td>128,478</td>
                            <td>55,508</td>
                            <td>37,478</td>
                            <td>22,186</td>
                            <td>12,847.8</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>중랑구</td>
                            <td>403,237</td>
                            <td>160,043</td>
                            <td>99,265</td>
                            <td>50,078</td>
                            <td>22,402.06</td>
                            <td>18</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <p class="sub">자료: KOSIS. 인구주택총조사</p>
            <script type="text/javascript">
            google.load("visualization", "1", { packages: ["corechart"] });
            google.setOnLoadCallback(drawChart1);

            function drawChart1() {
                // Some raw data (not necessarily accurate)
                var data = google.visualization.arrayToDataTable([
                    ['지역', '인구밀도'],
                    ['강남구', 13696.28319],
                    ['강동구', 18096.64955],
                    ['강북구', 13538.35484],
                    ['강서구', 13780.36232],
                    ['관악구', 17572.60737],
                    ['광진구', 21595.24927],
                    ['구로구', 22109.51225],
                    ['금천구', 18750.18699],
                    ['노원구', 15876.99354],
                    ['도봉구', 16311.51079],
                    ['동대문구', 24940.79256],
                    ['동작구', 24889.97663],
                    ['마포구', 15975.28278],
                    ['서대문구', 17543.63636],
                    ['서초구', 8927.065213],
                    ['성동구', 17518.69117],
                    ['성북구', 18608.7169],
                    ['송파구', 18752.84918],
                    ['양천구', 26738.19644],
                    ['영등포구', 16691.8848],
                    ['용산구', 10392.40969],
                    ['은평구', 16614.95167],
                    ['종로구', 6755.37432],
                    ['중구', 12886.45938],
                    ['중랑구', 21761.30599],
                ]);

                var options = {
                    width: '100%',
                    height: '500',
                    legend: {
                        position: 'top',
                        alignment: 'end',
                        orientation: 'vertical',
                    },
                    titleTextStyle: {
                        fontSize: 18, // 12, 18 whatever you want (don't specify px)
                        bold: true, // true or false
                    },
                    /*
                    vAxis: { title: '인구 증가수' },
                    hAxis: { title: '연도' },
                    */
                    chartArea: { 'width': '87%', 'height': '80%' }
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('chart_residence'));
                chart.draw(data, options);
            }
            </script>
            <div id="chart_residence"></div>
        </div>
        <div class="tab-pane fade" id="tab-population-4">
            <div class="row vertical-align-middle">
                <div class="col-xs-6">
                    <h3 class="select-title"><span>2015</span>년 <span>서울특별시</span> 인구 및 주거특성 <span class="unit">단위 : 인, ㎢</span></h3>
                </div>
                <div class="col-xs-6">
                    <ul class="select_block">
                        <li>
                            <div class="select">
                                <select name="year" id="year">
                                    <option disabled="">연도선택</option>
                                    <option value="2000">2000</option>
                                    <option value="2005">2005</option>
                                    <option value="2010">2010</option>
                                    <option value="2015" selected="">2015</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <button type="button" class="btn btn-select btn-primary">확인</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="table_block">
                <table class="text_table_data">
                    <thead>
                        <tr>
                            <th>지역</th>
                            <th>전체인구(A)</th>
                            <th>도시인구(B)</th>
                            <th>비도시인구(A-B)</th>
                            <th>도시화율(B/A*100)</th>
                            <th>도시지역 면적(C)</th>
                            <th>도시인구 밀도(A/C)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="even">
                            <td class="first_col">전국</td>
                            <td>51,826,059</td>
                            <td>47,596,436</td>
                            <td>4,229,623</td>
                            <td>91.84</td>
                            <td>17,789</td>
                            <td>2,913</td>
                        </tr>
                        <tr>
                            <td class="first_col">수도권</td>
                            <td>25,797,418</td>
                            <td>24,796,905</td>
                            <td>1,000,513</td>
                            <td>96</td>
                            <td>4,562</td>
                            <td>5,655</td>
                        </tr>
                        <tr class="even">
                            <td class="first_col">서울</td>
                            <td>9,765,623</td>
                            <td>9,765,623</td>
                            <td>0</td>
                            <td>100</td>
                            <td>606</td>
                            <td>16,126</td>
                        </tr>
                        <tr>
                            <td class="first_col">인천</td>
                            <td>2,954,642</td>
                            <td>2,887,841</td>
                            <td>66,801</td>
                            <td>97.74</td>
                            <td>580</td>
                            <td>5,096</td>
                        </tr>
                        <tr class="even">
                            <td class="first_col">경기도</td>
                            <td>13,077,153</td>
                            <td>12,143,441</td>
                            <td>933,712</td>
                            <td>92.86</td>
                            <td>3,376</td>
                            <td>3,874</td>
                        </tr>
                    </tbody>
                </table>
                <p class="sub">
                    ※ 인천은 강화군과 옹진군을 제외한 전지역 도시화율 100%임.<br>자료: KOSIS
                </p>
            </div>
            <script type="text/javascript">
                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                        ['연도', '도시인구', '비도시인구'],
                        ['2005', 9535236, 1161979],
                        ['2006', 9747529, 1158504],
                        ['2007', 10049410, 1056801],
                        ['2008', 10280016, 1012248],
                        ['2009', 10495316, 965294],
                        ['2010', 10827503, 959119],
                        ['2011', 10990306, 947109],
                        ['2012', 11119389, 973910],
                        ['2013', 11381947, 852683],
                        ['2014', 11508728, 849102],
                        ['2015', 11687832, 834774],
                        ['2016', 11855896, 860884],
                        ['2017', 11976132, 897763],
                        ['2018', 12143441, 933712],

                    ]);

                    var options = {
                        isStacked: true,
                        width: '100%',
                        height: '500',
                        legend: {
                            position: 'top',
                            alignment: 'end',
                            orientation: 'vertical',
                        },
                        vAxis: { minValue: 0 },
                        chartArea: { 'width': '80%', 'height': '80%' }
                    };

                    var chart = new google.visualization.AreaChart(document.getElementById('chart_urbanization'));
                    chart.draw(data, options);
                }
                </script>
                <div id="chart_urbanization"></div>
        </div>
    </div>
</div>