<h2 class="sound_only">사이트 전체메뉴</h2>
<!-- SNB // -->
<ul id="snb">
    <li class="snb active show">
        <h2><a href="#" target="_self"><b>서비스 소개</b> <sub></sub></a></h2><em class="snb2dDown"><b></b><i class="fa fa-angle-down"></i><u class="fa fa-angle-up"></u></em>
        <ul class="snb2dul">
            <li class="snb2d active show"><a href="#" target="_self"><b><i class="fa fa-angle-right"></i> 개요</b></a></li>
            <li class="snb2d"><a href="#?co_id=company" target="_self"><b><i class="fa fa-angle-right"></i> 시스템 구성 및 사용방법</b></a></li>
            <li class="snb2d"><a href="#" target="_self"><b><i class="fa fa-angle-right"></i> 대기관리권역법 소개</b></a></li>
        </ul>
    </li>
    <li class="snb hide">
        <h2><a href="#" target="_self"><b>기초자료</b> <sub></sub></a></h2><em class="snb2dDown"><b></b><i class="fa fa-angle-down"></i><u class="fa fa-angle-up"></u></em>
        <ul class="snb2dul">
            <li class="snb2d"><a href="#" target="_self"><b><i class="fa fa-angle-right"></i> 기초자료</b></a></li>
            <li class="snb2d"><a href="#" target="_self"><b><i class="fa fa-angle-right"></i> 모델링</b></a></li>
            <li class="snb2d"><a href="#" target="_self"><b><i class="fa fa-angle-right"></i> 방지시설 정보</b></a></li>
        </ul>
    </li>
    <li class="snb hide">
        <h2><a href="#" target="_self"><b>계획수립</b> <sub></sub></a></h2><em class="snb2dDown"><b></b><i class="fa fa-angle-down"></i><u class="fa fa-angle-up"></u></em>
        <ul class="snb2dul">
            <li class="snb2d"><a href="#" target="_self"><b><i class="fa fa-angle-right"></i> 기본계획 수립</b></a></li>
            <li class="snb2d"><a href="#" target="_self"><b><i class="fa fa-angle-right"></i> 시행계획 수립</b></a></li>
        </ul>
    </li>
    <li class="snb hide">
        <h2><a href="#" target="_self"><b>종합평가</b> <sub></sub></a></h2><em class="snb2dDown"><b></b><i class="fa fa-angle-down"></i><u class="fa fa-angle-up"></u></em>
        <ul class="snb2dul">
            <li class="snb2d"><a href="#" target="_self"><b><i class="fa fa-angle-right"></i> 5개년 종합평가</b></a></li>
        </ul>
    </li>
    <li class="snb hide">
        <h2><a href="#" target="_self"><b>자료실</b> <sub></sub></a></h2><em class="snb2dDown"><b></b><i class="fa fa-angle-down"></i><u class="fa fa-angle-up"></u></em>
        <ul class="snb2dul">
            <li class="snb2d"><a href="#" target="_self"><b><i class="fa fa-angle-right"></i> 권역별 기본계획</b></a></li>
            <li class="snb2d"><a href="#" target="_self"><b><i class="fa fa-angle-right"></i> 수도권 기본계획</b></a></li>
        </ul>
    </li>
    <li class="snb hide">
        <h2><a href="#" target="_self"><b>이용안내</b> <sub></sub></a></h2><em class="snb2dDown"><b></b><i class="fa fa-angle-down"></i><u class="fa fa-angle-up"></u></em>
        <ul class="snb2dul">
            <li class="snb2d"><a href="#" target="_self"><b><i class="fa fa-angle-right"></i> 교육영상</b></a></li>
            <li class="snb2d"><a href="#" target="_self"><b><i class="fa fa-angle-right"></i> 공지사항</b></a></li>
            <li class="snb2d"><a href="#" target="_self"><b><i class="fa fa-angle-right"></i> 문의하기</b></a></li>
        </ul>
    </li>
    <li class="snb hide"></li>
</ul>
<!-- // SNB -->
<!-- 서브메뉴바 하단 정보// -->
<dl class="snbCS">
    <dt>기술지원 및 문의</dt>
    <dd>
        <strong><i class="fa fa-phone-square"></i> <span> 032-560-7671</span> </strong>
        <b><span> E-mail. <a href="mailto:duddk195@korea.kr">duddk195@korea.kr</a></span> </b>
        <br>
        <span>운영시간 10:00~16:00</span> </dd>
</dl>
<!-- //서브메뉴바 하단 정보 -->