<div class="tab-structure">
    <ul class="nav nav-structure-tabs tab-3">
        <li class="active"><a href="#tab-traffic-1" data-toggle="tab">선진국 대비 도로밀도 현황</a></li>
        <li class=""><a href="#tab-traffic-2" data-toggle="tab">전국 도로밀도 현황</a></li>
        <li class=""><a href="#tab-traffic-3" data-toggle="tab">연도별 자동차 등록대수 현황</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="tab-traffic-1">
            <div class="row vertical-align-middle">
                <div class="col-xs-6">
                    <h3 class="select-title"><span>2018</span>년 선진국 대비 도로밀도 현황</h3>
                </div>
                <div class="col-xs-6">
                    <ul class="select_block">
                        <li>
                            <div class="select">
                                <select name="year" id="year">
                                    <option disabled="">연도선택</option>
                                    <option value="2009">2009</option>
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018" selected="">2018</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <button type="button" class="btn btn-select btn-primary">확인</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="table_block margin-bottom-50">
                <table class="text_table_data">
                    <thead>
                        <tr>
                            <th rowspan="2" width="80">구분</th>
                            <th rowspan="2">도로연장[A]</th>
                            <th rowspan="2">국토면적[B]</th>
                            <th rowspan="2">인구[C]</th>
                            <th rowspan="2">국토계수<br>[D=(BxC)1/2]</th>
                            <th colspan="3">도로밀도</th>
                        </tr>
                        <tr>
                            <th>국토면적당<br>도로연장</th>
                            <th>인구천명당<br>도로연장</th>
                            <th>국토계수당<br>도로연장</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="first_col">(단위)</td>
                            <td>㎞</td>
                            <td>천㎢</td>
                            <td>천명</td>
                            <td>(㎢‧천명)½</td>
                            <td>㎞/㎢</td>
                            <td>㎞/천명</td>
                            <td>㎞/(㎢‧천명)½</td>
                        </tr>
                        <tr>
                            <td class="first_col">한국</td>
                            <td>110,714</td>
                            <td>100</td>
                            <td>51,826</td>
                            <td>71,990.3</td>
                            <td>1.10</td>
                            <td>2.14</td>
                            <td>1.54</td>
                        </tr>
                        <tr>
                            <td class="first_col">미국</td>
                            <td>6,702,178</td>
                            <td>9,832</td>
                            <td>319,449</td>
                            <td>1,772,236.6</td>
                            <td>0.68</td>
                            <td>20.98</td>
                            <td>3.78</td>
                        </tr>
                        <tr>
                            <td class="first_col">일본</td>
                            <td>1,222,319</td>
                            <td>378</td>
                            <td>126,933</td>
                            <td>219,044.9</td>
                            <td>3.23</td>
                            <td>9.63</td>
                            <td>5.58</td>
                        </tr>
                        <tr>
                            <td class="first_col">영국</td>
                            <td>421,127</td>
                            <td>244</td>
                            <td>64,331</td>
                            <td>125,286.7</td>
                            <td>1.73</td>
                            <td>6.55</td>
                            <td>3.36</td>
                        </tr>
                        <tr>
                            <td class="first_col">프랑스</td>
                            <td>1,071,176</td>
                            <td>549</td>
                            <td>64,121</td>
                            <td>187,623.1</td>
                            <td>1.95</td>
                            <td>16.71</td>
                            <td>5.71</td>
                        </tr>
                        <tr>
                            <td class="first_col">독일</td>
                            <td>643,147</td>
                            <td>357</td>
                            <td>80,646</td>
                            <td>169,678.0</td>
                            <td>1.80</td>
                            <td>7.97</td>
                            <td>3.79</td>
                        </tr>
                        <tr>
                            <td class="first_col">스페인</td>
                            <td>667,337</td>
                            <td>506</td>
                            <td>46,260</td>
                            <td>152,995.3</td>
                            <td>1.32</td>
                            <td>14.43</td>
                            <td>4.36</td>
                        </tr>
                    </tbody>
                </table>
                <p class="sub">출처 : 2019도로현황조서(국가별 도로 보급률, http://www.rsis.kr/), 국토교통 통계누리</p>
            </div>
            <div class="row margin-bottom-20">
                <div class="col-xs-12">
                    <h3 class="select-title">국가별 국토계수당 도로연장 추이</h3>
                </div>
            </div>
            <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['연도', '독일', '미국', '스페인', '영국', '일본', '프랑스', '한국'],
                    ['2009', 1.35, 3.76, 4.49, 3.43, 5.46, 5.14, 1.49],
                    ['2010', 1.35, 3.72, 4.41, 3.42, 5.48, 5.14, 1.49],
                    ['2011', 3.75, 3.76, 4.39, 3.42, 5.52, 5.14, 1.51],
                    ['2012', 3.76, 3.71, 4.92, 3.39, 5.53, 5.51, 1.49],
                    ['2013', 3.76, 3.71, 4.92, 3.39, 5.53, 5.51, 1.49],
                    ['2014', 3.76, 3.71, 4.92, 3.39, 5.53, 5.51, 1.47],
                    ['2015', 3.76225867, 3.714679039, 4.9243343, 3.39268858, 5.534300656, 5.509053537, 1.495805124],
                    ['2016', 3.792944286, 3.709947979, 4.348348538, 3.372417074, 5.555674139, 5.6868081, 1.510371485],
                    ['2017', 3.788381527, 3.781856787, 4.362072527, 3.363995293, 1.579742015, 5.708722375, 1.527345689],
                    ['2018', 3.788381527, 3.781856787, 4.362072527, 3.363995293, 5.580427574, 5.708722375, 1.535112289],
                ]);

                var options = {
                    /*title: '국가별 국토계수당 도로연장 추이',*/
                    curveType: 'function',
                    width: '100%',
                    height: '500',
                    vAxis: { minValue: 0 },
                    chartArea: { 'width': '95%', 'height': '80%' },
                    legend: { position: 'top' }
                };

                var chart = new google.visualization.LineChart(document.getElementById('chart_country'));

               chart.draw(data, options);
            }
            </script>
            <div id="chart_country"></div>
        </div>
        <div class="tab-pane fade" id="tab-traffic-2">
            <div class="row vertical-align-middle">
                <div class="col-xs-8">
                    <h3 class="select-title"><span>2018</span>년 수도권 도로밀도 현황</h3>
                </div>
                <div class="col-xs-4">
                    <ul class="select_block">
                        <li>
                            <div class="select">
                                <select name="year" id="year">
                                    <option disabled="">연도선택</option>
                                    <option value="2005">2005</option>
                                    <option value="2006">2006</option>
                                    <option value="2007">2007</option>
                                    <option value="2008">2008</option>
                                    <option value="2009">2009</option>
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018" selected="">2018</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <button type="button" class="btn btn-select btn-primary">확인</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="table_block">
                <table class="text_table_data">
                    <thead>
                        <tr>
                            <th rowspan="2" width="80">구분</th>
                            <th rowspan="2">도로연장[A]</th>
                            <th rowspan="2">국토면적[B]</th>
                            <th rowspan="2">인구[C]</th>
                            <th rowspan="2">국토계수<br>[D=(BxC)1/2]</th>
                            <th colspan="3">도로밀도</th>
                        </tr>
                        <tr>
                            <th>국토면적당<br>도로연장</th>
                            <th>인구천명당<br>도로연장</th>
                            <th>국토계수당<br>도로연장</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="first_col">(단위)</td>
                            <td>㎞</td>
                            <td>㎢</td>
                            <td>천명</td>
                            <td>(㎢‧천명)½</td>
                            <td>㎞/㎢</td>
                            <td>㎞/천명</td>
                            <td>㎞/(㎢‧천명)½</td>
                        </tr>
                        <tr>
                            <td class="first_col">전국</td>
                            <td>110,714</td>
                            <td>100,364</td>
                            <td>51,826</td>
                            <td>72,121.2</td>
                            <td>1.10</td>
                            <td>2.14</td>
                            <td>1.54</td>
                        </tr>
                        <tr>
                            <td class="first_col">수도권</td>
                            <td>25,557</td>
                            <td>11,855</td>
                            <td>25,798</td>
                            <td>17,488.1</td>
                            <td>2.16</td>
                            <td>0.99</td>
                            <td>1.46</td>
                        </tr>
                        <tr>
                            <td class="first_col">서울</td>
                            <td>8,273</td>
                            <td>605</td>
                            <td>9,766</td>
                            <td>2,430.7</td>
                            <td>13.67</td>
                            <td>0.85</td>
                            <td>3.40</td>
                        </tr>
                        <tr>
                            <td class="first_col">인천</td>
                            <td>3,271</td>
                            <td>1,063</td>
                            <td>2,955</td>
                            <td>1,772.3</td>
                            <td>3.08</td>
                            <td>1.11</td>
                            <td>1.85</td>
                        </tr>
                        <tr>
                            <td class="first_col">경기</td>
                            <td>14,013</td>
                            <td>10,187</td>
                            <td>13,077</td>
                            <td>11,541.9</td>
                            <td>1.38</td>
                            <td>1.07</td>
                            <td>1.21</td>
                        </tr>
                    </tbody>
                </table>
                <p class="sub">출처 : 2019도로현황조서(시도별도로보급률, http://www.rsis.kr/), 국토교통 통계누리(시도별도로보급률)</p>
            </div>
            <script type="text/javascript">
            google.load("visualization", "1", { packages: ["corechart"] });
            google.setOnLoadCallback(drawChart1);

            function drawChart1() {
                // Some raw data (not necessarily accurate)
                var data = google.visualization.arrayToDataTable([
                    ['지역', '경기', '서울', '인천'],
                    ['2005', 1.31, 3.31, 1.38],
                    ['2006', 1.24, 3.31, 1.45],
                    ['2007', 1.21, 3.29, 1.47],
                    ['2008', 1.23, 3.3, 1.48],
                    ['2009', 1.23, 3.28, 1.5],
                    ['2010', 1.24, 3.28, 1.48],
                    ['2011', 1.22, 3.33, 1.5],
                    ['2012', 1.18, 3.34, 1.49],
                    ['2013', 1.16, 3.31, 1.59],
                    ['2014', 1.15, 3.33, 1.59],
                    ['2015', 1.15, 3.35, 1.62],
                    ['2016', 1.16, 3.37, 1.67],
                    ['2017', 1.19, 3.39, 1.8],
                    ['2018', 1.21, 3.4, 1.85],
                ]);

                var options = {
                    width: '100%',
                    height: '500',
                    legend: {
                        position: 'top',
                        alignment: 'end',
                        orientation: 'vertical',
                    },
                    titleTextStyle: {
                        fontSize: 18, // 12, 18 whatever you want (don't specify px)
                        bold: true, // true or false
                    },
                    /*
                    vAxis: { title: '인구 증가수' },
                    hAxis: { title: '연도' },
                    */
                    chartArea: { 'width': '87%', 'height': '80%' },
                    seriesType: 'bars',
                    series: { 3: { type: 'line' } }
                };

                var chart = new google.visualization.ComboChart(document.getElementById('chart_traffic_capital'));
                chart.draw(data, options);
            }
            </script>
            <!--<h3 class="select-title">2000 - 2018년 수도권 인구 증가 추이</h3>-->
            <div id="chart_traffic_capital"></div>
        </div>
        <div class="tab-pane fade" id="tab-traffic-3">
            <div class="row vertical-align-middle">
                <div class="col-xs-6">
                    <h3 class="select-title"><span>전국</span> 연도별 자동차 등록대수 현황<span class="unit">단위 : 대</h3>
                </div>
                <div class="col-xs-6">
                    <ul class="select_block">
                        <li>
                            <div class="select">
                                <select name="year" id="city">
                                    <option disabled="">지역선택</option>
                                    <option value="전국" selected="">전국</option>
                                    <optgroup label="수도권">
                                        <option value="수도권">수도권</option>
                                        <option value="서울특별시">서울특별시</option>
                                        <option value="인천광역시">인천광역시</option>
                                        <option value="경기">경기</option>
                                    </optgroup>
                                    <optgroup label="중부권">
                                        <option value="중부권">중부권</option>
                                        <option value="대전광역시">대전광역시</option>
                                        <option value="세종특별자치시">세종특별자치시</option>
                                        <option value="충청북도">충청북도</option>
                                        <option value="충청남도">충청남도</option>
                                        <option value="전라북도">전라북도</option>
                                    </optgroup>
                                    <optgroup label="남부권">
                                        <option value="남부권">남부권</option>
                                        <option value="광주광역시">광주광역시</option>
                                        <option value="전라남도">전라남도</option>
                                    </optgroup>
                                    <optgroup label="동남권">
                                        <option value="동남권">동남권</option>
                                        <option value="부산광역시">부산광역시</option>
                                        <option value="대구광역시">대구광역시</option>
                                        <option value="울산광역시">울산광역시</option>
                                        <option value="경상북도">경상북도</option>
                                        <option value="경상남도">경상남도</option>
                                    </optgroup>
                                </select>
                            </div>
                        </li>
                        <li>
                            <button type="button" class="btn btn-select btn-primary">확인</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="table_block">
                <table class="table-scores">
                    <thead>
                        <tr>
                            <th colspan="2">부문</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="5">전국</td>
                            <td>총계</td>
                        </tr>
                        <tr>
                            <td>승용</td>
                        </tr>
                        <tr>
                            <td>승합</td>
                        </tr>
                        <tr>
                            <td>화물</td>
                        </tr>
                        <tr>
                            <td>특수</td>
                        </tr>
                    </tbody>
                </table>
                <div class="table-data-wrapper">
                    <table class="table-data text_table_data">
                        <thead>
                            <tr>
                                <th>2005</th>
                                <th>2006</th>
                                <th>2007</th>
                                <th>2008</th>
                                <th>2009</th>
                                <th>2010</th>
                                <th>2011</th>
                                <th>2012</th>
                                <th>2013</th>
                                <th>2014</th>
                                <th>2015</th>
                                <th>2016</th>
                                <th>2017</th>
                                <th>2018</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>15,396,715</td>
                                <td>15,895,234</td>
                                <td>16,428,177</td>
                                <td>16,794,219</td>
                                <td>17,325,210</td>
                                <td>17,941,356</td>
                                <td>18,437,373</td>
                                <td>18,870,533</td>
                                <td>19,400,864</td>
                                <td>20,117,955</td>
                                <td>20,989,885</td>
                                <td>21,803,351</td>
                                <td>22,528,295</td>
                                <td>23,202,555</td>
                            </tr>
                            <tr>
                                <td>11,122,199</td>
                                <td>11,606,971</td>
                                <td>12,099,779</td>
                                <td>12,483,809</td>
                                <td>13,023,819</td>
                                <td>13,631,769</td>
                                <td>14,136,478</td>
                                <td>14,577,193</td>
                                <td>15,078,354</td>
                                <td>15,747,171</td>
                                <td>16,561,665</td>
                                <td>17,338,160</td>
                                <td>18,034,540</td>
                                <td>18,676,924</td>
                            </tr>
                            <tr>
                                <td>1,124,645</td>
                                <td>1,105,636</td>
                                <td>1,104,949</td>
                                <td>1,096,698</td>
                                <td>1,080,687</td>
                                <td>1,049,725</td>
                                <td>1,015,391</td>
                                <td>986,833</td>
                                <td>970,805</td>
                                <td>947,012</td>
                                <td>920,320</td>
                                <td>892,539</td>
                                <td>867,522</td>
                                <td>843,794</td>
                            </tr>
                            <tr>
                                <td>3,102,171</td>
                                <td>3,133,201</td>
                                <td>3,171,351</td>
                                <td>3,160,338</td>
                                <td>3,166,512</td>
                                <td>3,203,808</td>
                                <td>3,226,421</td>
                                <td>3,243,924</td>
                                <td>3,285,707</td>
                                <td>3,353,683</td>
                                <td>3,432,937</td>
                                <td>3,492,173</td>
                                <td>3,540,323</td>
                                <td>3,590,939</td>
                            </tr>
                            <tr>
                                <td>47,700</td>
                                <td>49,426</td>
                                <td>52,098</td>
                                <td>53,374</td>
                                <td>54,192</td>
                                <td>56,054</td>
                                <td>59,083</td>
                                <td>62,583</td>
                                <td>65,998</td>
                                <td>70,089</td>
                                <td>74,963</td>
                                <td>80,479</td>
                                <td>85,910</td>
                                <td>90,898</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="sub">※ 국토교통부(국가통계포털), e나라지표</p>
            </div>
            <script type="text/javascript">
            google.load("visualization", "1", { packages: ["corechart"] });
            google.setOnLoadCallback(drawChart1);

            function drawChart1() {
                // Some raw data (not necessarily accurate)
                var data = google.visualization.arrayToDataTable([
                    ['지역', '인구밀도'],
                    ['강남구', 13696.28319],
                    ['강동구', 18096.64955],
                    ['강북구', 13538.35484],
                    ['강서구', 13780.36232],
                    ['관악구', 17572.60737],
                    ['광진구', 21595.24927],
                    ['구로구', 22109.51225],
                    ['금천구', 18750.18699],
                    ['노원구', 15876.99354],
                    ['도봉구', 16311.51079],
                    ['동대문구', 24940.79256],
                    ['동작구', 24889.97663],
                    ['마포구', 15975.28278],
                    ['서대문구', 17543.63636],
                    ['서초구', 8927.065213],
                    ['성동구', 17518.69117],
                    ['성북구', 18608.7169],
                    ['송파구', 18752.84918],
                    ['양천구', 26738.19644],
                    ['영등포구', 16691.8848],
                    ['용산구', 10392.40969],
                    ['은평구', 16614.95167],
                    ['종로구', 6755.37432],
                    ['중구', 12886.45938],
                    ['중랑구', 21761.30599],
                ]);

                var options = {
                    width: '100%',
                    height: '500',
                    legend: {
                        position: 'top',
                        alignment: 'end',
                        orientation: 'vertical',
                    },
                    titleTextStyle: {
                        fontSize: 18, // 12, 18 whatever you want (don't specify px)
                        bold: true, // true or false
                    },
                    /*
                    vAxis: { title: '인구 증가수' },
                    hAxis: { title: '연도' },
                    */
                    chartArea: { 'width': '87%', 'height': '80%' }
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('chart_residence'));
                chart.draw(data, options);
            }
            </script>
            <div id="chart_residence"></div>
        </div>
    </div>